{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert alert-danger">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors %}

{% block file_widget %}
    <div class="input-group" style="margin:5px 0;">
        <label class="input-group-btn">
              <span class="btn btn-primary">
              Parcourir&hellip; <input
                          type="file"
                          class="form-control-file {{ form.vars.attr.class ?? '' }}"
                          name="{{ full_name }}"
                          value="{{ value }}"
                  />
              </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
{% endblock %}

{% block time_widget %}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block ville_widget %}
    {{- block('form_widget') -}}
    <div id="container_admin" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>
{% endblock %}

{% block check_switch_row %}
    <label class="switch">
        <span class="switch-label">{{ label }}</span>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="switcher"></span>
    </label>
{% endblock %}
