{% extends 'bootstrap_3_layout.html.twig' %}

{% use 'form/_form_theme_common.html.twig' %}

{% block radio_widget -%}
    <div class="form-group col-md-4 radio">
        {{- form_label(form, null, {widget: block('radio_widget', 'form_div_layout.html.twig')}) -}}
    </div>
{%- endblock radio_widget %}
