{% block form_row %}
    <div class="input-group {{ form.vars.row_attr.class ?? "" }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_label %}
    {% if label != false %}
        <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="button">{{ label }}</button>
        </span>
    {% endif %}
{% endblock %}

{% block checkbox_row %}
    <div class="form-group">
        <label class="control-label">
            <input type="checkbox" name="{{ full_name }}" value="{{ value }}" {% if checked %} checked="checked"{% endif %}/>
            {{ label }}
        </label>
    </div>
{% endblock %}

{% block text_auto_complete_row %}
    {{ form_row(form, {attr: {class: 'js-autocomplete-single'}, row_attr: {class: 'js-autocomplete-single-container'}}) }}
    <div class="ui-autocomplete js-autocomplete-single-suggestions"
         style="width:100%;font-size:11px;"></div>
{% endblock %}