{% extends 'base_connected.html.twig' %}

{% block title %}
    Localisation de l'AMAP
{% endblock %}

{% block breadcrumb %}
    {% if app.currentUser.isAdmin %}
        <h5>
            <a href="{{ url('amap_index') }}">
                {{ app.currentUser.isAmapAdminOfAmap(amap) ? 'Gestion de mon AMAP' : 'Gestion des AMAP' }}
            </a>
            <i class="glyphicon glyphicon-menu-right"></i>
            <a href="{{ url('amap_display', {amap_id: amap.id}) }}">{{ amap.nom }}</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            Cartographie
        </h5>
    {% endif %}
{% endblock %}

{% block main %}
    {{ map.js|raw }}
    <div id="map" style="width:100%; height:500px;"></div>
    <br/>
{% endblock %}