{% extends 'base_connected.html.twig' %}

{% block title %}
    Localisation de la ferme
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Cartographie
    </h5>
{% endblock %}

{% block main %}
    {{ map.js|raw }}
    <div id="map" style="width:100%; height:500px;"></div>
    <br/>
{% endblock %}