{% extends 'base_connected.html.twig' %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Reçus AMAP
{% endblock %}


{% block main %}
    <div class="col-md-12">
        <div class="well">
            <form action="" method="get" class="js-form-search">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(searchForm.region) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(searchForm.departement) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(searchForm.adhesion) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(searchForm.etudiante) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(searchForm.keyword) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(searchForm.amapSupprimee) }}
                    </div>


                    <div class="col-md-12 text-right">
                        <a class="btn btn-primary" href="{{ url('adhesion_amap') }}"><i
                                    class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche</a>
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-list"></i> Générer
                            la liste
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form method="POST" action="{{ url('adhesion_amap_action') }}">
        <div class="col-md-12">
            {% if adhesions|length > 0 %}
                <button
                        class="btn btn-success js-trigger-modal"
                        name="action-generate"
                        type="submit"
                        data-title="Êtes-vous sûr ?"
                        data-message="Vous allez générer tous les reçus en brouillon. Cette action va se lancer dès la prochaine minute. Veuillez actualiser la page afin d’accéder aux reçus."
                        data-confirm-class="btn-danger"
                >Générer les reçus
                </button>
                <button
                        class="btn btn-success"
                        name="action-download"
                        type="submit"
                >Télécharger
                </button>
                <button
                        class="btn btn-danger js-trigger-modal"
                        name="action-delete"
                        type="submit"
                        data-title="Êtes-vous sûr ?"
                        data-message="Vous allez supprimer les reçus sélectionnés. Cette action est irréversible"
                        data-confirm-class="btn-danger"
                >Supprimer les reçus
                </button>
                <button
                        class="btn btn-success js-trigger-modal"
                        name="action-notify"
                        type="submit"
                        data-title="Êtes-vous sûr ?"
                        data-message="Vous allez notifier les utilisateurs sélectionnés."
                        data-confirm-class="btn-danger"
                >Notifier par email
                </button>
            {% endif %}

            {% for adhesion in adhesions %}
                <input
                        type="checkbox"
                        class="js-input-binded hidden"
                        name="selected[{{ adhesion.id }}]"
                />
            {% endfor %}
        </div>
    </form>

    {% if adhesions|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
                <thead>
                <tr>
                    <th data-orderable="false">
                        <input
                                type="checkbox"
                                class="js-tableselect-all"
                        />
                    </th>
                    <th>Numéro de reçu</th>
                    <th>Nom</th>
                    <th>Année</th>
                    <th>Statut</th>
                    <th>Createur</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for adhesion in adhesions %}
                    <tr>
                        <td>
                            <input
                                    type="checkbox"
                                    class="js-tableselect-row js-binder"
                                    data-target-name="selected[{{ adhesion.id }}]"
                            />
                        </td>
                        <td>{{ adhesion.value.voucherNumber }}</td>
                        <td>{{ adhesion.amap }}</td>
                        <td>{{ adhesion.value.year }}</td>
                        <td>{{ adhesion.state|trans([], 'adhesion_label') }}</td>
                        <td>{{ adhesion.creator.emails|join(';') }}</td>
                        <td>
                            {{ bouton_action('', [
                                [is_granted('ACTION_ADHESION_AMAP_DOWNLOAD', adhesion), url('adhesion_amap_download', {id: adhesion.id}), 'file', 'Télécharger le reçu'],
                                [is_granted('ACTION_ADHESION_AMAP_DELETE', adhesion), '#modal_remove_' ~ adhesion.id, 'remove', 'Supprimer le reçu'],
                            ]) }}

                            {{ modals.modal_oui_non(
                                'modal_remove_' ~ adhesion.id,
                                'Voulez-vous vraiment supprimer le reçu <strong>' ~ adhesion.value.VoucherNumber ~ '</strong>',
                                url('adhesion_amap_delete', {id: adhesion.id}),
                                'Cette action est irréversible'
                            ) }}

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
