{% extends 'base_connected.html.twig' %}

{% block title %}
    Mes reçus
{% endblock %}

{% block main %}
    <div class="col-md-12">
        <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Année</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for adhesion in adhesions %}
                <tr>
                    <th>Reçu année {{ adhesion.value.year }}</th>
                    <th>{{ adhesion.value.year }}</th>
                    <td>
                        {{ is_granted('ACTION_ADHESION_FERME_DOWNLOAD', adhesion) ? bouton_action(
                                '',
                                [
                                    [true, url('adhesion_paysan_download', {id: adhesion.id}), 'file', 'Télécharger le reçu'],
                                ]
                            ) : '' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
