{% extends 'base_connected.html.twig' %}

{% block title %}
    Import des reçus
{% endblock %}

{% macro print_errors(expectedAction, context) %}
    {% if expectedAction == context.action %}
        {% for error in context.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block main %}

    <div class="alert alert-info">
        Cet outil vous permet d'importer les informations nécessaires à la création de reçus. Pour importer des éléments en masse, vous devez d'abord remplir un fichier Excel au format XLS. Il est très important de respecter la structure du modèle mis à disposition en téléchargement dans chaque rubrique (nombre et nom des colonnes) et un format de donnée standard. Une fois que votre fichier Excel est prêt, vous pouvez le charger dans l'application.
    </div>

    <div class="well">
        <h4>AMAP</h4>
        <a href="{{ site_url('assets/import/Import_adhesion_amap.xls') }}" target="_blank">Exemple de format attendu</a>

        {{ _self.print_errors('amap', _context) }}
        <form action="{{ url('adhesion_import') }}" method="POST" enctype='multipart/form-data'>
            <div class="row">
                <div class="col-xs-12">
                    <input type="file" name="import_amap" class="pull-left" />
                    <button type="submit" class="btn btn-success pull-left ml-1" name="import_amap">Importer</button>
                </div>
            </div>
        </form>
    </div>

    <div class="well">
        <h4>Paysan</h4>
        <a href="{{ site_url('assets/import/Import_adhesion_paysan.xls') }}" target="_blank">Exemple de format attendu</a>

        {{ _self.print_errors('paysan', _context) }}
        <form action="{{ url('adhesion_import') }}" method="POST" enctype='multipart/form-data'>
            <div class="row">
                <div class="col-xs-12">
                    <input type="file" name="import_paysan" class="pull-left" />
                    <button type="submit" class="btn btn-success pull-left ml-1" name="import_paysan">Importer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
