{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_fulllarge.html.twig' %}

{% block title %}Ajout d'un créneau de distribution{% endblock %}

{% block body_class %}page_amap_distribution_ajout{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_row(form.amapLivraisonLieu) }}
    <hr />
    {{ form_row(form.detail.tache) }}
    <hr />
    {{ form_row(form.detail.nbPersonnes) }}
    <hr />
    {{ form_row(form.detail.heureDebut) }}
    {{ form_row(form.detail.heureFin) }}
    <hr />
    {{ form_row(form.repetition) }}
    <hr />
    {{ form_row(form.period.startAt) }}
    {{ form_row(form.period.endAt) }}

    <div class="text-right">
        <a href="{{ url('distribution_index') }}" class="btn btn-default">Annuler</a>
        <button type="submit" class="btn btn-success ml-1">Sauvegarder</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
