{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des inscriptions
{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ url('distribution_index') }}">Gestion de la distrib'AMAP</a> <i
                class="glyphicon glyphicon-menu-right"></i> Gestion des inscriptions</h5>
{% endblock %}

{% block main %}

    <div class="table-responsive well">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>Tâche</th>
                    <td>{{ distribution.detail.tache }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ distribution.date|date }}</td>
                </tr>
                <tr>
                    <th>Heure de début</th>
                    <td>{{ distribution.detail.heureDebut }}</td>
                </tr>
                <tr>
                    <th>Heure de fin</th>
                    <td>{{ distribution.detail.heureFin }}</td>
                </tr>
                <tr>
                    <th>Nombre de personnes nécessaires</th>
                    <td>{{ distribution.detail.nbPersonnes }}</td>
                </tr>
                <tr>
                    <th>Lieu de livraison</th>
                    <td>{{ distribution.AmapLivraisonLieu }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="well">
        <h3 class="small">Inscription des amapiens</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-8">
                {{ form_row(form.amapiens) }}
            </div>
            <div class="col-lg-4">
                <button
                        type="submit"
                        class="btn btn-success"
                >Ajouter un ou plusieurs amapiens
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="well">
        <h3 class="small">Amapiens inscrits</h3>
        <table class="table table-datatable">
            <thead class="thead-inverse">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for amapien in distribution.amapiens %}
                <tr>
                    <td>
                        {{ amapien.user.name.firstName }}
                    </td>
                    <td>
                        {{ amapien.user.name.lastName }}
                    </td>
                    <td>
                        <form action="{{ url('distribution_amap_desinscription', {d_id: distribution.id}) }}"
                              method="POST">
                            <input name="amapien" type="hidden" value="{{ amapien.id }}"/>
                            <button type="submit" class="btn btn-danger">Désinscrire</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group text-right">
      <a href="{{ url('distribution_index') }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}
