{% extends 'base_connected.html.twig' %}

{% block title %}Modifier en lot des distributions{% endblock %}


{% block main %}
    <div class="alert alert-danger">
        Attention : vous allez modifier les distributions suivantes. Toutes les informations seront remplacées par celles du
        formulaire ci-dessous
    </div>

    <h4>Rappel des distributions concernée</h4>
    {{ include('distribution/_distributions_recap.html.twig', {distributions: distributions}) }}

    <h4>Informations à modifier</h4>
    {{ form_start(form) }}
        {{ form_row(form.detail.tache) }}
        {{ form_row(form.detail.heureDebut) }}
        {{ form_row(form.detail.heureFin) }}
        {{ form_row(form.detail.nbPersonnes) }}
        {{ form_row(form.livraisonLieu) }}
        <div class="text-right">
            <button type="submit" class="btn btn-success ml-1">Valider</button>
            <a href="{{ base_url('/distribution') }}" class="btn btn-default">Annuler</a>
        </div>
    {{ form_end(form) }}

{% endblock %}
