{% extends 'base_connected.html.twig' %}

{% block title %}Mes distrib'AMAP{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block main %}
    <div class="alert alert-info">
        Cette page vous permet de vous inscrire à une ou plusieurs tâches proposées par votre AMAP.<br />
        Vous pouvez également visualiser le nom des amapien.ne.s inscrit.e.s sur ces créneaux.
    </div>

    {{ form_start(searchForm) }}
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(searchForm.amap) }}
            </div>
            <div class="col-md-4">
                {{ form_row(searchForm.livLieu) }}
            </div>
            <div class="col-md-6">
                {{ form_row(searchForm.period) }}
            </div>
	</div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(searchForm.filter) }}
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}


    {% if distributions|length == 0 %}
        <div class="alert alert-warning">Pas de créneau disponible pour cette recherche</div>
    {% endif %}

    {% if distributions|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th data-order-data='[0, 2]'>Distrib' du</th>
                    <th>Tâche</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                    <th>Personnes manquantes/nécessaires</th>
                    <th>Inscrits</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for distribution in distributions %}
                    <tr>
                        <th data-order="{{ distribution.date|date("U") }}">
                            {{ distribution.date|date }}
                        </th>
                        <td>
                            {{ distribution.detail.tache }}
                        </td>
                        <td>
                            {{ distribution.detail.heureDebut }}
                        </td>
                        <td>
                            {{ distribution.detail.heureFin }}
                        </td>
                        <td>
                            {{ distribution.placesRestantes }}/{{ distribution.detail.nbPersonnes }}
                        </td>
                        <td>
                            {% set modal_id = "modal_detail_" ~ distribution.id %}
                            <a class="btn btn-success" title="Voir" href="#" data-toggle="modal" data-target="#{{ modal_id }}">Voir</a>
                            {{ modals.modal(
                                modal_id,
                                'Liste des personnes inscrites',
                                distribution.amapiens.count > 0 ? distribution.amapiens|map(a => "#{a.user.name.fullNameInversed}")|join('<br />') : 'Aucun inscrit'
                            ) }}
                        </td>
                        <td>
                            {% if is_granted('ACTION_DISTRIBUTION_AMAPIEN_REGISTER', distribution) %}
                                <form action="{{ url('distribution_inscription', {d_id: distribution.id}) }}" method="POST">
                                    <button class="btn btn-success" title="S'inscrire">S'inscrire</button>
                                </form>
                            {% endif %}
                            {% if is_granted('ACTION_DISTRIBUTION_AMAPIEN_UNREGISTER', distribution) %}
                                <form action="{{ url('distribution_desinscription', {d_id: distribution.id}) }}" method="POST">
                                    <button class="btn btn-danger" title="Se désinscrire">Se désinscrire</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
