{% extends 'portail/login.html.twig' %}


{% block content %}
    {{ parent() }}

    <div class="modal" tabindex="-1" role="dialog" id="contact-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(contactForm) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Formulaire de contact</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        {{ form_row(contactForm.nom) }}
                        {{ form_row(contactForm.prenom) }}
                        {{ form_row(contactForm.email) }}
                        {{ form_row(contactForm.cp) }}

                        <div class="alert alert-info">
                            Le code postal nous permet d'adresser votre message au bon réseau
                        </div>

                        {{ form_row(contactForm.contenu, {attr: {rows: 10}}) }}

                        <div class="form-group text-center">
                            {{ render_nouveau_captcha_img() }}
                        </div>

                        {{ form_row(contactForm.captcha) }}
                        {{ form_row(contactForm.confirmation) }}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(contactForm) }}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascript %}
{{ parent() }}
 <script>
  $('#contact-modal')
    .modal({
      show: true
    })
    // Redirect to previous page on close
    .on('hidden.bs.modal', function () {
      window.history.back()
    })
</script>
{% endblock %}
