{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <img src="{{ base_url('assets/images/header.jpg') }}" alt="Bannière"/>
    </header>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="well">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <label for="statut">Veuillez renseigner votre identifiant ou email et votre mot de passe pour vous connecter : </label>
                </div>

                <div class="col-sm-6">
                    {{ form_widget(form.user, {attr: {placeholder: "Identifiant ou email"}}) }}
                    {{ form_errors(form.user) }}
                </div>

                <div class="col-sm-6">
                    {{ form_widget(form.plainPassword, {attr: {placeholder: "Mot de passe"}}) }}
                    {{ form_errors(form.plainPassword) }}

                    <div class="text-left">
                        <a href="{{ url('portail_mdp_oublie') }}" >Mot de passe oublié ?</a>
                    </div>
                </div>




            </div>

        </div>

        <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-success">Connexion</button>
        </div>
    {{ form_end(form) }}


    {% block main_footer %}
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="well text-left">
                    <p><b>Contact :</b></p>
                    <p>Vous souhaitez administrer {{ SITE_NAME }} pour votre <abbr title="Association pour le Maintien de l'Agriculture Paysanne">AMAP</abbr>,
                        <a href=" {{ url('portail_contact') }}">contactez-nous</a>.
                        <br />Le réseau vous transmettra alors un identitfiant qui vous
                        permettra de gérer votre <abbr title="Association pour le Maintien de l'Agriculture Paysanne">AMAP</abbr> et vos contrats en toute simplicité grâce à {{ SITE_NAME }}.</p>
                    <br />
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="well text-left">
                    <p><b>Pour aller plus loin :</b></p>
                    {{ renderDocumentPortail() }}
                </div>
            </div>
        </div>

        {{ renderSlickLogoReseaux() }}
    {% endblock %}

{% endblock %}

{% block footer %}
   <img src="{{ base_url('assets/images/region-auvergne-rhone-alpes.png') }}" style="margin-top:20px; margin-right:10px; width:260px;"/>
   <img src="{{ base_url('assets/images/logo-grand-lyon-la-metropole.png') }}" style="margin-top:49px; margin-right:15px; width:160px;"/>
   <img src="{{ base_url('assets/images/logopsaderpenap3.png') }}" style="margin-right:15px; width:260px;"/>
   <img src="{{ base_url('assets/images/Logo_CASDAR_MAA.png') }}" style="margin-right:15px; width:150px;"/>
   <img src="{{ base_url('assets/images/Logo_Region_HDF.png') }}" style="width:150px;"/>
{% endblock %}
