{% extends 'portail/login.html.twig' %}

{% form_theme mdpForm 'form/form_theme_vertical.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="modal" tabindex="-1" role="dialog" id="lostpassword-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(mdpForm) }}

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mot de passe oublié</h4>
                </div>
                <div class="modal-body">

                    {{ form_row(mdpForm.user) }}


                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(mdpForm) }}

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
          $('#lostpassword-modal')
          .modal({
          show: true
        })
          // Redirect to connexion page on close
          .on('hidden.bs.modal', function () {
          window.location.href = '{{ url('portail_connexion') }}';
        })
    </script>
{% endblock %}
