{% extends 'portail/login.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="modal" tabindex="-1" role="dialog" id="lostpassword-reset-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(mdpForm) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Nouveau mot de passe</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="password_1" class="col-sm-3 control-label">Mot de passe *</label>
                            <div class="col-sm-9">
                                {{ form_widget(mdpForm.password.first) }}
                            </div>
                        </div>
                        {{ form_errors(mdpForm.password.first) }}

                        <div class="form-group">
                            <label for="lostpassword_email" class="col-sm-3 control-label">Confirmez le mot de passe *</label>
                            <div class="col-sm-9">
                                {{ form_widget(mdpForm.password.second) }}
                            </div>
                        </div>
                        {{ form_errors(mdpForm.password.second) }}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Force du mot de passe</label>
                            <div class="col-sm-9">
                                {{ render_zxcvbn_progress_bar('user_password[password][first]', url('portail_mdp_oublie_test_password', {tokenMdpOuli: token})) }}
                                <p class="help-block">Le mot de passe doit avoir au moins une force de 2 sur 4 <br />
                                    et au moins 8 caractères</p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                {{ form_end(mdpForm) }}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
          $('#lostpassword-reset-modal')
          .modal({
          show: true
        })
          // Redirect to connexion page on close
          .on('hidden.bs.modal', function () {
          window.location.href = '{{ url('portail_connexion') }}';
        })
    </script>
{% endblock %}
