{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}


{% block title %}
    Administrateurs de l'AMAP
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        En utilisant le formulaire ci-dessous, vous allez créer un nouvel utilisateur et l'associer comme administrateur de l'AMAP {{ amap.nom }}.
    </div>

    {{ form_start(form) }}
        {{ include('user_profil/_form_base.html.twig') }}

        <div class="text-right">
            <a href="{{ url('amap_admins', {amap_id: amap.id}) }}" class="btn btn-default">Annuler</a>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascript %}
  {{ parent() }}

      <script>
          initFormUserEmails("{{ form.emails.vars.id }}")
    </script>


<script type="text/javascript">

  /* AUTOCOMPLÉTION CP / VILLE */
  $(document).ready(function () {

    $(function () {
      $("#code_postal_ville").autocomplete({
        source: "{{ url('ajax_get_cp_ville_suggestion') }}",
        dataType: "json",
        minLength: 4,
        appendTo: "#container"
      });
    });

  });

{% endblock %}
