{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Administrateurs de l'AMAP
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Si vous voulez ajouter un administrateur à l'AMAP, indiquez son nom ou email dans le champ ci-dessous.
    </div>

    {{ form_start(form) }}
        {{ form_row(form.user) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    {{ form_end(form) }}

    {% if alertNotFound %}
        <div class="alert alert-danger">
            Aucun utilisateur n'a été trouvé avec cet email ou cet identifiant. Pour créer un nouvel administrateur,

            <a href="{{ url('amap_admins_creation', {amap_id: amap.id}) }}">cliquez ici</a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for admin in amap.admins %}
                <tr>
                    <td>{{ admin.name.firstName }}</td>
                    <td>{{ admin.name.lastName }}</td>
                    <td>{{ user_email_links(admin) }}</td>
                    <td>
                        {{ modals.modal_post(
                            "modal_remove_" ~ admin.id,
                            "Supprimer l'administrateur",
                            "Êtes-vous sûr de vouloir supprimer l'administrateur ?",
                            url('amap_admins_remove', {amap_id: amap.id, user_id: admin.id}),
                            "Confirmer la suppression de l'administrateur"
                        ) }}
                        {{ bouton_action('', [
                            [true, '#modal_remove_' ~ admin.id, 'remove', 'Supprimer l\'administrateur'],
                        ]) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
