{% extends 'base_connected.html.twig' %}

{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block main %}
    <div class="alert alert-info">Une date en vert indique une livraison, cliquer dessus pour voir le détail.</div>

    <div class="table-responsive calendrier">
        {{ calendrier|raw }}
    </div>

    {% if livraisons is defined %}
        {% set i = 0 %}
        {% for key, jour in livraisons %}
            <div class="modal fade" id="modal_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Livraisons du {{ key }}/{{ mois }}/{{ an }}</h4>
                        </div>
                        <div class="modal-body">
                            {% for lieu in livraison_lieu %}
                                <h3 style="font-size:18px;">{{ lieu.nom|ucfirst }} - {{ lieu.adresse }}, {{ lieu.ville.cpString }} {{ lieu.ville.nom }}</h3>
                                {% set mc_nbr = 0 %}
                                {% if jour.mc is defined %}
                                    {% for mc in jour.mc %}
                                        {% set mc_quantites = 0 %}
                                        {% if mc.livraisonLieu.id == lieu.id %}
                                            {% set mc_nbr = mc_nbr + 1 %}
                                            <div class="well">
                                                <h4>Contrat : <strong>{{ mc.nom|ucfirst }}</strong></h4>
                                                <h4>Ferme : <strong>{{ mc.ferme.nom|ucfirst }}</strong></h4>
                                                {% set mc_date = jour.cellules.getMcDateFromMcCellules(mc) %}
                                                {% if mc_date is not null %}
                                                    <h4>Livraison <strong>{{ mc.getDatePosition(mc_date) }} / {{ mc.dates|length }}</strong></h4>
                                                {% endif %}
                                                {% for produit in mc.produits %}
                                                    {% set quantites = jour.cellules.sumByModeleContratProduit(produit) %}
                                                    {% if quantites > 0 %}
                                                        {% if mc_quantites == 0 %}
                                                            <h4>Quantités totales à livrer :</h4>
                                                            <ul>
                                                        {% endif %}
                                                        <li><strong>{{ quantites }}</strong> {{ produit.nom|ucfirst }} ({{ produit.conditionnement }} / {{ produit.prix }} €)</li>
                                                        {% set mc_quantites = mc_quantites + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if mc_quantites %}
                                                    </ul>

                                                    {# Liste des produits à livrer par AMAPIEN #}
                                                    <button class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#amapiens_{{ i }}">Détail par amapien</button>
                                                    <div id="amapiens_{{ i }}" class="alert alert-success collapse" style="padding-top:5px;">
                                                        {% for amapien in amap.amapiensOrderedByName %}
                                                            <div>
                                                                {% set amapien_qty = jour.cellules.getByMcAmapien(mc, amapien) %}
                                                                {% if amapien_qty|length > 0 %}
                                                                    <p style="margin-top:10px;"><strong>{{ amapien.user.name.fullNameInversed }}</strong></p>
                                                                    {% for qty in amapien_qty %}
                                                                        {% if qty.quantite != 0.0 %}
                                                                            <ul>
                                                                                <li><strong>{{ qty.quantite }}</strong> {{ qty.modeleContratProduit.nom|ucfirst }} ({{ qty.modeleContratProduit.conditionnement }} / {{ qty.modeleContratProduit.prix }} €)</li>
                                                                            </ul>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if mc_quantites == 0 %}
                                                    <div class="alert alert-warning">Il n'y a pas encore de souscriptions à ce contrat.</div>
                                                {% endif %}
                                                {% set i = i + 1 %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% if mc_nbr == 0 %}
                                        <div class="alert alert-warning">Il n'y a pas encore de commande pour cette date et ce lieu de livraison.</div>
                                    {% endif %}
                                {% else %}
                                    <div class="alert alert-warning">Il n'y a pas encore de commande pour cette date.</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
