{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}
{% form_theme form 'form/form_theme_vertical.html.twig' %}


{% block title %}
    Le collectif de l'AMAP
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('amap_index') }}">
            {% if app.currentUser.isAmapAdmin %}
                Gestion de mon AMAP
            {% else %}
                Gestion des AMAP
            {% endif %}
        </a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ amap.nom }}
        <i class="glyphicon glyphicon-menu-right"></i> Collectif
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Les rôles de président, trésorier et secrétaire ne peuvent-être attribués qu'une fois. En revanche, un rôle précisé par vos soins avec la mention "Autre" peut-être attribué à plusieurs personnes. En outre, une personne peut avoir plusieurs  rôles.
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url('amap_collectif', {amap_id: amap.id}) }}" class="clearfix">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_errors(form) }}
                            <div class="col-md-4">
                                {{ form_row(form.profil) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.precision) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.amapien) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
                    <input type="submit" value="Valider" class="btn btn-success clearfix"/>
                </div>
            </form>
        </div>
    </div>

    {% set collectifs = amap.collectifs %}
    {% if not collectifs.isEmpty %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Profil</th>
                    <th>Précision</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for coll in collectifs %}
                    <tr>
                        <th scope="row">{{ coll.profil|trans([], 'collectif_profil') }}</th>
                        <td>
                            {% if coll.precision %}
                                {{ coll.precision|lower|ucfirst }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="mailto:{{ coll.amapien.user.emails|join(';') }}">
                                {{ coll.amapien.user.emails|join(';') }}
                            </a>
                        </td>
                        <td>
                            {{ bouton_action(
                                '',
                                [
                                    [true, '#modal_remove_' ~ coll.id, 'remove', 'Retirer le rôle'],
                                ]
                            ) }}
                            {{ modals.modal_oui_non(
                                'modal_remove_' ~ coll.id,
                                'Voulez-vous vraiment supprimer le rôle de <strong>' ~ coll.profil|trans([], 'collectif_profil') ~ ' </strong> à <strong>' ~ coll.amapien.user ~ '</strong>',
                                url('amap_collectif_remove', {coll_id: coll.id}),
                                ''
                            ) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">Aucun rôle n'a encore été défini au sein du collectif de l'AMAP.</div>
    {% endif %}
{% endblock %}
