{% extends 'base_connected.html.twig' %}

{% block title %}
    Validation pour enregistrement
{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ url('amap_index') }}">Gestion des AMAP</a> <i class="glyphicon glyphicon-menu-right"></i>
    Création d'une AMAP <i class="glyphicon glyphicon-menu-right"></i> Validation pour enregistrement</h5>
{% endblock %}

{% block main %}
    {% apply spaceless %} {# Hack to keep existing E2E tests in PHP to twig template migration #}
    <form method="POST">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pt-0">Nom :</th>
                    <td>{{ amap.nom }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Adresse de livraison :</th>
                    <td>
                        <div class="alert alert-success">
                            <strong>Lieu de livraison : </strong>
                            {{ amap.livraisonLieux.first.nom|ucfirst }} - {{ amap.livraisonLieux.first.adresse|ucfirst }}, {{ amap.livraisonLieux.first.ville.cpString }} {{ amap.livraisonLieux.first.ville.nom }} GPS Lat : {{ amap.livraisonLieux.first.gpsLatitude }}. GPS Long : {{ amap.livraisonLieux.first.gpsLongitude }}.
                            <ul>
                                <li><strong>Horaire de livraison : </strong>{{ amap.livraisonLieux.first.livraisonHoraires.first.saison|ucfirst }}, {{ amap.livraisonLieux.first.livraisonHoraires.first.jour|trans([], 'amap_livraison_horaire_jour') }} : {{ amap.livraisonLieux.first.livraisonHoraires.first.heureDebut }} - {{ amap.livraisonLieux.first.livraisonHoraires.first.heureDebut }}.</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="pt-0">Adresse administrative -> Adresse :</th>
                    <td>{{ amap.adresseAdmin }} {{ amap.adresseAdminVille }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Email public :</th>
                    <td>{{ amap.email }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Site web ou blog :</th>
                    <td>{{ amap.url }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Date de création :</th>
                    <td>{{ amap.anneeCreation }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Nombre d'adhérents :</th>
                    <td>{{ amap.nbAdherents }}</td>
                </tr>
                {% if not amap.anneeAdhesions.empty %}
                    <tr>
                        <th class="pt-0">Années d'adhésion :</th>
                        <td>{{ amap.anneeAdhesions|join(' | ') }}</td>
                    </tr>
                {% endif %}
                {% if not amap.tpPropose.empty %}
                    <tr>
                        <th class="pt-0">Produits proposés :</th>
                        <td>{{ amap.tpPropose|join(' | ') }}</td>
                    </tr>
                {% endif %}
                {% if not amap.tpRecherche.empty %}
                    <tr>
                        <th class="pt-0">Produits recherchés :</th>
                        <td>{{ amap.tpRecherche|join(' | ') }}</td>
                    </tr>
                {% endif %}
                {% if admin is not null %}
                    <tr>
                        <th class="pt-0">Administrateur de l'AMAP -> Prénom / Nom :</th>
                        <td>{{ admin.name }}</td>
                    </tr>
                    <tr>
                        <th class="pt-0">Administrateur de l'AMAP -> Email :</th>
                        <td>{{ admin.emails|join(', ') }}</td>
                    </tr>
                    <tr>
                        <th class="pt-0">Correspondant Clic'AMAP -> Adresse :</th>
                        <td>{{ admin.address.adress }} {{ admin.ville }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="pt-0">État :</th>
                    <td>{{ amap.etat|trans([], 'amap_etat') }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Assurance :</th>
                    <td>{{ amap.possedeAssurance ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Etudiante :</th>
                    <td>{{ amap.amapEtudiante ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-right">
        <a href="{{ url('amap_index') }}" class="btn btn-default">Annuler</a> &nbsp;
        <a href="{{ url('amap_produits_creation') }}" class="btn btn-default">Étape précédente</a> &nbsp;
        <input type="submit" value="Sauvegarder" class="btn btn-success"/>
    </div>
    </form>
    {% endapply %}
{% endblock %}