{% extends 'base_connected.html.twig' %}

{% block title %}
    Détails de l'AMAP
{% endblock %}

{% block breadcrumb %}
    {% set retour = app.currentUser.isAmapAdminOfAmap(amap) ? 'Gestion de mon AMAP' : 'Gestion des AMAP' %}
    {% set retour_url = app.currentUser.isAmapAdminOfAmap(amap) ? url('amap_mon_amap') : url('amap_index') %}
    <h5><a href="{{ retour_url }}">{{ retour }}</a> <i class="glyphicon glyphicon-menu-right"></i> {{ amap.nom }}</h5>
{% endblock %}

    {# COMMENTAIRE DATÉ ------------------------------------------------------------ #}

{% block main %}
    {% if is_granted('ACTION_AMAP_COMMENT', amap) %}
        <div class="text-right"><a href="#"><i class="glyphicon glyphicon-pencil" data-toggle="modal"
                       data-target="#modal_commentaire" title="Écrire un commentaire daté" style="font-size:18px;"></i></a></div>

        <p class="clearfix">&nbsp;</p>
        <div class="modal fade" id="modal_commentaire" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Écrire un commentaire daté.</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url('amap_amap_commentaire_add', {amap_id: amap.id}) }}">
                            <div class="form-group text-right clearfix">
                                <textarea class="form-control" rows="8" name="amap_commentaire"></textarea>
                                <br/><input type="submit" value="Valider" class="btn btn-success clearfix"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% for com in amap.CommentsOrdered %}
            <div class="alert alert-warning clearfix">
              <div class="text-right">
		<a title="Supprimer le commentaire" href="{{ url('amap_amap_commentaire_remove', {commentaire_id: com.id}) }}">
		  <i class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Supprimer le commentaire"></i></a>
		</div>
                <h5><strong>Le {{ com.date|date_format_french }} </strong></h5>
                <p style="line-height:24px;">{{ com.comment|nl2br }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="table-responsive well">
        <h3 class="small">{{ amap.nom }}</h3>
        <table class="table">
            <tbody>

                {% if (constant("PsrLib\\ORM\\Entity\\Amap::ETAT_CREATION")is same as(amap.etat)) %}
                    {% set etat = 'en création' %}
                {% elseif (constant("PsrLib\\ORM\\Entity\\Amap::ETAT_FONCIONNEMENT") is same as(amap.etat)) %}
                    {% set etat = 'en fonctionnement' %}
                {% elseif (constant("PsrLib\\ORM\\Entity\\Amap::ETAT_ATTENTE") is same as(amap.etat)) %}
                    {% set etat = 'en attente' %}
                {% else %}
                    {% set etat = 'Inconnu - voir l\'administrateur' %}
                {% endif %}
                <tr>
                    <th>Logo</th>
                    <td>
                        {% if amap.logo is not null %}
                            <img class="amap-logo" src="/{{ amap.logo.FileRelativePath }}" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>État de l'AMAP :</th>
                    <td>{{ etat|ucfirst }}</td>
                </tr>
                <tr>
                    <th>Association de fait :</th>
                    <td>
                        {% set answer = amap.AssociationDeFait ? 'Oui' : 'Non' %}
                        {{ answer }}</td>
                </tr>

                {% if not amap.associationDeFait %}
                    <tr>
                        <th>SIRET :</th>
                        <td>{{ amap.siret }}</td>
                    </tr>
                    <tr>
                        <th>RNA :</th>
                        <td>{{ amap.rna }}</td>
                    </tr>
                {% endif %}

                {% if amap.email != null %}
                    <tr>
                        <th>Email contact public :</th>
                        <td><a href="mailto:{{ amap.email }}">{{ amap.email }}</a></td>
                    </tr>
                {% elseif (amap.amapienRefReseau != null) %}
                    <tr>
                        <th>Email contact public :</th>
                        <td>
                            <div class="mark">
                                <a href="mailto:{{ amap.amapienRefReseau.user.emails|join(';') }}">{{ amap.amapienRefReseau.user.emails|join(';') }}</a>
                                (email du référent réseau)
                            </div>
                        </td>
                    </tr>
                {% endif %}

                {% if amap.url != null %}
                    <tr>
                        <th>Site web :</th>
                        <td><a href="{{ amap.url }}" target="_blank">{{ amap.url }}</a></td>
                    </tr>
                {% endif %}

                {% if amap.anneeCreation != null %}
                    <tr>
                        <th>Date de création :</th>
                        <td>{{ amap.anneeCreation }}</td>
                    </tr>
                {% endif %}

                {% if (amap.nbAdherents != null and amap.nbAdherents != '') %}
                    <tr>
                        <th>Nombre d'adhérents :</th>
                        <td>{{ amap.nbAdherents }}</td>
                    </tr>
                {% endif %}
                {% if amap.TpPropose|length > 0 %}
                    <tr>
                        <th>Produits proposés :</th>
                        <td>
                            {{ amap.TpProposeOrdered|join(' | ') }}
                        </td>
                    </tr>
                {% endif %}

                {% if amap.TpRecherche|length > 0 %}
                    <tr>
                        <th>Produits récherchés :</th>
                        <td>
                            {{ amap.TpRechercheOrdered|join(' | ') }}
                        </td>
                    </tr>
                {% endif %}

                {# @var \Doctrine\Common\Collections\ArrayCollection<\PsrLib\ORM\Entity\AmapLivraisonLieu> $lls #}
                {% set lls = amap.livraisonLieux %}

                {% if lls is not empty %}
                    <tr>
                        {% if lls|length > 1 %}
                            <th>Adresses de livraison :</th>
                        {% else %}
                            <th>Adresse de livraison :</th>
                        {% endif %}

                        <td>

                            {# @var \PsrLib\ORM\Entity\AmapLivraisonLieu $liv_lieu #}

                            {% for liv_lieu in lls %}
                                <div class="alert alert-success">
                                    <strong>
                                        {{ liv_lieu.nom|ucfirst }} -
                                        {{ liv_lieu.adresse|ucfirst }} {{ liv_lieu.ville.cpString }} {{ liv_lieu.ville.nom|upper }}
                                    </strong>

                                    {% set llhs = liv_lieu.livraisonHoraires %}
                                    {% if llhs is not empty %}
                                        <ul>
                                            {# /** @var \PsrLib\ORM\Entity\AmapLivraisonHoraire $liv_hor */ #}
                                            {% for liv_hor in llhs %}
                                                {% if liv_hor.saison and liv_hor.jour and liv_hor.heureDebut and liv_hor.heureFin %}
                                                    <li>
                                                        {% if (constant("PsrLib\\ORM\\Entity\\AmapLivraisonHoraire::SAISON_ETE") is same as liv_hor.saison) %}
                                                            Été
                                                        {% endif %}
                                                        {% if (constant("PsrLib\\ORM\\Entity\\AmapLivraisonHoraire::SAISON_HIVER") is same as liv_hor.saison) %}
                                                            Hiver
                                                        {% endif %}
                                                        ->
                                                        {{ liv_hor.jour|ucfirst }} : <strong>{{ liv_hor.heureDebut }}
                                                            - {{ liv_hor.heureFin }}</strong>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </td>
                    </tr>
                {% endif %}

                {% if lls is not empty and ((lls|first).gpsLatitude is not null) and ((lls|first).gpsLongitude is not null) %}
                    <tr>
                        <th>Coordonnées GPS :</th>
                        <td><a href="{{ url('map_amap_display', {amap_id: amap.id}) }}"><i
                                        class="glyphicon glyphicon-map-marker"></i>&nbsp;Visualiser le ou les adresse(s) de
                                livraison sur une carte</a>&nbsp;
                        </td>
                    </tr>
                {% endif %}

                {% if amap.adresseAdminNom is not empty %}
                    <tr>
                        <th>Nom du lieu de l'adresse administrative</th>
                        <td>{{ amap.adresseAdminNom }}</td>
                    </tr>
                {% endif %}

                {% if amap.adresseAdmin is not empty %}
                    <tr>
                        <th>Adresse Administrative :</th>
                        <td>{{ amap.adresseAdmin|ucfirst }}
                            ,<br/>{{ amap.adresseAdminVille.cpString }} {{ amap.adresseAdminVille.nom|upper }}
                    </tr>
                {% endif %}

                {# /** @var \Doctrine\Common\Collections\ArrayCollection<\PsrLib\ORM\Entity\Amapien> $gestionnaires */ #}
                {% set gestionnaires = amap.amapiensGestionnaires %}
                {% if gestionnaires is not empty %}
                    {% set i = 1 %}
                    <tr>
                        <th>Correspondant(s) Clic'AMAP :</th>
                        <td>
                            {# /** @var \PsrLib\ORM\Entity\Amapien $gestionnaire */ #}
                            {% for gestionnaire in gestionnaires %}
                                {{ gestionnaire.user.name.firstName|ucfirst }} {{ gestionnaire.user.name.lastName|upper }}<br/>

                                {% if gestionnaire.user.numTel1 and gestionnaire.user.numTel2 %}
                                    {{ gestionnaire.user.numTel1 }} | {{ gestionnaire.user.numTel2 }}<br/>
                                {% else %}
                                    {% if gestionnaire.user.numTel1 is not null %}
                                        {{ gestionnaire.user.numTel1 }}<br/>
                                    {% endif %}
                                    {% if gestionnaire.user.numTel2 is not null %}
                                        {{ gestionnaire.user.numTel2 }}<br/>
                                    {% endif %}
                                {% endif %}

                                <a href="mailto: {{ gestionnaire.user.emails|join(';') }}">{{ gestionnaire.user.emails|join(';') }}</a><br/>
                                {% if i < gestionnaires|length %}
                                    <br/>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

                {% set ref_reseau = amap.amapienRefReseau %}
                {% if ref_reseau is not null %}
                    <tr>
                        <th>Correspondant réseau AMAP :</th>
                        <td>{{ ref_reseau.user.name.firstName|ucfirst }} {{ ref_reseau.user.name.lastName|upper }}<br/>
                            {{ ref_reseau.user.numTel1() }}<br/>
                            <a href="mailto:{{ ref_reseau.user.emails|join(';') }}">{{ ref_reseau.user.emails|join(';') }}</a>

                        {% set ref_reseau_ville = ref_reseau.user.ville %}
                        {% if ref_reseau_ville is not null %}
                                <br/><br/>
                            {% if ref_reseau.user.address.adress %}
                                {{ ref_reseau.user.address.adress }},<br/>
                            {% elseif ref_reseau.user.address.adressCompl %}
                                {{ ref_reseau.user.address.adressCompl }},<br/>
                            {% endif %}
                            {{ ref_reseau_ville.cpString }} {{ ref_reseau_ville.nom }}</td>
                        {% endif %}
                    </tr>
                {% endif %}

                {% set ref_reseau_sec = amap.amapienRefReseauSecondaire %}
                {% if ref_reseau_sec is not null %}
                    <tr>
                        <th>Second correspondant réseau AMAP :</th>
                        <td>{{ ref_reseau_sec.user.name.firstName|upper }} {{ ref_reseau_sec.user.name.lastName|ucfirst }}<br/>
                            {{ ref_reseau_sec.user.numTel1() }}<br/>
                            <a href="mailto:{{ ref_reseau_sec.user.emails|join(';') }}">{{ ref_reseau_sec.user.emails|join(';') }}</a>

                        {% set ref_reseau_sec_ville = ref_reseau_sec.user.ville %}
                        {% if ref_reseau_sec_ville is not null %}
                            <br/><br/>
                            {% if ref_reseau_sec.user.address.adress %}
                                {{ ref_reseau_sec.user.address.adress }},<br/>
                            {% elseif ref_reseau_sec.user.address.adressCompl %}
                                {{ ref_reseau_sec.user.address.adressCompl }},<br/>
                            {% endif %}
                            {{ ref_reseau_sec_ville.cpString }} {{ ref_reseau_sec_ville.nom }}</td>
                        {% endif %}
                    </tr>
                {% endif %}

                {% set annee_adhesion = amap.anneeAdhesionsOrdered %}
                {% if annee_adhesion is not empty %}
                    <tr>
                        <th>Année(s) d'adhésion :</th>
                        <td>

                            {% set i = 1 %}
                            {% set pipe = ' | ' %}

                            {# /** @var \PsrLib\ORM\Entity\AmapAnneeAdhesion $aa */ #}
                            {% for aa in annee_adhesion %}
                                {{ aa.annee }}
                                {% if (annee_adhesion|length) > i %}
                                    {{ pipe }}
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

            </tbody>
        </table>
    </div>


{# COLLECTIF ------------------------------------------------------------------- #}
    {% if amap.collectifs is not empty %}
        <div class="modal fade" id="modal_collectif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les membres du
                            collectif
                            ?</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Copier sur la zone bleue ci dessous
                            </li>
                            <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                            <li>Faire nouveau message</li>
                            <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Coller dans la liste des destinataires du message.
                            </li>
                        </ul>
                        <form>
                            <div class="form-group">
                                {% set emails = [] %}
                                {% for coll in amap.collectifs %}
                                    {% set emails = emails|merge([coll.amapien.user.emails|join(';')]) %}
                                {% endfor %}

                                <textarea class="form-control" rows="8">{{ emails|array_unique|join('\n') }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive well">

          <p class="text-right">
	    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_collectif" data-dismiss="modal" aria-hidden="true">
	      <i class="glyphicon glyphicon-envelope"></i> Emails de la liste</a>
            <a href="{{ url('amap_telecharger_collectif', {amap_id: amap.id}) }}" class="btn btn-primary btn-sm">
	      <i class="glyphicon glyphicon-download"></i> Télécharger la liste</a>
          </p>

            <h3 style="font-size:20px;">Collectif</h3>
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Profil</th>
                    <th>Précision</th>
                    <th>Nom Prénom</th>
                    <th>Téléphone</th>
                    <th class="text-right">Email</th>
                </tr>
                </thead>

                <tbody>

                {# Pour régler l'orde d'affichage ----------------------------------------
        D'abord le président --------------------------------------------------
        @var PsrLib\\ORM\\Entity\\AmapCollectif $coll #}
                {% for coll in amap.collectifs %}
                    {% if constant("PsrLib\\ORM\\Entity\\AmapCollectif::PROFIL_PRESIDENT") is same as coll.profil %}
                        {% set amapien = coll.amapien %}
                        <tr>
                            <th scope="row">Président</th>
                            <td>
                                {% if coll.precision %}
                                    {{ coll.precision|lower|ucfirst }}
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url('amapien_display', {amapien_id: amapien.id}) }}"
                                   target="_blank">{{ amapien.user.name.firstName|ucfirst }} {{ amapien.user.name.lastName|upper }}</a><br/>
                            </td>
                            <td>
                                {% if amapien.user.numTel1 and amapien.user.numTel2 %}
                                    {{ amapien.user.numTel1 }} | {{ amapien.user.numTel2 }}<br/>
                                {% else %}
                                    {% if amapien.user.numTel1 %}
                                        {{ amapien.user.numTel1 }}<br/>
                                    {% endif %}
                                    {% if amapien.user.numTel2 %}
                                        {{ amapien.user.numTel2 }}<br/>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="mailto:{{ amapien.user.emails|join(';') }}">{{ amapien.user.emails|join(';') }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {# Ensuite le secrétaire ------------------------------------------------- #}
                {% for coll in amap.collectifs %}
                    {% if constant("PsrLib\\ORM\\Entity\\AmapCollectif::PROFIL_SECRETAIRE") is same as coll.profil %}
                        {% set amapien = coll.amapien %}
                        <tr>
                            <th scope="row">Secrétaire</th>
                            <td>
                                {% if coll.precision %}
                                    {{ coll.precision|lower|ucfirst }}
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url('amapien_display', {amapien_id: amapien.id}) }}"
                                   target="_blank">{{ amapien.user.name.firstName|ucfirst }} {{ amapien.user.name.lastName|upper }}</a><br/>
                            </td>
                            <td>
                                {% if amapien.user.numTel1 and amapien.user.numTel2 %}
                                    {{ amapien.user.numTel1 }} | {{ amapien.user.numTel2 }}<br/>
                                {% else %}
                                    {% if amapien.user.numTel1 %}
                                        {{ amapien.user.numTel1 }}<br/>
                                    {% endif %}
                                    {% if amapien.user.numTel2 %}
                                        {{ amapien.user.numTel2 }}<br/>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="mailto:{{ amapien.user.emails|join(';') }}">{{ amapien.user.emails|join(';') }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {# Ensuite le trésorier ------------------------------------------------- #}
                {# @var PsrLib\\ORM\\Entity\\AmapCollectif $coll */ #}
                {% for coll in amap.collectifs %}
                    {% if constant("PsrLib\\ORM\\Entity\\AmapCollectif::PROFIL_TRESORIER") is same as coll.profil %}
                        {% set amapien = coll.amapien %}
                        <tr>
                            <th scope="row">Trésorier</th>
                            <td>
                                {% if coll.precision %}
                                    {{ coll.precision|lower|ucfirst }}
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url('amapien_display', {amapien_id: amapien.id}) }}"
                                   target="_blank">{{ amapien.user.name.firstName|ucfirst }} {{ amapien.user.name.lastName|upper }}</a><br/>
                            </td>
                            <td>
                                {% if amapien.user.numTel1 and amapien.user.numTel2 %}
                                    {{ amapien.user.numTel1 }} | {{ amapien.user.numTel2 }}<br/>
                                {% else %}
                                    {% if amapien.user.numTel1 %}
                                        {{ amapien.user.numTel1 }}<br/>
                                    {% endif %}
                                    {% if amapien.user.numTel2 %}
                                        {{ amapien.user.numTel2 }}<br/>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="mailto:{{ amapien.user.emails|join(";") }}">{{ amapien.user.emails|join(";") }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {# Puis les autres rôles -------------------------------------------------
         @var PsrLib\\ORM\\Entity\\AmapCollectif $coll */ #}
                {% for coll in amap.collectifs %}
                    {% if constant("PsrLib\\ORM\\Entity\\AmapCollectif::PROFIL_AUTRE") is same as coll.profil %}
                        {% set amapien = coll.amapien %}
                        <tr>
                            <th scope="row">Autre</th>
                            <td>
                                {% if coll.precision %}
                                    {{ coll.precision|lower|ucfirst }}
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url('amapien_display', {amapien_id: amapien.id}) }}"
                                   target="_blank">{{ amapien.user.name.firstName|ucfirst }} {{ amapien.user.name.lastName|upper }}</a><br/>
                            </td>
                            <td>
                                {% if amapien.user.numTel1 and amapien.user.numTel2 %}
                                    {{ amapien.user.numTel1 }} | {{ amapien.user.numTel2 }}<br/>
                                {% else %}
                                    {% if amapien.user.numTel1 %}
                                        {{ amapien.user.numTel1 }}<br/>
                                    {% endif %}
                                    {% if amapien.user.numTel2 %}
                                        {{ amapien.user.numTel2 }}<br/>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="mailto:{{ amapien.user.emails|join(';') }}">{{ amapien.user.emails|join(';') }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% endif %}

    {# FERMES ---------------------------------------------------------------------- #}
    {% if amapFermes is not empty %}
        <div class="modal fade" id="modal_paysans" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les paysans ?</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Copier sur la zone bleue ci dessous
                            </li>
                            <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                            <li>Faire nouveau message</li>
                            <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Coller dans la liste des destinataires du message.
                            </li>
                        </ul>
                        <form>
                            <div class="form-group">
                                {% set emails = [] %}
                                {% for ferme in amapFermes %}
                                    {# /** @var \PsrLib\ORM\Entity\Paysan $paysan */ #}
                                    {% for paysan in ferme.paysans %}
                                        {% set emails = emails|merge(paysan.user.emails.toArray) %}
                                    {% endfor %}
                                {% endfor %}

                                <textarea class="form-control" rows="8">{{ emails|array_unique|join('\n') }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_referents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les référents
                            produit?</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Copier sur la zone bleue ci dessous
                            </li>
                            <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                            <li>Faire nouveau message</li>
                            <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit
                                +
                                Coller dans la liste des destinataires du message.
                            </li>
                        </ul>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="8">{{ amap.amapiensRef|map(a => a.user)|users_emails_list }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive well">

            <p class="text-right">
                <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_referents"
                   data-dismiss="modal" aria-hidden="true"><i
                            class="glyphicon glyphicon-envelope"></i> Emails des référents</a>
                <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_paysans"
                   data-dismiss="modal" aria-hidden="true"><i
                            class="glyphicon glyphicon-envelope"></i> Emails des paysans</a>

                <a href="{{ url('amap_telecharger_referents_produit', {amap_id: amap.id}) }}"
                   class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-download"></i> Liste des référents</a>
                <a href="{{ url('amap_telecharger_paysans', {amap_id: amap.id}) }}"
                   class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-download"></i> Liste des paysans</a>
            </p>

            <h3 style="font-size:20px;">Fermes / Référents produits</h3>
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Ferme(s)</th>
                    <th>Paysan(s)</th>
                    <th>Référent(s) produit</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for ferme in amapFermes %}
                    <tr>
                        <th scope="row">
                            {{ ferme.nom|lower|ucfirst }}
                        </th>
                        <td>
                            {% set virgule = 0 %}
                            {# @var \PsrLib\ORM\Entity\Paysan $paysan  #}
                            {% for paysan in ferme.paysans %}
                                {% set virgule = 0 %}
                                <a href="{{ url('paysan_informations_generales', {paysan_id: paysan.id}) }}"
                                   target="_blank">
                                    {{ paysan.user.name }}
                                </a>
                                {% set virgule = virgule + 1 %}
                                {% if virgule < (ferme.paysans|length) %}
                                    ;
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% set virgule = 0 %}
                            {# /** @var \PsrLib\ORM\Entity\Amapien $f_ref */ #}
                            {% for f_ref in ferme.amapienRefs %}
                                {% if f_ref.amap == amap %}
                                    {% set virgule = 0 %}
                                    <a href="{{ url('amapien_informations_generales_edition', {amapien_id: f_ref.id}) }}"
                                       target="_blank">
                                        {{ f_ref.user.name }}
                                    </a>
                                    {% set virgule = virgule + 1 %}
                                    {% if virgule < (ferme.amapienRefs|length) %}
                                        ;
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-right">

                            {% set pay_emails = [] %}
                            {# /** @var \PsrLib\ORM\Entity\Paysan $paysan */ #}
                            {% for paysan in ferme.paysans %}
                                {% set pay_emails = pay_emails|merge(paysan.user.emails.toArray) %}
                            {% endfor %}

                            {% set ref_emails = [] %}
                            {% for ferme_referent in ferme.amapienRefs %}
                                {% set ref_emails = ref_emails|merge(ferme_referent.user.emails.toArray) %}
                            {% endfor %}

                            <a href="#" data-toggle="modal" data-target="{{ '#modal_pay_envoi_' ~ ferme.id }}">
                                <button type=button class="btn btn-primary btn-sm"><i
                                            class="glyphicon glyphicon-envelope glyphicon-lg"></i> Paysans
                                </button>
                            </a>
                            <a href="#" data-toggle="modal" data-target="{{ '#modal_ref_envoi_' ~ ferme.id }}"
                               style="margin-left:5px;">
                                <button type=button class="btn btn-primary btn-sm"><i
                                            class="glyphicon glyphicon-envelope glyphicon-lg"></i> Référents
                                </button>
                            </a>

                            <div class="modal fade text-left" id="{{ 'modal_pay_envoi_' ~ ferme.id }}" tabindex="-1"
                                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous
                                                les paysans ?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou
                                                    en faisant
                                                    clic droit + Copier sur la zone bleue ci dessous
                                                </li>
                                                <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird,
                                                    Gmail, Outlook,
                                                    ...)
                                                </li>
                                                <li>Faire nouveau message</li>
                                                <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou
                                                    en faisant
                                                    clic droit + Coller dans la liste des destinataires du message.
                                                </li>
                                            </ul>
                                            <form>
                                                <div class="form-group">
                                                    <textarea class="form-control"
                                                              rows="8">{{ pay_emails|array_unique|join('\n') }}</textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade text-left" id="modal_ref_envoi_{{ ferme.id }}" tabindex="-1"
                                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous
                                                les référents
                                                produits ?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou
                                                    en faisant
                                                    clic droit + Copier sur la zone bleue ci dessous
                                                </li>
                                                <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird,
                                                    Gmail, Outlook,
                                                    ...)
                                                </li>
                                                <li>Faire nouveau message</li>
                                                <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou
                                                    en faisant
                                                    clic droit + Coller dans la liste des destinataires du message.
                                                </li>
                                            </ul>
                                            <form>
                                                <div class="form-group">
                                                    <textarea class="form-control"
                                                              rows="8">{{ ref_emails|array_unique|join('\n') }}</textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
