{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des AMAP{% endblock %}

{% block main %}
    <script type="text/javascript">
      /*ALERTES*/
      $(document).ready(function () {
        $('#alerte').modal('show');
        setTimeout(function () {
          $('#alerte').modal('hide');
        }, 3000);
      });
    </script>

    <form method="GET" id="mdr" action="" class="js-form-search form-horizontal-no-margin">
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Région</button>
                    </span>
                        {{ form_widget(searchForm.region) }}
                        {{ form_errors(searchForm.region) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Département</button>
                    </span>
                        {{ form_widget(searchForm.departement) }}
                        {{ form_errors(searchForm.departement) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Réseau</button>
                    </span>
                        {{ form_widget(searchForm.reseau) }}
                        {{ form_errors(searchForm.reseau) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Années d'adhésion</button>
                    </span>
                        {{ form_widget(searchForm.adhesion) }}
                        {{ form_errors(searchForm.adhesion) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Type</button>
                    </span>
                        {{ form_widget(searchForm.etudiante) }}
                        {{ form_errors(searchForm.etudiante) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Mot clé</button>
                    </span>
                        {{ form_widget(searchForm.keyword, {attr: {class: 'mt-0'}}) }}
                        {{ form_errors(searchForm.keyword) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4" style="margin-top:5px;">
                    {{ form_widget(searchForm.carto) }}
                    {{ form_errors(searchForm.carto) }}
                </div>
                <div class="form-group col-md-4" style="margin-top:5px;">
                    {{ form_widget(searchForm.insurance) }}
                    {{ form_errors(searchForm.insurance) }}
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-12">
                    <a href="{{ url('amap_index') ~ '?reset_search' }}" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche</a>
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-list"></i> Générer la liste</button>
                </div>
            </div>
        </div>
    </form>

    <a href="{{ url('amap_informations_generales_creation') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Créer une nouvelle AMAP</a>

    <div class="dropdown d-inline-block">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDownload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Télécharger
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu mt-0" aria-labelledby="dropdownMenuDownload">
            <li><a href="{{ url('amap_telecharger_amap_synthese') ~ '?' ~ app.request.queryString }}">Télécharger la synthèse</a></li>
            <li><a href="{{ url('amap_telecharger_amap_complet') ~ '?' ~ app.request.queryString }}">Télécharger le fichier complet</a></li>
            {% if is_granted('ACTION_AMAP_EXPORT_ACTIVITY_INDICATORS') %}
                <li><a href="{{ url('amap_telecharger_indicateurs_activite') ~ '?' ~ app.request.queryString }}">Télécharger les indicateurs d'activité</a></li>
            {% endif %}
        </ul>
    </div>

    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_email" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-envelope"></i> Emails de la liste</a>

    {% if map is not null %}
        {% if gps > 0 %}
            {{ map.js|raw }}
            <div class="alert alert-success">{{ gps }} coordonnées GPS disponibles</div>
            <div id="map" style="width:100%; height:500px"></div>
            <br/>
        {% else %}
            <div class="alert alert-success">Aucunes coordonnées GPS disponibles</div>
        {% endif %}
    {% endif %}

    <div class="modal fade" id="modal_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à toutes les AMAP de cette liste?</h4>
                </div>
                <div class="modal-body">
                    <h5>Pour envoyer un email à toutes ces AMAP , vous devez :</h5>
                    <ul>
                        <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit + Copier sur la zone bleue ci dessous</li>
                        <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                        <li>Faire nouveau message</li>
                        <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit + Coller dans la liste des destinataires du message.</li>
                    </ul>

                    <h5>Contact Public :</h5>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5">{{ amaps|map(a => a.email)|join('\n') }}</textarea>
                        </div>
                    </form>

                    <h5>Correspondant réseau :</h5>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5">{{ amaps|map(a => a.amapienRefReseau.user ?? null)|users_emails_list }}</textarea>
                        </div>
                    </form>

                    <h5>Second correspondant réseau :</h5>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5">{{ amaps|map(a => a.amapienRefReseauSecondaire.user ?? null)|users_emails_list }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% set nb_amap = amaps|length %}
    <div class="alert alert-success">
        {{ nb_amap }} résultat{{ nb_amap == 1 ? '' : 's' }} pour cette recherche
    </div>

    {% include 'amap/display_all_table.html.twig' %}
{% endblock %}
