{%- macro amapienListQueryFromAmap(amap) -%}
/amapien/search_admin?search_amapien[region]={{ amap.region.id }}&search_amapien[departement]={{ amap.departement.id }}&search_amapien[amap]={{ amap.id }}
{%- endmacro -%}

{% import "macro/_modals.html.twig" as modals %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Nom</th>
            <th>CP, Ville de livraison</th>
            <th>Contact public</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for amap in amaps %}
            <tr>
                <th scope="row">
                    {{ amap.nom|upper|slice(0, 45) ~ (amap.nom|length > 45 ? '...' : '') }}
                </th>

                <td>
                    {% set ll = amap.livraisonLieux.first %}
                    {% if ll %}
                        {% set ville = ll.ville %}
                        {{ ville.cpString }}, {{ ville.nom|upper|slice(0, 25) ~ (ville.nom|length > 25 ? '...' : '') }}
                    {% endif %}
                </td>

                <td>
                    {% if amap.email %}
                        <a href="mailto:{{ amap.email }};">
                            {{ amap.email|lower|slice(0, 30) ~ (amap.email|length > 30 ? '...' : '') }}
                        </a>
                    {% endif %}
                </td>

                <td>
                    {% set icon = '' %}
                    {% if is_granted('ACTION_AMAP_CHANGE_STATE', amap) %}
                        {% if amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_CREATION') %}
                            {% set icon = 'wrench' %}
                        {% elseif amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_ATTENTE') %}
                            {% set icon = 'play' %}
                        {% elseif amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_FONCIONNEMENT') %}
                            {% set icon = 'pause' %}
                        {% endif %}
                    {% endif %}

                    {% set url = is_granted('ACTION_AMAP_SEARCH_PAYSAN', amap) ? url('amap_recherche_paysan', {amap_id: amap.id}) : url('amap_produits', {amap_id: amap.id}) %}

                    {% set list_query = '/amapien/search_admin?search_amapien[region]=' ~ amap.region.id ~ '&search_amapien[departement]=' ~ amap.departement.id ~ '&search_amapien[amap]=' ~ amap.id %}
                    {{ bouton_action(
                        '',
                        [
                            [is_granted('ACTION_AMAP_CHANGE_STATE', amap), '#modal_etat_' ~ amap.id, icon, "Changer l'état de l'AMAP"],
                            [true, url('amap_display', {amap_id: amap.id}), 'eye-open', "Détails de l'AMAP"],
                            [true, url('amap_informations_generales_edition', {amap_id: amap.id}), 'info-sign', 'Modifier les informations générales'],
                            [amap.amapEtudiante, url('amap_absence_liste', {amapId: amap.id}), 'off', 'Planning des absences'],
                            [true, url, 'apple', 'Modifier les produits proposés / recherchés'],
                            [true, url('amap_livraison_lieu', {amap_id: amap.id}), 'map-marker', 'Modifier les lieux de livraison'],
                            [true, '#modal_edit_roles_' ~ amap.id, 'education', "Modifier les rôles de l'AMAP"],
                            [true, url('amap_calendrier', {amap_id: amap.id}), 'calendar', 'Calendrier des livraisons AMAP'],
                            [is_granted('ACTION_DISTRIBUTION_LIST', amap), url('distribution_index'), 'shopping-cart', "Gestion de la distrib'AMAP"],
                            [is_granted('ACTION_AMAP_SEND_PASSWORD', amap), '#modal_key_' ~ amap.id, 'lock', "Envoyer un mot de passe à l'AMAP"],
                            [is_granted('ACTION_AMAP_CHANGE_STATE', amap), '#modal_remove_' ~ amap.id, 'remove', "Supprimer l'AMAP"],
                            [app.currentUser.isAdmin, list_query, 'user', 'Voir les amapiens'],
                            [is_granted('ACTION_AMAP_EDIT_ADMINS', amap), url('amap_admins', {amap_id: amap.id}), 'user', 'Gérer les administrateurs'],
                        ]
                    ) }}

                    {{ modals.modal_oui_non(
                        'modal_remove_' ~ amap.id,
                        "Voulez-vous vraiment supprimer l'AMAP \"" ~ amap.nom|upper ~ '"',
                        url('amap_remove', {amap_id: amap.id}),
                        '<u>Attention !</u> Cette action supprimera tous les comptes et contrats liés à l\'AMAP.'
                    ) }}

                    {{ modals.modal_oui_non(
                        'modal_key_' ~ amap.id,
                        "Voulez-vous vraiment envoyer un mot de passe à l'AMAP <strong>" ~ amap.nom ~ '</strong>',
                        url('amap_password', {amap_id: amap.id}),
                        "<u>Attention !</u> cette action créera un mot de passe pour tous les administrateurs de l'AMAP (même s'ils en possèdent déjà un) qui leur seront envoyés par email : " ~ amap.admins|map(user => user.emails|join(', '))|join(', ')
                    ) }}

                    <!-- Modal état -->
                    <div class="modal fade text-left" id="modal_etat_{{ amap.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Modifier l'état de
                                        "{{ amap.nom }}"
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <h5>Quel état voulez-vous appliquez à l'AMAP ?</h5>
                                    <p>
                                        {% if amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_FONCIONNEMENT') %}
                                            <a href="#" class="btn btn-primary" disabled>En création</a>
                                        {% else %}
                                            <a href="{{ url('amap_edit_etat', {amap_id: amap.id, etat: 'creation'}) }}" class="btn btn-primary">En création</a>
                                        {% endif %}

                                        {% if amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_FONCIONNEMENT') %}
                                            <a href="#" class="btn btn-success" disabled>En fonctionnement</a>
                                        {% else %}
                                            <a href="{{ url('amap_edit_etat', {amap_id: amap.id, etat: 'fonctionnement'}) }}" class="btn btn-success">En fonctionnement</a>
                                        {% endif %}

                                        {% if amap.etat == constant('\\PsrLib\\ORM\\Entity\\Amap::ETAT_ATTENTE') %}
                                            <a href="#" class="btn btn-warning" disabled>En attente</a>
                                        {% else %}
                                            <a href="{{ url('amap_edit_etat', {amap_id: amap.id, etat: 'attente'}) }}" class="btn btn-warning">En attente</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal edit Rôles -->
                    <div class="modal fade text-left" id="modal_edit_roles_{{ amap.id }}" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Modifier "{{ amap.nom }}"</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>Veuillez indiquer ce que vous souhaitez ajouter / modifier :</h5>
                                    <p><a href="{{ url('amap_collectif', {amap_id: amap.id}) }}"> Le collectif de
                                            l'AMAP</a></p>
                                    <p><a href="{{ url('amap_gestionnaire_display', {amap_id: amap.id}) }}">Le(s)
                                            correspondant(s) Clic'AMAP</a></p>
                                    <p><a href="{{ url('amap_referent_edition', {amap_id: amap.id}) }}">Le
                                            correspondant réseau AMAP</a></p>
                                    <p><a href="{{ url('amap_referent_second_edition', {amap_id: amap.id}) }}">Le
                                            second correspondant réseau AMAP</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
