{% extends 'base_connected.html.twig' %}


{% block title %}
    Le(s) correspondant(s) Clic'AMAP
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ retUrl }}">{% if app.currentUser.amapAdmin %}Gestion de mon AMAP{% else %}Gestion des AMAP{% endif %}</a>
        <i class="glyphicon glyphicon-menu-right"> </i>
        {{ amap.nom }}
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Si vous voulez ajouter un ou plusieurs correspondants Clic'AMAP à l'AMAP, utilisez le menu déroulant ci-dessous. L'amapien choisi pour être correspondant Clic'AMAP doit faire partie de l'AMAP. Pour ensuite retirer les droits d'administration à l'amapien, il suffit de cliquer sur l'amapien à supprimer. Vous ne pouvez pas retirez vos propres droits d'administration.
    </div>

    {{ form_start(form, {attr: {'class': 'form-horizontal-no-margin'}}) }}
    <div class="row">
        <div class="form-group col-sm-12">
            {{ form_widget(form.referent) }}
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" value="Ajouter" class="btn btn-success pull-right"/>
        </div>
    </div>
    {{ form_end(form) }}

    {% for gest in gestionnaires %}
        <a href="#" data-toggle="modal" data-target="#modal_{{ gest.id }}">
            <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Retirer les droits à l'amapien">{{ gest.user }} <i class="glyphicon glyphicon-remove"></i></button></a>&nbsp;

        <div class="modal fade text-left" id="modal_{{ gest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">AMAP "{{ amap.nom }}"</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Voulez-vous vraiment retirer le rôle de correspondant Clic'AMAP à "{{ gest.user }}" ?</h5>
                        <p class="text-right">
                            <a href="{{ url('amap_gestionnaire_remove', {amapien_id: gest.id}) }}" class="btn btn-danger btn-sm">OUI</a>&nbsp;
                            <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}