{% extends 'amap/informations_generales_edition.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Informations générales
{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ url('amap_index') }}">Gestion des AMAP</a> <i class="glyphicon glyphicon-menu-right"></i>
        Création d'une AMAP <i class="glyphicon glyphicon-menu-right"></i>
        Étape 1</h5>
{% endblock %}

{% block main_form_internal %}
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.admin, {row_attr: {class: 'col-md-12'}}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block button_validation_text %}Étape suivante{% endblock %}
