{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Informations générales
{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ url('amap_index') }}">Gestion des AMAP</a> <i
                class="glyphicon glyphicon-menu-right"></i> {{ amap.nom|upper }} <i
                class="glyphicon glyphicon-menu-right"></i>
        Édition</h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {attr: {class: 'js-form-amap'}}) }}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">

                    {{ form_row(form.nom, {row_attr: {class: 'col-md-12'}}) }}

                    {% if form.associationDeFait is defined %}
                        <div class="col-md-12">
                            {{ form_row(form.associationDeFait, {attr: {class: 'row'}}) }}
                        </div>
                    {% endif %}

                    {% if form.siret is defined %}
                        {{ form_row(form.siret, {row_attr: {class: 'col-md-6 js-hide-association'}}) }}
                    {% endif %}
                    {% if form.rna is defined %}
                        {{ form_row(form.rna, {row_attr: {class: 'col-md-6 js-hide-association'}}) }}
                    {% endif %}

                    <div class="col-md-12">
                        {{ form_row(form.possedeAssurance, {attr: {class: 'row'}}) }}
                    </div>

                    {% if form.amapEtudiante is defined %}
                        <div class="col-md-12">
                            {{ form_row(form.amapEtudiante, {attr: {class: 'row'}}) }}
                        </div>
                    {% endif %}

                    {{ form_row(form.anneeCreation, {row_attr: {class: 'col-md-6'}}) }}
                    {{ form_row(form.nbAdherents, {row_attr: {class: 'col-md-6'}}) }}

                    {% if form.anneeAdhesions is defined %}
                        {{ form_row(form.anneeAdhesions, {row_attr: {class: 'col-md-12'}}) }}
                    {% endif %}

                    {{ form_row(form.email, {row_attr: {class: 'col-md-6'}}) }}
                    {{ form_row(form.url, {row_attr: {class: 'col-md-6'}}) }}

                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <label class="col-sm-1 control-label" for="logo" style="padding-top: 12px">Logo</label>
                    <div class="col-sm-4 text-center">
                        <img class="d-inline-block amap-logo" src="{{ amap is defined and amap.logo is not null ? site_url(amap.logo.FileRelativePath) : '' }}" />
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.logo) }}
                        {{ form_errors(form.logo) }}
                        <p class="help-block">Laissez vide pour garder le logo actuel. Seul les fichier .jpg et .png sont autorisés, avec un poids maximum de 500 Ko et une taille maximale de 1024x1024.</p>
                        <div class="has-error hidden help-logo">
                            <p class="help-block ">Le logo sera modifié une fois la page sauvegardée. Si vous avez une campagne d'adhésion en cours, pensez à modifier et sauvegarder votre campagne pour que le nouveau logo soit pris en compte.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% block main_form_internal %}{% endblock %}

        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.adresseAdminNom, {row_attr: {class: 'col-md-12'}}) }}

                    <div class="form-group col-xs-12">

                        <div class="alert alert-info">
                            Utilisez le champ ci-dessous pour compléter l'adresse de manière automatique grâce aux
                            suggestions proposées.
                            Il est possible que la rue ou le numéro ne soit pas connu de l'outil. Dans ce cas, vous
                            pouvez soit modifier
                            manuellement le champ N° et rue ci-dessus, soit contribuer au projet <a target="_blank"
                                                                                                    href="https://wiki.openstreetmap.org/wiki/FR:Guide_du_d%C3%A9butant">Open
                                Street Map</a>
                            pour que votre adresse soit précisément localisée.
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" id="f_autocomplete" name="f_autocomplete"
                                   placeholder="Veuillez taper ici l'adresse et sélectionner une suggestion"/>
                        </div>

                        <div id="container_f_autocomplete" class="ui-autocomplete"
                             style="width:100%;font-size:11px;"></div>
                    </div>

                    {{ form_row(form.adresseAdmin, {row_attr: {class: 'col-md-6'}}) }}
                    {{ form_row(form.adresseAdminVille, {row_attr: {class: 'col-md-6'}}) }}
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-12">

                    {{ form_row(form.etat, {row_attr: {class: 'col-md-12'}}) }}

                </div>
            </div>
        </div>


    <div class="form-group text-right">
        <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
        <input type="submit" value="{% block button_validation_text %}Sauvegarder{% endblock %}" class="btn btn-success"/>
    </div>


    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
  {{ parent() }}

    <script type="text/javascript">
        /* AUTOCOMPLÉTION CP / VILLE */
        $(document).ready(function () {
            $("#f_autocomplete").autocomplete({
                source: "{{ url('ajax_geocode_get_suggestion') }}",
                dataType: "json",
                minLength: 4,
                appendTo: "#container_f_autocomplete",
                select: function (event, ui) {

                    // Maj des informations sur la page
                    $("#f_autocomplete").val(ui.item.label);
                    $('input[name="{{ form.adresseAdmin.vars.full_name }}"]').val(ui.item.value.address);
                    $('input[name="{{ form.adresseAdminVille.vars.full_name }}"]').val(
                      ui.item.value.cp.toString() + ', ' + ui.item.value.ville.toString()
                    );

                    // Stop la propagation de l'évènement
                    return false;
                }
            });

            $('input[type="file"]').on('change', function () {
                var file = $(this)[0].files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.amap-logo').attr('src', e.target.result);
                    $('.help-logo').removeClass('hidden');
                };
                reader.readAsDataURL(file);
            });

        });
    </script>
{% endblock %}
