{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
      $(document).ready(function () {

        $("#liv_autocomplete").autocomplete({
          source: "{{ url('ajax_geocode_get_suggestion') }}",
          dataType: "json",
          minLength: 4,
          appendTo: "#container_liv_autocomplete",
          select: function (event, ui) {
            $("#liv_autocomplete").val(ui.item.label);
            $('input[name="amap_livraison_lieu[adresse]"]').val(ui.item.value.address);
            $('input[name="amap_livraison_lieu[gpsLatitude]"]').val(ui.item.value.lat.toString());
            $('input[name="amap_livraison_lieu[gpsLongitude]"]').val(ui.item.value.long.toString());
            $('input[name="amap_livraison_lieu[ville]"]').val(ui.item.value.cp.toString() + ', ' + ui.item.value.ville.toString());
            return false;
          }
        });

      });
    </script>
{% endblock %}

{% block title %}
    Les lieux de livraison
{% endblock %}

{% block breadcrumb %}
    {% set retour = app.currentUser.amapAdmin ? 'Gestion de mon AMAP' : 'Gestion des AMAP' %}

    <h5><a href="{{ retUrl }}"> {{ retour }}</a> <i class="glyphicon glyphicon-menu-right"></i>
        {{ amap|upper }} <i class="glyphicon glyphicon-menu-right"></i>
        Les lieux de livraison
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12" id="livraison_lieu">

            {{ form_start(form, {attr: {class: 'clearfix form-horizontal-no-margin'}}) }}

            <div class="entry">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="liv_lieu" class="control-label pt-0">Nom du lieu</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            {{ form_widget(form.nom) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="entry">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="liv_autocomplete" class="control-label pt-0">Adresse de livraison</label>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="alert alert-info">
                                Utilisez le champ ci-dessous pour compléter l'adresse de manière automatique grâce aux suggestions proposées.
                                Il est possible que la rue ou le numéro ne soit pas connu de l'outil. Dans ce cas, vous pouvez soit modifier
                                manuellement le champ N° et rue ci-dessus, soit contribuer au projet <a target="_blank" href="https://wiki.openstreetmap.org/wiki/FR:Guide_du_d%C3%A9butant">Open Street Map</a>
                                pour que votre adresse soit précisément localisée.
                            </div>

                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                <input type="text" class="form-control" id="liv_autocomplete" name="liv_autocomplete"
                                       placeholder="Veuillez taper ici l'adresse et selectionner une suggestion"/>
                            </div>

                            <div id="container_liv_autocomplete" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>
                        </div>

                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                Si vous ne connaissez pas l'adresse exacte, indiquez simplement la ville ou le lieu-dit et la rue
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="liv_adr" class="control-label pt-0">N°, voie</label>
                            {{ form_widget(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                        </div>

                        <div class="col-md-4">
                            <label for="liv_cp_ville" class="control-label pt-0">Code postal, Ville</label>
                            {{ form_widget(form.ville) }}
                            {{ form_errors(form.ville) }}
                        </div>

                        <div class="form-group col-md-2">
                            <label for="liv_gps_lat" class="control-label pt-0">GPS Latitude<br/></label>
                            {{ form_widget(form.gpsLatitude) }}
                            {{ form_errors(form.gpsLatitude) }}
                        </div>

                        <div class="form-group col-md-2">
                            <label for="liv_gps_long" class="control-label pt-0">GPS Longitude<br/></label>
                            {{ form_widget(form.gpsLongitude) }}
                            {{ form_errors(form.gpsLongitude) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right">
                <input type="submit" value="Ajouter" class="btn btn-success clearfix"/>
            </div>

            {{ form_end(form) }}

            {% set livraison_lieu = amap.livraisonLieux %}
            {% if not livraison_lieu.empty %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Nom</th>
                            <th>Adresse, CP, Ville de livraison</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for liv_lieu in livraison_lieu %}
                            <tr>
                                <th scope="row">
                                    {{ liv_lieu.nom|ucfirst }}
                                </th>

                                <td>
                                    {{ liv_lieu.adresse|ucfirst }}, {{ liv_lieu.ville.cpString|upper }} {{ liv_lieu.ville.nom|upper }}
                                </td>

                                <td>
                                    {{ bouton_action(
                                        '',
                                        [
                                            [true, url('amap_livraison_lieu_edit', {liv_lieu_id: liv_lieu.id}), 'edit', 'Modifier le lieu de livraison'],
                                            [is_granted('ACTION_AMAP_LL_DELETE', liv_lieu), '#modal_remove_' ~ liv_lieu.id, 'remove', 'Supprimer le lieu de livraison'],
                                            [true, url('amap_livraison_horaire', {liv_lieu_id: liv_lieu.id}), 'time', 'Modifier les horaires de livraison'],
                                        ]
                                    ) }}

                                    {{ modals.modal_oui_non(
                                        'modal_remove_' ~ liv_lieu.id,
                                        'Voulez-vous vraiment supprimer le lieu de livraison ' ~ liv_lieu.nom ~ '?',
                                        url('amap_livraison_lieu_remove', {liv_lieu_id: liv_lieu.id}),
                                        "<u>Attention :</u> En supprimant le lieu de livraison, vous supprimerez aussi ses horaires ainsi que ses plages horaires de distrib'AMAP. Toutes les inscriptions liées à ces plages seront de fait supprimées elles aussi !"
                                    ) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}