{% extends 'base_connected.html.twig' %}

{% block title %}
Les horaires de livraison
{% endblock %}

{% block breadcrumb %}
<h5><a href="{{ url('amap_index') }}">Gestion des AMAP</a> <i class="glyphicon glyphicon-menu-right"></i> Création d'une AMAP <i class="glyphicon glyphicon-menu-right"></i> Étape 3</h5>
{% endblock %}

{% block main %}
{{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}

<div class="alert alert-info">
    L'ajout de plusieurs horaires de livraison se fait par la mise à jour de l'AMAP rubrique "Gestion des AMAP" -> "Modifier l'AMAP" -> "Les informations de livraison".
</div>

<div class="row">
    <div class="col-md-12" id="livraison_horaires">
        <div class="entry">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="col-md-3">
                                <label for="liv_saison" class="control-label pt-0">Saison : </label>
                                {{ form_widget(form.saison) }}
                                {{ form_errors(form.saison) }}
                            </div>
                            <div class="col-md-3">
                                <label for="liv_jour" class="control-label pt-0">Jour de livraison : </label>
                                {{ form_widget(form.jour) }}
                                {{ form_errors(form.jour) }}
                            </div>
                            <div class="col-md-3">
                                <label for="liv_heure_deb" class="control-label pt-0">Heure de début : </label>
                                {{ form_widget(form.heureDebut) }}
                                {{ form_errors(form.heureDebut) }}
                            </div>
                            <div class="col-md-3">
                                <label for="liv_heure_fin" class="control-label pt-0">Heure de fin : </label>
                                {{ form_widget(form.heureFin) }}
                                {{ form_errors(form.heureFin) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group text-right">
    <a href="{{ url('amap_index') }}" class="btn btn-default">Annuler</a>
    <a href="{{ url('amap_livraison_lieu_creation') }}" class="btn btn-default">Étape précédente</a>
    <input type="submit" value="Étape suivante" class="btn btn-success"/>
</div>

{{ form_end(form) }}
{% endblock %}
