{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Les horaires de livraison
{% endblock %}

{% block breadcrumb %}
    {% set retour = app.currentUser.amapAdmin ? 'Gestion de mon AMAP' : 'Gestion des AMAP' %}
    <h5>
        <a href="{{ url('amap_index') }}">{{ retour }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ amap.nom|upper }}
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('amap_livraison_lieu', {amap_id: amap.id}) }}"> Les lieux de livraison</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ livraisonLieu.nom }}
        <i class="glyphicon glyphicon-menu-right"></i>
        Les horaires de livraison
    </h5>
{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-md-12" id="livraison_lieu">
            <!-- AJOUTER UN LIEU -->
            {{ form_start(form, {attr: {class: "clearfix form-horizontal-no-margin"}}) }}
                <div class="entry">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="col-md-3">
                                        <label class="mt-0" for="liv_saison" class="control-label">Saison : </label>
                                        {{ form_widget(form.saison) }}
                                        {{ form_errors(form.saison) }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mt-0" for="liv_jour" class="control-label">Jour de livraison : </label>
                                        {{ form_widget(form.jour) }}
                                        {{ form_errors(form.jour) }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mt-0" for="liv_heure_deb" class="control-label">Heure de début : </label>
                                        {{ form_widget(form.heureDebut) }}
                                        {{ form_errors(form.heureDebut) }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="mt-0" for="liv_heure_fin" class="control-label">Heure de fin : </label>
                                        {{ form_widget(form.heureFin) }}
                                        {{ form_errors(form.heureFin) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right ml-0">
                    <input type="submit" value="Ajouter" class="btn btn-success clearfix"/>
                </div>
            {{ form_end(form) }}

            <!-- TABLEAU DES LIEUX EXISTANTS -->
            {% if livraisonHoraires|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Saison</th>
                                <th>Jour</th>
                                <th>Heure de début</th>
                                <th>Heure de fin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for liv_hor in livraisonHoraires %}
                                <tr>
                                    <th scope="row">
                                        {{ liv_hor.saison == constant('PsrLib\\ORM\\Entity\\AmapLivraisonHoraire::SAISON_ETE') ? 'Été' : 'Hiver' }}
                                    </th>
                                    <td>{{ liv_hor.jour|trans([], 'amap_livraison_horaire_jour') }}</td>
                                    <td>{{ liv_hor.heureDebut }}</td>
                                    <td>{{ liv_hor.heureFin }}</td>
                                    <td>
                                        {{ bouton_action('', [
                                            [true, url('amap_livraison_horaire_edit', {liv_hor_id: liv_hor.id}), 'edit', 'Modifier l\'horaire de livraison'],
                                            [true, '#modal_remove_' ~ liv_hor.id, 'remove', 'Supprimer l\'horaire de livraison']
                                        ]) }}
                                        {{ modals.modal_oui_non('modal_remove_' ~ liv_hor.id,
                                            "Voulez-vous vraiment supprimer l'horaire de livraison du <strong>" ~ liv_hor.jour|trans([], 'amap_livraison_horaire_jour') ~ '</strong>',
                                            url('amap_livraison_horaire_remove', {liv_hor_id: liv_hor.id}),
                                            "<u>Attention :</u> En supprimant l'horaire vous supprimerez aussi ses horaires d'aide à la distrib'AMAP. Toutes les inscriptions liées à ces horaires seront de fait supprimées elles aussi !") }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}