{% extends 'base_connected.html.twig' %}

{% block title %}
    Les lieux de livraison
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('amap_index') }}">Gestion des AMAP</a> <i class="glyphicon glyphicon-menu-right"></i> Création d'une AMAP <i class="glyphicon glyphicon-menu-right"></i> Étape 2
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'action': url('amap_livraison_lieu_creation'), 'method': 'POST', 'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <div class="alert alert-info">L'ajout de lieux de livraison complémentaires se fait par la mise à jour de l'AMAP rubrique "Gestion des AMAP" -> "Modifier l'AMAP" -> "Les informations de livraison".</div>

    <div class="row">
        <div class="col-md-12" id="livraison_lieu">

            <div class="entry">

                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="liv_lieu" class="control-label pt-0">Nom du lieu</label>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            {{ form_widget(form.nom) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                </div>

                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="liv_autocomplete" class="control-label pt-0">Adresse de livraison</label>
                        </div>
                        <div class="col-xs-12 form-group">

                            <div class="alert alert-info">
                                Utilisez le champ ci-dessous pour compléter l'adresse de manière automatique grâce aux suggestions proposées.
                                Il est possible que la rue ou le numéro ne soit pas connu de l'outil. Dans ce cas, vous pouvez soit modifier manuellement le champ N° et rue ci-dessus, soit contribuer au projet <a target="_blank" href="https://wiki.openstreetmap.org/wiki/FR:Guide_du_d%C3%A9butant">Open Street Map</a> pour que votre adresse soit précisément localisée.
                            </div>

                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                <input type="text" class="form-control" id="liv_autocomplete" name="liv_autocomplete" placeholder="Veuillez taper ici l'adresse et selectionner une suggestion"/>
                            </div>

                            <div id="container_liv_autocomplete" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>
                        </div>

                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                Si vous ne connaissez pas l'adresse exacte, indiquez simplement la ville ou le lieu-dit et la rue
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="liv_adr" class="control-label pt-0">N°, voie</label>
                            {{ form_widget(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                        </div>

                        <div class="col-md-4">
                            <label for="liv_cp_ville" class="control-label pt-0">Code postal, Ville</label>
                            {{ form_widget(form.ville) }}
                            {{ form_errors(form.ville) }}
                        </div>

                        <div class="form-group col-md-2">
                            <label for="liv_gps_lat" class="control-label pt-0">GPS Latitude<br/></label>
                            {{ form_widget(form.gpsLatitude) }}
                            {{ form_errors(form.gpsLatitude) }}
                        </div>

                        <div class="form-group col-md-2">
                            <label for="liv_gps_long" class="control-label pt-0">GPS Longitude<br/></label>
                            {{ form_widget(form.gpsLongitude) }}
                            {{ form_errors(form.gpsLongitude) }}
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="form-group text-right">
        <a href="{{ url('amap_index') }}" class="btn btn-default">Annuler</a>
        <a href="{{ url('amap_informations_generales_creation') }}" class="btn btn-default">Étape précédente</a>
        <input type="submit" value="Étape suivante" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
      /*AUTOCOMPLÉTION*/
      $(document).ready(function () {
        $("#liv_autocomplete").autocomplete({
          source: "{{ url('ajax_geocode_get_suggestion') }}",
          dataType: "json",
          minLength: 4,
          appendTo: "#container_liv_autocomplete",
          select: function (event, ui) {
            // Maj des informations sur la page
            $("#liv_autocomplete").val(ui.item.label);
            $('input[name="amap_livraison_lieu[adresse]"]').val(ui.item.value.address);
            $('input[name="amap_livraison_lieu[gpsLatitude]"]').val(ui.item.value.lat.toString());
            $('input[name="amap_livraison_lieu[gpsLongitude]"]').val(ui.item.value.long.toString());
            $('input[name="amap_livraison_lieu[ville]"]').val(
              ui.item.value.cp.toString() + ', ' + ui.item.value.ville.toString()
            );

            // Stop la propagation de l'évènement
            return false;
          }
        });
      });
    </script>
{% endblock %}