{% extends 'base_connected.html.twig' %}

{% block title %}
    Modifier les horaires de livraison
{% endblock %}

{% block breadcrumb %}
    {% set retour = app.currentUser.amapAdmin ? 'Gestion de mon AMAP' : 'Gestion des AMAP' %}
    <h5>
        <a href="{{ url('amap_index') }}">{{ retour }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ amap.nom|upper }}
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('amap_livraison_lieu', {amap_id: amap.id}) }}">Les lieux de livraison </a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ livraisonLieu.nom }}
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('amap_livraison_horaire', {liv_lieu_id: livraisonLieu.id}) }}"> Les horaires de livraison</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        L'{{ livraisonHoraire.saison }}, le {{ livraisonHoraire.jour|trans([], 'amap_livraison_horaire_jour') }} : {{ livraisonHoraire.heureDebut }} - {{ livraisonHoraire.heureFin }}
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12" id="livraison_lieu">
            <!-- AJOUTER UN LIEU -->
            {{ form_start(form, {attr: {class: "clearfix form-horizontal-no-margin", method: "POST", action: url('amap_livraison_horaire_edit', {liv_hor_id: livraisonHoraire.id})}}) }}

            <div class="entry">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="col-md-3">
                                    <label class="mt-0" for="liv_saison" class="control-label">Saison : </label>
                                    {{ form_widget(form.saison) }}
                                    {{ form_errors(form.saison) }}
                                </div>

                                <div class="col-md-3">
                                    <label class="mt-0" for="liv_jour" class="control-label">Jour de livraison : </label>
                                    {{ form_widget(form.jour) }}
                                    {{ form_errors(form.jour) }}
                                </div>

                                <div class="col-md-3">
                                    <label class="mt-0" for="liv_heure_deb" class="control-label">Heure de début : </label>
                                    {{ form_widget(form.heureDebut) }}
                                    {{ form_errors(form.heureDebut) }}
                                </div>

                                <div class="col-md-3">
                                    <label class="mt-0" for="liv_heure_fin" class="control-label">Heure de fin : </label>
                                    {{ form_widget(form.heureFin) }}
                                    {{ form_errors(form.heureFin) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right">
                <a href="{{ url('amap_livraison_horaire', {liv_lieu_id: livraisonLieu.id}) }}" class="btn btn-default">Annuler</a>
                <input type="submit" value="Valider" class="btn btn-success clearfix"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}