{% extends 'base_connected.html.twig' %}

{% block title %}
    Produits proposés / recherchés
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">{{ app.currentUser.amapAdmin ? 'Gestion de mon AMAP' : 'Gestion des AMAP' }}</a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ amap.nom|upper }}
        <i class="glyphicon glyphicon-menu-right"></i> Édition
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'action': '', 'method': 'POST', 'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <input type="hidden" name="step_prd" value="1"/>
    {{ form_widget(form.hidden) }}

    <div class="well">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group col-md-6">
                    <label for="produits_proposes" class="">Produits proposés (liste à choix multiples ; maintenez Shift ou Ctrl enfoncés pour choisir plusieurs produits) :</label>
                    {{ form_widget(form.tpPropose) }}
                    {{ form_errors(form.tpPropose) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="produits_recherches" class="">Produits recherchés (liste à choix multiples ; maintenez Shift ou Ctrl enfoncés pour choisir plusieurs produits) :</label>
                    {{ form_widget(form.tpRecherche) }}
                    {{ form_errors(form.tpRecherche) }}
                </div>

            </div>
        </div>
    </div>

    {% if form.activation is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12 text-right">
                        {{ form_widget(form.activation) }}
                        {{ form_errors(form.activation) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group text-right">
        <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
        <input type="submit" value="Sauvegarder" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}
{% endblock %}