{% extends 'base_connected.html.twig' %}

{% block title %}
    Produits proposés / recherchés
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('amap_index') }}">Gestion des AMAP</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création d'une AMAP
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 4
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <div class="well">
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.hidden) }}
                {{ form_errors(form.hidden) }}

                <div class="form-group col-md-6">
                    <label for="produits_proposes" class="control-label pt-0 text-left">Produits proposés (liste à choix multiples ; maintenez Shift ou Ctrl enfoncés pour choisir plusieurs produits) :</label>
                    {{ form_widget(form.tpPropose) }}
                    {{ form_errors(form.tpPropose) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="produits_recherches" class="control-label pt-0 text-left">Produits recherchés (liste à choix multiples ; maintenez Shift ou Ctrl enfoncés pour choisir plusieurs produits) :</label>
                    {{ form_widget(form.tpRecherche) }}
                    {{ form_errors(form.tpRecherche) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <a href="{{ url('amap_index') }}" class="btn btn-default">Annuler</a>
        <a href="{{ url('amap_livraison_horaire_creation') }}" class="btn btn-default">Étape précédente</a>
        <input type="submit" value="Étape suivante" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}
{% endblock %}