{% extends 'base_connected.html.twig' %}

{% block title %}
    Le second correspondant réseau AMAP
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ retUrl }}">{{ app.currentUser.amapAdmin ? 'Gestion de mon AMAP' : 'Gestion des AMAP' }}</a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ amap.nom|upper }}
        <i class="glyphicon glyphicon-menu-right"></i> Édition
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}
    <input type="hidden" name="step_ref_sec" value="1"/>

    <div class="alert alert-info">
        Si vous voulez ajouter un second correspondant réseau à l'AMAP, utilisez le menu déroulant ci-dessous. L'amapien choisi pour être second correspondant réseau AMAP doit faire partie de l'AMAP. Pour ensuite retirer les droits d'administration à l'amapien, il suffit de cliquer sur l'amapien à supprimer. Vous ne pouvez pas retirez vos propres droits d'administration.
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            {{ form_errors(form.referent) }}
            {{ form_widget(form.referent, {'attr': {'class': 'pt-0'}}) }}
        </div>
        <div class="form-group col-sm-12 text-right">
            <input type="submit" value="Éditer" class="btn btn-success"/>
        </div>
    </div>
    {{ form_end(form) }}

    {% if amap.amapienRefReseauSecondaire %}
        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_remove">
            <span data-toggle="tooltip" title="Supprimer le correspondant réseau secondaire">
                {{ amap.amapienRefReseauSecondaire.user }} <i class="glyphicon glyphicon-remove"></i>
            </span>
        </a>

        <div class="modal fade text-left" id="modal_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="myModalLabel">Correspondant réseau secondaire {{ amap.nom }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">Voulez-vous vraiment supprimer le rôle de correspondant réseau secondaire à "{{ amap.amapienRefReseauSecondaire.user }}" ?</div>
                        <form class="text-right" method="POST" action="{{ url('amap_referent_second_suppression', {amap_id: amap.id}) }}">
                            <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                            <button type="submit" class="btn btn-danger btn-sm">OUI</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning">L'AMAP n'a pas encore de second correspondant réseau AMAP.</div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}