{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des fermes
{% endblock %}


{% block main %}
    {{ form_start(searchForm, {'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}

    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Région</button>
                    </span>
                    {{ form_widget(searchForm.region) }}
                    {{ form_errors(searchForm.region) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Département</button>
                    </span>
                    {{ form_widget(searchForm.departement) }}
                    {{ form_errors(searchForm.departement) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Réseau</button>
                    </span>
                    {{ form_widget(searchForm.reseau) }}
                    {{ form_errors(searchForm.reseau) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Type de production</button>
                    </span>
                    {{ form_widget(searchForm.typeProduction) }}
                    {{ form_errors(searchForm.typeProduction) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Mot clé</button>
                    </span>
                    {{ form_widget(searchForm.keyword) }}
                    {{ form_errors(searchForm.keyword) }}
                </div>
            </div>

            <div class="form-group col-md-3 pull-right"s>
                {{ form_widget(searchForm.carto) }}
                {{ form_errors(searchForm.carto) }}
            </div>
        </div>

        <div class="row text-right">
            <div class="col-md-12">
                <a href="{{ url('ferme_index') }}?reset_search" class="btn btn-primary">
                    <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-list"></i> Générer la liste
                </button>
            </div>
        </div>
    </div><!-- well -->

    {{ form_end(searchForm) }}

    <a href="{{ url('ferme_informations_generales_creation') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Créer une nouvelle ferme
    </a>

    {% if is_granted('ACTION_FERME_DOWNLOAD') %}
        <a href="{{ url('ferme_telecharger_ferme_complet') ~ '?' ~ app.request.queryString }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-download"></i> Télécharger
        </a>
    {% endif %}

    {% if map is not null %}
        {% if gps > 0 %}
            {{ map.js|raw }}
            <div class="alert alert-success">{{ gps }} coordonnées GPS disponibles</div>
            <div id="map" style="width:100%; height:500px"></div>
            <br/>
        {% else %}
            <div class="alert alert-success">Aucunes coordonnées GPS disponibles</div>
        {% endif %}
    {% endif %}

    {% set fermes_count = fermes|length %}
    {% if fermes_count > 0 %}
        {% if fermes_count == 1 %}
            <div class="alert alert-success">1 résultat pour cette recherche :</div>
        {% else %}
            <div class="alert alert-success">{{ fermes_count }} résultats pour cette recherche :</div>
        {% endif %}
    {% else %}
        <div class="alert alert-warning">Aucun résultat pour cette recherche</div>
    {% endif %}

    {{ include('ferme/display_all_list.html.twig') }}
{% endblock %}

