{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des fermes
{% endblock %}

{% block main %}
    <a href="{{ url('ferme_informations_generales_creation') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Créer une nouvelle ferme
    </a>

    {{ include('ferme/display_all_list.html.twig') }}
{% endblock %}