{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Détails de la ferme
{% endblock %}

{% block breadcrumb %}
    <h5>
        {% if app.currentUser.isPaysanOf(ferme) %}
            <a href="{{ url('ferme_informations_generales', {ferme_id: ferme.id}) }}">Profil</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            {{ ferme.nom }}
        {% else %}
            <a href="{{ site_url(retUrl) }}">Gestion des fermes</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            {{ ferme.nom }}
        {% endif %}
    </h5>
{% endblock %}

{% block main %}
    {% if app.currentUser.isPaysanOf(ferme) %}
        <p class="text-right">
            <a href="{{ url('ferme_informations_generales', {ferme_id: ferme.id}) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-edit">&nbsp;</span>Éditer la ferme
            </a>
        </p>
    {% endif %}

    {% if is_granted('ACTION_FERME_EDIT_COMMENT', ferme) %}
        <a href="#">
            <i class="glyphicon glyphicon-pencil pull-right" title="Écrire un commentaire daté" data-toggle="jqshow" data-target="#wrapper_form" style="font-size:18px;"></i>
        </a>
        <p class="clearfix">&nbsp;</p>
        <div id="wrapper_form" class="alert alert-warning" {{ formCommentHasErrors ? '' : 'style="display: none;"' }}>
            {{ form_start(formComment, {attr: {class: 'pl-1 pr-1'}}) }}
                <div class="form-group clearfix">
                    <label>Ajouter un commentaire à la ferme</label>
                    {{ form_widget(formComment.commentaire) }}
                    {{ form_errors(formComment.commentaire) }}
                    <input type="submit" value="Valider" class="pull-right btn btn-success clearfix" style="margin:5px;"/>
                </div>
            {{ form_end(formComment) }}
        </div>

        <div class="ferme_commentaires">
            {% for com in ferme.commentaires %}
                <div class="alert alert-warning clearfix">
                    <a title="Supprimer le commentaire" href="#" data-toggle="modal" data-target="#modal_comment_remove_{{ com.id }}">
                        <i class="glyphicon glyphicon-remove pull-right" data-toggle="tooltip" title="Supprimer le commentaire"></i>
                    </a>
                    <h5><strong>Le {{ com.payComDate|date('d/m/Y') }}</strong></h5>
                    <p style="line-height:24px;">{{ com.commentaire|nl2br }}</p>
                    {{ modals.modal_oui_non('modal_comment_remove_' ~ ferme.id, 'Cette action est irréversible. Êtes vous sûr ?', url('ferme_ferme_commentaire_remove', {commentaire_id: com.id})) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="table-responsive well">
        <h3 style="font-size:20px;">{{ ferme.nom }}</h3>
        <table class="table">
            <tbody>
                {% if ferme.siret %}
                    <tr>
                        <th>SIRET :</th>
                        <td>{{ ferme.siret }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Chèque à l'ordre de (raison sociale) :</th>
                    <td>{{ ferme.ordreCheque }}</td>
                </tr>
                {% if ferme.description %}
                    <tr>
                        <th>Description :</th>
                        <td>{{ ferme.description }}</td>
                    </tr>
                {% endif %}
                {% if ferme.ville %}
                    <tr>
                        <th>Adresse de la ferme :</th>
                        <td>{{ ferme.libAdr|capitalize }}, {{ ferme.ville.cpString }} {{ ferme.ville.nom|upper }}</td>
                    </tr>
                {% endif %}
                {% if ferme.url %}
                    <tr>
                        <th>Site web :</th>
                        <td><a href="{{ ferme.url }}" target="_blank">{{ ferme.url }}</a></td>
                    </tr>
                {% endif %}
                {% if ferme.gpsLatitude and ferme.gpsLongitude %}
                    <tr>
                        <th>Coordonnées GPS :</th>
                        <td>
                            <a href="{{ url('map_ferme_display', {ferme_id: ferme.id}) }}">
                                <i class="glyphicon glyphicon-map-marker"></i>&nbsp;Visualiser la ferme sur une carte
                            </a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Surface de la ferme (ha) :</th>
                    <td>{{ ferme.surface }}</td>
                </tr>
                <tr>
                    <th>Nombre d'UTA :</th>
                    <td>{{ ferme.uta }}</td>
                </tr>
                <tr>
                    <th>Année(s) d'adhésion :</th>
                    <td>{{ ferme.anneeAdhesionsOrdered|join(';') }}</td>
                </tr>
                {% if not ferme.paysans.isEmpty %}
                    <tr>
                        <th>Paysans :</th>
                        <td>{{ ferme.paysans|map(paysan => paysan.user)|join(' ; ') }}</td>
                    </tr>
                {% endif %}
                {% if not ferme.amapienRefs.isEmpty %}
                    <tr>
                        <th>Référents produits :</th>
                        <td>
                            {% for ref_prod in ferme.amapienRefs %}
                                {{ ref_prod.user.name }} ({{ ref_prod.amap.nom }})<br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}