{% import "macro/_modals.html.twig" as modals %}


{% if fermes|length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Paysan(s)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ferme in fermes %}
                    <tr>
                        <th scope="row">{{ ferme.nom|ucfirst }}</th>
                        <td>
                            {% for paysan in ferme.paysans %}
                                {% if not loop.first %}; {% endif %}
                                <a href="{{ url('paysan_display', {paysan_id: paysan.id}) }}">{{ paysan.user }}</a>
                            {% endfor %}
                        </td>
                        <td>
                            {{ bouton_action('', [
                                [true, url('ferme_display', {ferme_id: ferme.id}), 'eye-open', 'Détails de la ferme'],
                                [true, url('ferme_informations_generales', {ferme_id: ferme.id}), 'edit', 'Modifier la ferme'],
                                [true, url('ferme_paysan_display', {ferme_id: ferme.id}), 'user', 'Paysans de la ferme'],
                                [is_granted('ACTION_FERME_REF_PRODUITS', ferme), url('ferme_referent_display', {ferme_id: ferme.id}), 'education', 'Référents produits de la ferme'],
                                [is_granted('ACTION_FERME_TYPE_PRODUCTION_MANAGE', ferme), url('ferme_type_production_display', {ferme_id: ferme.id}), 'certificate', 'Types de production'],
                                [true, url('produit_accueil', {ferme_id: ferme.id}), 'apple', 'Produits proposés'],
                                [is_granted('ACTION_FERME_REMOVE', ferme), '#modal_remove_' ~ ferme.id, 'remove', 'Supprimer la ferme']
                            ]) }}

                            {{ modals.modal_oui_non(
                                'modal_remove_' ~ ferme.id,
                                'Voulez-vous vraiment supprimer la ferme <strong>' ~ ferme.nom ~ '</strong>',
                                url('ferme_remove_ferme', {ferme_id: ferme.id}),
                                '<u>Attention :</u> en supprimant la ferme, vous supprimerez tous ses contrats ainsi que ses produits et les droits &laquo;référents produits&raquo; qui lui sont liés. Les paysans seront conservés dans la base de données.'
                            ) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}