{% extends 'base_connected.html.twig' %}

{% block title %}
    Ma ferme
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('paysan_display', {paysan_id: paysan.paysan.id}) }}">Profil</a>
        <i class="glyphicon glyphicon-menu-right"></i>{{ ferme.nom }}
    </h5>
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Paysan(s)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ ferme.nom }}</td>
                    <td>{{ ferme.paysans|map(paysan => paysan.user)|join(', ') }}</td>
                    <td>
                        {{ bouton_action('', [
                            [true, url('ferme_display', {ferme_id: ferme.id}), 'eye-open', 'Détails de la ferme'],
                            [true, url('ferme_informations_generales', {ferme_id: ferme.id}), 'edit', 'Modifier la ferme'],
                            [true, url('ferme_paysan_display', {ferme_id: ferme.id}), 'user', 'Paysans de la ferme'],
                            [true, url('ferme_type_production_display', {ferme_id: ferme.id}), 'certificate', 'Types de production'],
                            [true, url('produit_accueil', {ferme_id: ferme.id}), 'apple', 'Produits proposés']
                        ]) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}