{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block breadcrumb %}
    <h5>
        {% if ferme is defined and ferme.id is not null %}
            <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom|ucfirst }}</a> <i
                class="glyphicon glyphicon-menu-right"></i> Édition
        {% else %}
            <a href=" {{ url('ferme_index') }}">Gestion des fermes</a> <i
                class="glyphicon glyphicon-menu-right"></i> Création
        {% endif %}
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {% if form.regroupement is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-12">
                        {{ form_row(form.regroupement) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-6">
                    {{ form_row(form.nom) }}
                    {{ form_row(form.ordreCheque) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.siret) }}
                    <div class="alert alert-info" style="margin-top: 1em">
                        Cette information est disponible auprès de votre paysan et sur internet.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ form_row(form.description) }}
                </div>

                <div class="col-md-6">
                    <div class="">
                        <label for="f_delai_modif_contrat" class="control-label">Délai en jours nécessaire à la ferme
                            pour
                            préparer au mieux la livraison : </label>
                        <div class="alert alert-info" style="margin-top: 1em">
                            Ce champ est déplacé au niveau des contrats désormais.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="entry">
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-12">
                        <label for="f_autocomplete" class="control-label">Adresse de la ferme :</label>
                    </div>

                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            Utilisez le champ ci-dessous pour compléter l'adresse de manière automatique grâce aux
                            suggestions proposées.
                            Il est possible que la rue ou le numéro ne soit pas connu de l'outil. Dans ce cas, vous
                            pouvez
                            soit modifier
                            manuellement le champ N° et rue ci-dessus, soit contribuer au projet <a target="_blank"
                                                                                                    href="https://wiki.openstreetmap.org/wiki/FR:Guide_du_d%C3%A9butant">Open
                                Street Map</a>
                            pour que votre adresse soit précisément localisée.
                        </div>
                    </div>

                    <div class="col-xs-12 mb-1">

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" id="f_autocomplete" name="f_autocomplete"
                                   placeholder="Veuillez taper ici l'adresse et sélectionner une suggestion"/>
                        </div>

                        <div id="container_f_autocomplete" class="ui-autocomplete"
                             style="width:100%;font-size:11px;"></div>
                    </div>

                    <div class="col-sm-6">
                        {{ form_row(form.libAdr) }}
                    </div>

                    <div class="col-sm-6">
                        {{ form_row(form.ville) }}

                        <div id="container" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>
                    </div>


                    <div class="col-sm-6">
                        {{ form_row(form.gpsLatitude) }}
                    </div>

                    <div class="col-sm-6">
                        {{ form_row(form.gpsLongitude) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4">
                    {{ form_row(form.tva) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.tvaTaux) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.tvaDate) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ form_row(form.surface) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.uta) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ form_row(form.certification) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.url) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ form_row(form.dateInstallation) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.anneeDebCommercialisationAmap) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ form_row(form.msa) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.spg) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_row(form.anneeAdhesions) }}
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a href="{{ url('ferme_index') }}" class="btn btn-default">Annuler</a>
        <input type="submit" value="Sauvegarder" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
$(document).ready(function () {
  $("#f_autocomplete").autocomplete({
    source: "{{ url('ajax_geocode_get_suggestion') }}",
    dataType: "json",
    minLength: 4,
    appendTo: "#container_f_autocomplete",
    select: function (event, ui) {

      // Maj des informations sur la page
      $("#f_autocomplete").val(ui.item.label);
      $('input[name="ferme[libAdr]"]').val(ui.item.value.address);
      $('input[name="ferme[gpsLatitude]"]').val(ui.item.value.lat.toString());
      $('input[name="ferme[gpsLongitude]"]').val(ui.item.value.long.toString());
      $('input[name="ferme[ville]"]').val(
        ui.item.value.cp.toString() + ', ' + ui.item.value.ville.toString()
      );

      // Stop la propagation de l'évènement
      return false;
    }
  });
});
</script>
{% endblock %}
