{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    Paysans de la ferme
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom|capitalize }}</a>
        <i class="glyphicon glyphicon-menu-right"></i> Paysans
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Si vous voulez ajouter un paysan à la ferme, indiquez son nom d'utilisateur ou email dans le champ ci-dessous.
    </div>

    {{ form_start(form, {attr: {class: 'form-horizontal-no-margin'}}) }}
        <div class="row">
            <div class="form-group col-sm-12">
                {{ form_widget(form.user) }}
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-success pull-right">Ajouter</button>
            </div>
        </div>
    {{ form_end(form) }}

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for paysan in ferme.paysans %}
                    <tr>
                        <th scope="row">{{ paysan.user.name.lastName|upper }}</th>
                        <td>{{ paysan.user.name.firstName|capitalize }}</td>
                        <td>
                            <a href="mailto:{{ paysan.user.emails|join(';') }}">{{ paysan.user.emails|join(';') }}</a>
                        </td>
                        <td>
                            {{ bouton_action('', [
                                [is_granted('ACTION_PAYSAN_DISPLAY_PROFIL', paysan), url('paysan_display', {paysan_id: paysan.id}), 'eye-open', 'Détails du profil'],
                                [true, '#modal_remove_' ~ paysan.id, 'remove', 'Retirer le paysan']
                            ]) }}
                            {{ modals.modal_oui_non(
                                'modal_remove_' ~ paysan.id,
                                'Voulez-vous vraiment retirer le paysan <strong>' ~ paysan.user ~ '</strong>',
                                url('ferme_remove_paysan', {pay_id: paysan.id, f_id: ferme.id})
                            ) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}