{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    Référents produits de la ferme
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom|capitalize }}</a>
        <i class="glyphicon glyphicon-menu-right"></i> Référents produits
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Si vous voulez ajouter un référent produit à la ferme, utilisez les menus déroulant ci-dessous. Il convient de choisir l'AMAP puis l'amapien à qui vous donnez ce rôle.
    </div>

    {{ form_start(formSearch, {method: 'GET', attr: {class: 'js-form-search'}}) }}
        <div class="row" style="margin-bottom:5px;">
            {% if formSearch.regionDepartement is defined %}
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Région</button>
                        </span>
                        {{ form_widget(formSearch.regionDepartement.region) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Département</button>
                        </span>
                        {{ form_widget(formSearch.regionDepartement.departement) }}
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Amap</button>
                    </span>
                    {{ form_widget(formSearch.amap) }}
                </div>
            </div>
        </div>
    {{ form_end(formSearch) }}

    {% if formAdd is not null %}
        {{ form_start(formAdd, {method: 'POST', action: url('ferme_add_referent_produit', {f_id: ferme.id, a_id: selectedAmap.id})}) }}
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Amapien</button>
                        </span>
                        {{ form_widget(formAdd.amapien) }}
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="submit" value="Ajouter" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </div>
        {{ form_end(formAdd) }}
    {% endif %}

    {% if referents|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>AMAP</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for referent in referents %}
                        <tr>
                            <th scope="row">{{ referent.amap|upper }}</th>
                            <td>{{ referent.user.name.lastName|upper }}</td>
                            <td>{{ referent.user.name.firstName|capitalize }}</td>
                            <td>
                                {% for email in referent.user.emails %}
                                    <a href="mailto:{{ email }}">{{ email }}</a><br/>
                                {% endfor %}
                            </td>
                            <td>
                                {{ bouton_action('', [
                                    [true, '#modal_remove_ref_' ~ referent.id, 'remove', 'Supprimer le référent']
                                ]) }}
                                {{ modals.modal_oui_non(
                                    'modal_remove_ref_' ~ referent.id,
                                    'Voulez-vous vraiment supprimer le droit référent produit de <strong>' ~ referent.user ~ '</strong>',
                                    url('ferme_remove_referent_produit', {f_id: ferme.id, f_ref_id: referent.id})
                                ) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}