{% extends 'base_connected.html.twig' %}

{% form_theme form with ["form/form_theme_vertical.html.twig", _self] %}

{% block file_widget %}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block title %}
    Ajouter des types de production
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Plusieurs produits peuvent être proposés dans cette rubrique. Vous avez la possibilité de les ajouter un par un en passant par les champs d'ajout ci-dessous. Une fois terminé vos ajouts, cliquez sur Terminer.
    </div>

    {{ form_start(form) }}

    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label for="type_production" class="control-label">Produit proposé :</label>
                    {{ form_widget(form.typeProduction) }}
                    {{ form_errors(form.typeProduction) }}
                </div>

                <div class="form-group col-md-3">
                    <label for="nb_amap_part" class="control-label">Nombre d'AMAP livrées/s :</label>
                    {{ form_widget(form.nbAmapLivrees, {'attr': {'min': '0', 'step': '0.01'}}) }}
                    {{ form_errors(form.nbAmapLivrees) }}
                </div>

                <div class="form-group col-md-3">
                    <label for="nb_contrats_totalstep" class="control-label">Nombre total de contrats en AMAP :</label>
                    {{ form_widget(form.nbContratsTotalAmap, {'attr': {'min': '0', 'step': '1'}}) }}
                    {{ form_errors(form.nbContratsTotalAmap) }}
                </div>

                <div class="form-group col-md-3">
                    <label for="ca_annuel" class="control-label">Chiffre d'affaire total en AMAP :</label>
                    {{ form_widget(form.caAnnuelAmap, {'attr': {'min': '0', 'step': '0.01'}}) }}
                    {{ form_errors(form.caAnnuelAmap) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label for="p_ca_total" class="control-label">Part du CA total (sur l'année écoulée en %) :</label>
                    {{ form_widget(form.caTotal, {'attr': {'min': '0', 'step': '0.01'}}) }}
                    {{ form_errors(form.caTotal) }}
                </div>

                <div class="form-group col-md-4">
                    <label for="attest_cert" class="control-label">Attestation de certification (.pdf < 20Mo) :</label>
                    {{ form_widget(form.certification) }}
                    {{ form_errors(form.certification) }}
                    <small id="fileHelp" class="form-text text-muted">Possibilité de télécharger un scan de l'attestation de certification.</small>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <input type="submit" class="btn btn-success" value="Ajouter le type de production"/>
        <a href="{{ url('ferme_type_production_display', {ferme_id: ferme.id}) }}" class="btn btn-default">Terminer</a>
    </div>

    {{ form_end(form) }}
{% endblock %}