{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Types de production
{% endblock %}

{% block breadcrumb %}
    <h5>
        {% if app.currentUser.isPaysan %}
            <a href="{{ url('paysan_display', {paysan_id: app.currentUser.paysan.id}) }}">Profil</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            <a href="{{ url('ferme_home_paysan', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a>
            <i class="glyphicon glyphicon-menu-right"></i> Types de production
        {% else %}
            <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a>
            <i class="glyphicon glyphicon-menu-right"></i> Types de production
        {% endif %}
    </h5>
{% endblock %}

{% block main %}
    <p>
        <a href="{{ url('ferme_type_production_creation', {ferme_id: ferme.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Ajouter
        </a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Type de production</th>
                    <th>Nombre d'AMAP livrées/s</th>
                    <th>Nombre total de contrats en AMAP</th>
                    <th>Chiffre d'affaire total en AMAP</th>
                    <th>Part du CA total (sur l'année écoulée en %)</th>
                    <th>Attestation de certification</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for tpp in ferme.typeProductionProposes %}
                    <tr>
                        <th scope="row">{{ tpp.typeProduction.nomComplet }}</th>
                        <td>{{ tpp.nbAmapLivrees }}</td>
                        <td>{{ tpp.nbContratsTotalAmap }}</td>
                        <td>{{ tpp.caAnnuelAmap }}</td>
                        <td>{{ tpp.caTotal }}</td>
                        <td>
                            <a href="/{{ tpp.attestationCertification.fileRelativePath }}" target="_blank">
                                {{ tpp.attestationCertification.originalFileName }}
                            </a>
                        </td>
                        <td>
                            {{ bouton_action('', [
                                [true, '#modal_remove_' ~ tpp.id, 'remove', 'Supprimer le type de production']
                            ]) }}
                            {{ modals.modal_oui_non(
                                'modal_remove_' ~ tpp.id,
                                'Voulez-vous vraiment supprimer ce type de production',
                                url('ferme_type_production_remove', {type_production_id: tpp.id})
                            ) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}