{% extends 'base_connected.html.twig' %}

{% form_theme form "form/form_theme_vertical.html.twig" %}

{% set is_amap = app.currentUser.amapAdmin %}

{% block title %}Outil d'import de données en masse{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#alerte').modal('show');
        setTimeout(function () {
            $('#alerte').modal('hide')
        }, 2500);

        $(function () {
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $(':file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    });
</script>
{% endblock %}

{% block welcome %}
    {% if not is_amap %}
        <div class="btn btn-info pull-right" data-toggle="collapse" data-target="#info" style="margin-top:5px;">
            <i class="glyphicon glyphicon-info-sign"></i> Bulle info
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    {% if amapiens_succes or amap_succes or paysans_succes %}
        {% set alerte = '' %}
        {% if amap_succes %}
            {% set alerte = ' Les AMAP ont été ajoutées avec succès.' %}
        {% endif %}
        {% if amapiens_succes %}
            {% set alerte = ' Les amapiens ont été ajoutés avec succès.' %}
        {% endif %}
        {% if paysans_succes %}
            {% set alerte = ' Les paysans ont été ajoutés avec succès.' %}
        {% endif %}

        <div class="modal fade" id="alerte">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Information</h4>
                    </div>
                    <div class="modal-body">
                        <p><i class="glyphicon glyphicon-ok" style="color:#449D44;"></i>{{ alerte }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    {% if not is_amap %}
        <div class="alert alert-info collapse" id="info">
            Cet outil vous permet d'importer en masse les AMAP, les amapiens et les paysans. Pour importer des éléments
            en masse, vous devez d'abord remplir un fichier Excel au format <strong>XLS</strong>. Il est très important
            de respecter la structure du modèle mis à disposition en téléchargement dans chaque rubrique (nombre et nom
            des colonnes). Une fois que votre fichier Excel est prêt, vous pouvez le charger dans l'application. Pour
            cela, cliquez sur le bouton "Parcourir", sélectionnez votre fichier, cliquez sur OK.
        </div>
    {% endif %}

    {% if is_granted('ACTION_IMPORT_AMAP_PAYSAN') %}
        <div class="well">
            <h4>Importation des AMAP</h4>
            <p>Pour avoir un exemple du fichier à remplir, merci de cliquer sur le lien :</p>
            <p><a href="{{ site_url('assets/import/amap.xls') }}">Télécharger un exemple de fichier pour charger les
                    AMAP</a></p>
            {% if amap_erreur %}
                <div class="alert alert-danger">{{ amap_erreur|raw }}</div>
            {% endif %}
            <form enctype="multipart/form-data" method="POST" action="{{ url('import_amap') }}">
            <div class="input-group" style="margin:5px 0;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Parcourir&hellip; <input type="file" name="amap" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="form-group" style="margin-bottom:40px;">
                <input type="submit" value="Importer" class="btn btn-default pull-right"/>
            </div>
            </form>
        </div>
    {% endif %}

    {% if is_granted('ACTION_IMPORT') and form is defined %}
        <div class="well">
            <h4>Importation des amapiens</h4>
            <div class="alert alert-info">
                Pour importer des éléments, vous devez d'abord remplir un fichier Excel au format XLS. Aidez-vous de
                l'exemple mis à disposition en téléchargement.
            </div>
            <p>Pour avoir un exemple du fichier à remplir, merci de cliquer sur ce lien :</p>
            <p><a href="{{ site_url('assets/import/amapiens.xls') }}">Télécharger un exemple de fichier pour les
                    AMAPiens</a></p>
            {% if amapiens_erreur %}
                <div class="alert alert-danger">{{ amapiens_erreur|raw }}</div>
            {% endif %}
            {{ form_start(form, {attr: {enctype: "multipart/form-data", action: url("import_amapiens")}}) }}

            <div class="row">
                <div class="form-group">
                    <label for="amap_id" class="col-md-12 control-label">Dans quelle Amap voulez-vous importez les
                        amapiens ? </label>
                    <div class="col-md-12">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="input-group" style="margin:5px 0;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Parcourir&hellip; <input type="file" name="amapiens" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="form-group" style="margin-bottom:40px;">
                <input type="submit" value="Importer" class="btn btn-default pull-right"/>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {% if is_granted('ACTION_IMPORT_AMAP_PAYSAN') %}
        <div class="well">
            <h4>Importation des paysans et des fermes</h4>
            <p>Pour avoir un exemple du fichier à remplir, merci de cliquer sur ce lien :</p>
            <p><a href="{{ site_url('assets/import/paysans.xls') }}">Télécharger un exemple de fichier pour charger les
                    paysans</a></p>
            {% if paysans_erreur %}
                <div class="alert alert-danger">{{ paysans_erreur|raw }}</div>
            {% endif %}
            <form enctype="multipart/form-data" method="POST" action="{{ url('import_paysans') }}">
            <div class="input-group" style="margin:5px 0;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Parcourir&hellip; <input type="file" name="paysans" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="form-group" style="margin-bottom:40px;">
                <input type="submit" value="Importer" class="btn btn-default pull-right"/>
            </div>
            </form>
        </div>
    {% endif %}
{% endblock %}


