{% import "macro/_modals.html.twig" as modals %}


<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Fermes</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        {% for paysan in paysans %}
            {% set paysan_user = paysan.user %}
            <tr>

                <th scope="row">
                    {% if paysan_user.name.lastName|length > 25 %}
                        {{ paysan_user.name.lastName|upper|slice(0, 15) ~ '...' }}
                    {% else %}
                        {{ paysan_user.name.lastName|upper }}
                    {% endif %}
                </th>

                <td>
                    {% if paysan_user.name.firstName|length > 20 %}
                        {{ paysan_user.name.firstName|upper|slice(0, 15) ~ '...' }}
                    {% else %}
                        {{ paysan_user.name.firstName|upper }}
                    {% endif %}
                </td>

                <td>
                    <a href="mailto:{{ paysan_user.emails|join(';') }}">
                        {{ paysan_user.emails|join(';') }}
                    </a>
                </td>

                <td>
                    {% for ferme in paysan.fermes %}
                        <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">
                            {% if ferme.nom|length > 40 %}
                                {{ ferme.nom|lower|slice(0, 35) ~ '...' }}
                            {% else %}
                                {{ ferme.nom|lower }}
                            {% endif %}
                        </a>
                    {% endfor %}
                </td>

                <td>
                    {% if paysan.etat == constant('PsrLib\\ORM\\Entity\\ActivableUserInterface::ETAT_INACTIF') %}
                        {% set icon = 'play' %}
                        {% set text = 'Activer le compte du paysan' %}
                    {% else %}
                        {% set icon = 'pause' %}
                        {% set text = 'Désactiver le compte du paysan' %}
                    {% endif %}
                    {{ bouton_action(
                        '',
                        [
                            [true, url('paysan_display', {paysan_id: paysan.id}), 'eye-open', 'Profil du paysan'],
                            [true, url('paysan_informations_generales', {paysan_id: paysan.id}), 'edit', 'Modifier le profil du paysan'],
                            [true, url('paysan_de_activate_paysan', {paysan_id: paysan.id}), icon, text],
                            [is_granted('ACTION_PAYSAN_CHANGE_CR', paysan), url('paysan_recherche_amap'), 'search', "Recherche d'AMAP"],
                            [true, '#modal_key_' ~ paysan.id, 'lock', 'Envoyer un mot de passe au paysan'],
                            [is_granted('ACTION_PAYSAN_CHANGE_CR', paysan), '#modal_remove_' ~ paysan.id, 'remove', 'Supprimer le compte du paysan'],
                        ]
                    ) }}

                    {{ modals.modal_oui_non(
                        'modal_remove_' ~ paysan.id,
                        'Voulez-vous vraiment supprimer le profil de "' ~ paysan.user ~ '"',
                        url('paysan_remove_paysan', {paysan_id: paysan.id})
                    ) }}

                    {{ modals.modal_oui_non(
                        'modal_key_' ~ paysan.id,
                        'Voulez-vous vraiment envoyer un mot de passe au paysan <strong>' ~ paysan.user ~ '</strong>',
                        url('paysan_password', {paysan_id: paysan.id}),
                        "<u>Attention :</u> cette action créera un mot de passe au paysan (même s'il en a déjà un) qui lui sera envoyé par email ; de plus, son profil sera activé."
                    ) }}
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
