{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des paysans
{% endblock %}

{% block main %}
    <a href="{{ url('paysan_informations_generales_creation') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Créer un profil paysan
    </a>

    {% include 'paysan/display_all_list.html.twig' %}
{% endblock %}