{% extends 'base_connected.html.twig' %}

{% block title %}
    {% if app.currentUser == paysan.user %}
        Mon profil
    {% else %}
        Détails du profil
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if app.currentUser != paysan.user %}
        <h5>
            <a href="{{ url('paysan_index') }}">Gestion des paysans</a>
            <i class="glyphicon glyphicon-menu-right"></i>
            {{ paysan.user }}
        </h5>
    {% endif %}
{% endblock %}

{% block main %}
    <p class="text-right">
        <a href="{{ url('paysan_informations_generales', {paysan_id: paysan.id}) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-edit">&nbsp;</span>Éditer le profil
        </a>&nbsp;
    </p>

    <div class="table-responsive well">
        <h3 style="font-size:20px;">{{ paysan.user }}</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th class="pt-0">Nom d'utilisateur</th>
                    <td>{{ paysan.user.username }}</td>
                </tr>
                <tr>
                    <th class="pt-0">Emails</th>
                    <td>
                        {% for email in paysan.user.emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br />
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th class="pt-0">Fermes</th>
                    <td>
                        {% for ferme in paysan.fermes %}
                            <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% if paysan.user.numTel1 %}
                    <tr>
                        <th class="pt-0">Numéro de téléphone n°1</th>
                        <td>{{ paysan.user.numTel1 }}</td>
                    </tr>
                {% endif %}
                {% if paysan.user.numTel2 %}
                    <tr>
                        <th class="pt-0">Numéro de téléphone n°2</th>
                        <td>{{ paysan.user.numTel2 }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="pt-0">Adresse</th>
                    <td>{{ paysan.user.address.adress|ucfirst }}, {{ paysan.user.ville.cpString ?? '' }} {{ (paysan.user.ville.nom ?? '')|upper }}</td>
                </tr>
                {% set ferme = paysan.fermes.first %}
                {% if ferme and ferme.anneeAdhesionsOrdered|length > 0 %}
                    <tr>
                        <th class="pt-0">Année(s) d'adhésion</th>
                        <td>{{ ferme.anneeAdhesionsOrdered|join('; ') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="pt-0">Synchronisation de la lettre d'information</th>
                    <td>{{ paysan.user.newsletter ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}