{% extends 'base_connected.html.twig' %}

{% import "paysan/_modal_email.html.twig" as modal_email %}

{% block title %}
    Gestion des paysans
{% endblock %}


{% block main %}
    {{ form_start(searchForm, {'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Région</button>
                    </span>
                    {{ form_widget(searchForm.region) }}
                    {{ form_errors(searchForm.region) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Département</button>
                    </span>
                    {{ form_widget(searchForm.departement) }}
                    {{ form_errors(searchForm.departement) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Réseau</button>
                    </span>
                    {{ form_widget(searchForm.reseau) }}
                    {{ form_errors(searchForm.reseau) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Type de production</button>
                    </span>
                    {{ form_widget(searchForm.typeProduction) }}
                    {{ form_errors(searchForm.typeProduction) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Année d'adhésion</button>
                    </span>
                    {{ form_widget(searchForm.adhesion) }}
                    {{ form_errors(searchForm.adhesion) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Début de commercialisation en AMAP</button>
                    </span>
                    {{ form_widget(searchForm.commercialisation) }}
                    {{ form_errors(searchForm.commercialisation) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Mot clé</button>
                    </span>
                    {{ form_widget(searchForm.keyword) }}
                    {{ form_errors(searchForm.keyword) }}
                </div>
            </div>
            <div class="form-group col-md-2" style="margin-top:5px;">
                {{ form_widget(searchForm.active) }}
                {{ form_errors(searchForm.active) }}
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12">
                <a href="{{ url('paysan_index') }}?reset_search" class="btn btn-primary">
                    <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-list"></i> Générer la liste
                </button>
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}

    {% if paysans|length > 0 %}
        <p>
            <a href="{{ url('paysan_informations_generales_creation') }}" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Créer un profil paysan
            </a>
            {% if is_granted('ACTION_PAYSAN_DOWNLOAD_LIST') %}
                <a href="{{ url('paysan_telecharger_paysans') ~ '?' ~ app.request.queryString }}" class="btn btn-primary" style="margin-left:5px;">
                    <i class="glyphicon glyphicon-download"></i> Télécharger la liste
                </a>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_email" data-dismiss="modal" aria-hidden="true" style="margin-left:5px;">
                    <i class="glyphicon glyphicon-envelope"></i> Emails de la liste
                </a>
            {% endif %}
        </p>
        {% if is_granted('ACTION_PAYSAN_DOWNLOAD_LIST') %}
            {{ modal_email.modal(paysans) }}
            <div class="modal fade" id="modal_autre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Veuillez indiquer ce que vous souhaitez faire :</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                Attention ! Cette fonction n'a pas d'étape de validation, l'action est immédiate : <br/> (fonction désactivée à cause des quotas pour l'envoi de mails)
                            </div>
                            <p><a href="#">Envoyer un mot de passe à tous les paysans de la liste qui n'en ont pas</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% set nb_paysans = paysans|length %}
        <div class="alert alert-success">
            {{ nb_paysans == 1 ? '1 résultat pour cette recherche :' : nb_paysans ~ ' résultats pour cette recherche :' }}
        </div>
        {% include 'paysan/display_all_list.html.twig' %}
    {% else %}
        <p>
            <a href="{{ url('paysan_informations_generales_creation') }}" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Créer un profil paysan
            </a>
            {% if is_granted('ACTION_PAYSAN_DOWNLOAD_LIST') %}
                <a href="#" class="btn btn-primary" disabled>
                    <i class="glyphicon glyphicon-download"></i> Télécharger la liste
                </a>
                <a href="#" class="btn btn-primary" disabled>
                    <i class="glyphicon glyphicon-envelope"></i> Emails de la liste
                </a>
            {% endif %}
        </p>
        <div class="alert alert-warning">Aucun résultat pour cette recherche</div>
    {% endif %}
{% endblock %}