{% extends 'base_connected.html.twig' %}

{% import "paysan/_modal_email.html.twig" as modal_email %}

{% block title %}
    Gestion des paysans
{% endblock %}

{% block main %}
    <a href="{{ url('paysan_informations_generales_creation') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Créer un profil paysan
    </a>

    {% if paysans|length > 0 %}
        <a href="{{ url('paysan_telecharger_paysans_regroupement') }}" class="btn btn-primary" style="margin-left:5px;">
            <i class="glyphicon glyphicon-download"></i> Télécharger la liste
        </a>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_email" data-dismiss="modal" aria-hidden="true" style="margin-left:5px;">
            <i class="glyphicon glyphicon-envelope"></i> Emails de la liste
        </a>

        {{ modal_email.modal(paysans) }}
    {% endif %}

    {{ include('paysan/display_all_list.html.twig') }}
{% endblock %}