{% extends 'base_connected.html.twig' %}

{% block title %}
    Recherche d'AMAP
{% endblock %}

{% block main %}
    <div class="alert alert-success">Cette fonctionnalité est en cours de refonte. En attendant la nouvelle version veuillez
        vous rapprocher de votre <a href="{{ url('contact_admin') }}">administrateur réseau</a> afin qu'il vous mettre en lien avec les AMAP intéressées.
    </div>
{% endblock %}
