{% if evt.dateDeb is not null and evt.dateFin is not null %}
    <span class="badge badge-date">Du {{ evt.dateDeb|date_format_french }} au {{ evt.dateFin|date_format_french }}</span>
{% elseif evt.dateDeb is not null and evt.dateFin is null %}
    <span class="badge badge-date">A partir du {{ evt.dateDeb|date_format_french }}</span>
{% elseif evt.dateDeb is null and evt.dateFin is not null %}
    <span class="badge badge-date">Jusqu'au {{ evt.dateFin|date_format_french }}</span>
{% endif %}