{{ form_start(form) }}

        {{ form_row(form.related) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.descriptionCourte) }}
        {{ form_row(form.description) }}
        {{ form_row(form.lieu) }}

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <p class="text-muted">S'il s'agit d'un évènement</p>
            </div>
        </div>

        {{ form_row(form.dateDeb) }}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.img) }}
        {% if evt.img is defined and evt.img is not null %}
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <p class="text-danger">Envoyer une nouvelle image pour remplacer l'existance. Laisser vide pour la garder.</p>
                    <img src="/{{ evt.img.fileRelativePath }}" class="img-responsive" />
                </div>
            </div>
        {% endif %}

        {{ form_row(form.pj) }}
        {% if evt.pj is defined and evt.pj is not null %}
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <p class="text-danger">Envoyer un nouveau fichier pour remplacer l'existant. Laisser vide pour le garder.</p>
                    <a class="btn btn-primary" href="/{{ evt.pj.fileRelativePath }}" target="_blank">Télécharger la PJ</a>
                </div>
            </div>
        {% endif %}

        {% if form.accesAbonnesDefautUniquement is defined %}
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    {{ form_row(form.accesAbonnesDefautUniquement) }}
                </div>
            </div>
        {% endif %}

<div class="row">
    <div class="col-xs-12">
        <button
                style="margin-left: 10px"
                type="submit"
                class="btn btn-success pull-right"
        >

            Sauvegarder
        </button>

        <a
                href="{{ url('evenements') }}"
                class="btn btn-default pull-right"
        >
            Retour
        </a>
    </div>
</div>
{{ form_end(form) }}