{% extends 'base_connected.html.twig' %}

{% block title %}Nouvelle actualité{% endblock %}


{% block breadcrumb %}
    <h5>
        <a href="{{ url('evenements') }}">Fil d'actualités</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle actualité
    </h5>
{% endblock %}

{% block main %}
    {% include('evenement/_form.html.twig') %}
{% endblock %}