{% extends 'base_connected.html.twig' %}

{% block title %}Nouvelle actualité{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('evenements') }}">Fil d'actualités</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle actualité
    </h5>
{% endblock %}


{% block main %}
    {{ form_start(form) }}

        {{ form_row(form.type) }}

        <div class="row">
            <div class="col-xs-12">
                <button
                    style="margin-left: 10px"
                    type="submit"
                    class="btn btn-success pull-right"
                >
                    Suivant
                </button>

                <a
                    href="{{ url('evenements') }}"
                    class="btn btn-default pull-right"
                >
                    Retour
                </a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}