{% extends 'base_connected.html.twig' %}

{% block title %}{{ evt.titre }}{% endblock %}


{% block body_class %}page-evenement{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('evenements') }}">Fil d'actualités</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ evt.titre }}
    </h5>
{% endblock %}

{% block main %}
    <div class="row mb-1">
        <div class="col-xs-3 col-sm-1">
            <img src="/assets/images/{{ evt.logo }}" class="img-responsive" />
        </div>
        <div class="col-xs-9 col-sm-11">
            {% if evt.related is defined %}
                <p class="mb-0"><b>{{ evt.related }}</b></p>
            {% endif %}
            <div class="mt-1">{{ include('evenement/_badge_date.html.twig', {evt: evt}) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {% if evt.img is not null %}
                <img src="/{{ evt.img.fileRelativePath }}" class="img-responsive" />
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 mt-1 mb-1">
                    {% if evt.lieu is not empty %}
                        {{ include('evenement/_lieu.html.twig', {evt: evt}) }}
                    {% endif %}
                </div>
                <div class="col-xs-12">
                    {{ evt.description|purify_summernote_lite }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            {% if evt.pj is not null %}
                <a href="/{{ evt.pj.fileRelativePath }}" class="btn btn-warning" target="_blank">Télécharger la pièce jointe</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ url('evenements') }}">Retour</a>
        </div>
    </div>

{% endblock %}