{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block body_class %}page-evenement{% endblock %}

{% block welcome %}
    {% if app.currentUser %}
        <div class="alert alert-success">Bonjour <strong>{{ app.currentUser.name }}</strong>, bienvenue sur <strong>{{ SITE_NAME }} !</strong> {% if app.currentUser.hasNoRights %}Pour l'instant, aucun droits spécifiques ne vous a été attribué. En attendant, vous pouvez vérifier / modifier les informations de votre profil.{% endif %}</div>
    {% endif %}
{% endblock %}

{% block title %}Fil d'actualités{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success" href="{{ url('evenement_abonnement') }}">
                <i class="glyphicon glyphicon-plus"></i>Je veux suivre
            </a>

            {% if is_granted('ACTION_EVENEMENT_ADD') %}
                <a class="btn btn-primary" href="{{ url('evenements_add_1') }}">
                    <i class="glyphicon glyphicon-plus"></i>Ajouter une actualité
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-1">
        {% for evt in evts %}
            <div class="col-xs-12">
                <div class="col-xs-12 border-default mb-1 pb-1 pt-1 block-evenement">

                    <div class="block-evenement-logo">
                        <img src="/assets/images/{{ evt.logo }}">
                    </div>

                    <div class="block-evenement-header">
                        <p class="block-evenement-titre text-success h4">{{ evt.titre }}</p>
                        {% if evt.related is defined %}
                            <p class="block-evenement-type">{{ evt.related }}</p>
                        {% endif %}
                    </div>

                    <div class="block-evenement-action">
                        {% if is_granted('ACTION_EVENEMENT_EDIT', evt) %}
                            <p class="mt-1 text-right">
                                <a href="{{ url('evenements_edit', {id: evt.id}) }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>

                                <a  href="#" data-toggle="modal"  data-target="#modal_remove_{{ evt.id }}">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </p>
                            {{ modals.modal_post(
                                "modal_remove_" ~ evt.id,
                                "Supprimer l'actualité",
                                "Êtes-vous sûr de vouloir supprimer l'actualité ?",
                                url('evenements_remove', {id: evt.id}),
                                "Confirmer la suppression de l'actualité"
                            ) }}
                        {% endif %}
                    </div>

                    {% if evt.lieu is not empty %}
                        <div class="block-evenement-lieu">
                            {{ include('evenement/_lieu.html.twig', {evt: evt}) }}
                        </div>
                    {% endif %}

                    <div class="block-evenement-description">
                        {{ evt.descriptionCourte|purify_summernote_lite }}
                    </div>

                    <div class="block-evenement-detail">
                        {% if is_granted('ACTION_EVENEMENT_DISPLAY', evt) %}
                            <a href="{{ url('evenements_display', {id: evt.id}) }}" class="btn btn-primary">Voir plus</a>
                        {% endif %}
                    </div>

                    <div class="block-evenement-date">
                        {{ include('evenement/_badge_date.html.twig', {evt: evt}) }}
                    </div>

                </div>


            </div>

        {% endfor %}
    </div>

    {{ render_user_actu_modal() }}
{% endblock %}