{% extends 'base_connected.html.twig' %}

{% block title %}Ajouter un document{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ url('document_utilisateur_index') }}">Gestion des documents</a> <i class="glyphicon glyphicon-menu-right"></i> Ajout</h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_row(form.annee) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.target) }}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="logo" style="padding-top: 12px">Document</label>
            <div class="col-sm-4">
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}
            </div>
        </div>

        <div class="form-group text-right">
            <div class="col-md-12">
                <a href="{{ url('document_utilisateur_index') }}" class="btn btn-default">Annuler</a>
                <input type="submit" value="Sauvegarder" class="btn btn-success"/>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
