{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des documents{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% macro render_document_nom(document) %}
    {% if document.amap is defined %}
        {{ document.amap.nom }}
    {% else %}
        {{ document.ferme.nom }}
    {% endif %}
{% endmacro %}

{% macro render_document_user(document) %}
    {% if document.amap is defined %}
        {{ document.amap.admins|map(u => u.name.fullNameInversed)|join(', ') }}
    {% else %}
        {{ document.ferme.paysans|map(p => p.user.name.fullNameInversed)|join(', ') }}
    {% endif %}
{% endmacro %}

{% macro render_document_modal(emails) %}
    <div class="modal fade" id="modal_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les utilisateurs de cette liste
                        ?</h4>
                </div>
                <div class="modal-body">
                    <h5>Pour envoyer un email à tous ces utilisateurs , vous devez :</h5>
                    <ul>
                        <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit +
                            Copier sur la zone bleue ci dessous
                        </li>
                        <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                        <li>Faire nouveau message</li>
                        <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit +
                            Coller dans la liste des destinataires du message.
                        </li>
                    </ul>

                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block main %}
    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(searchForm.region) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.departement) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.year) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(searchForm.keyword) }}
                </div>

                <div class="col-md-4 text-right">
                    <a
                            href="?reset_search"
                            class="btn btn-primary"
                            style="margin-right:5px;">
                        <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(searchForm) }}

    <form method="POST" action="{{ url('document_utilisateur_document_action') }}">

        <a class="btn btn-success" href="{{ url('document_utilisateur_creation') }}">
            <i class="glyphicon glyphicon-plus"></i> Ajouter
        </a>

        {% if documents|length > 0 %}
            <button
                    class="btn btn-success js-trigger-modal js-dynamic-disabled"
                    name="action-download"
                    type="submit"
                    data-title="Êtes-vous sûr ?"
                    data-message="Vous allez télécharger les documents sélectionnés."
                    data-confirm-class="btn-danger"
                    disabled
            >Télécharger</button>

            <button
                    class="btn btn-danger js-trigger-modal js-dynamic-disabled"
                    name="action-delete"
                    type="submit"
                    data-title="Êtes-vous sûr ?"
                    data-message="Vous allez supprimer les bulletins sélectionnés."
                    data-confirm-class="btn-danger"
                    disabled
            >Supprimer</button>

            <button data-target="#modal_email" class="btn btn-success js-dynamic-disabled" data-toggle="modal" disabled type="button">
                <i class="glyphicon glyphicon-envelope"></i> Emails
            </button>

            <button
                    class="btn btn-success js-trigger-modal js-dynamic-disabled"
                    name="action-notify"
                    type="submit"
                    data-title="Êtes-vous sûr ?"
                    data-message="Vous allez envoyer une notification aux utilisateurs associés aux documents sélectionnés."
                    data-confirm-class="btn-danger"
                    disabled
            >Notifier par email</button>

            {% for document in documents %}
                <input
                    type="checkbox"
                    class="js-input-binded hidden"
                    name="selected[{{ document.id }}]"
                    data-document-id="{{ document.id }}"
                />
            {% endfor %}
        {% endif %}
    </form>

    <div class="alert alert-warning mt-1">
        {{ documents|length == 0 ? 'Aucun' : documents|length }} résultat{{ documents|length > 1 ? 's' : '' }} pour cette recherche.
    </div>

    {% if documents|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th data-orderable="false">
                        <input
                                type="checkbox"
                                class="js-tableselect-all"
                        />
                    </th>
                    <th>Année de référence</th>
                    <th>Nom du document</th>
                    <th>Nom de l'organisation</th>
                    <th>Nom des utilisateurs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td>
                            <input
                                type="checkbox"
                                class="js-tableselect-row js-binder"
                                data-target-name="selected[{{ document.id }}]"
                            />
                        </td>
                        <td>{{ document.annee }}</td>
                        <td>{{ document.nom }}</td>
                        <td>{{ _self.render_document_nom(document)|spaceless }}</td>
                        <td>{{ _self.render_document_user(document)|spaceless }}</td>
                        <td>
                            {{ modals.modal_post(
                                "modal_remove_" ~ document.id,
                                "Supprimer le document",
                                "Êtes-vous sûr de vouloir supprimer le document ?",
                                url('document_utilisateur_supprimer', {du_id: document.id}),
                                "Confirmer la suppression du document",
                            ) }}

                            {{ bouton_action('', [
                                [true, url('document_utilisateur_telecharger', {du_id: document.id}), 'download', 'Télécharger'],
                                [true, '#modal_remove_' ~ document.id, 'remove', 'Supprimer le document'],
                            ]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {{ _self.render_document_modal(emails) }}

{% endblock %}


{% block javascript %}
  {{ parent() }}

  <script>
    const emails = JSON.parse("{{ emails|json_encode|e('js') }}");

    $('.js-input-binded').on('change', function () {
      let emailsToDisplay = [];
         $('.js-input-binded:checked').each(function (i, elt) {
             const documentId = $(elt).data('document-id');
             emailsToDisplay = emailsToDisplay.concat(emails[documentId]);
         });
      $('#modal_email textarea').val(emailsToDisplay.sort().join("\n"));
    });
  </script>
{% endblock %}
