{% extends 'base_connected.html.twig' %}

{% block title %}Les administrateurs du département {{ departement.nom }}{% endblock %}


{% block breadcrumb %}
    <h5><a href=" {{ url('region_index') }}">Les régions</a> <i class="glyphicon glyphicon-menu-right"></i> {{ departement.region.nom }} <i class="glyphicon glyphicon-menu-right"></i>
    <a href=" {{ url('region_departement', {region_id: departement.region.id}) }}">Les départements</a> <i class="glyphicon glyphicon-menu-right"></i>{{ departement.nom }}<i class="glyphicon glyphicon-menu-right"></i> Administrateurs</h5>
{% endblock %}

{% block main %}
  <div class="alert alert-info">
   Si vous voulez ajouter un administrateur au département, utilisez le champ ci-dessous en vous aidant des suggestions proposées en cours de frappe. Dans le champ d'ajout, il convient de commencer par le nom. L'ajout se fera via l'email afin d'éviter tout problème en cas d'homonyme. Pour ensuite retirer les droits d'administration à l'amapien, il suffit de cliquer sur l'amapien à supprimer.
  </div>

  {{ form_start(form) }}
    {{ form_widget(form.user) }}
    {{ form_errors(form.user) }}

    <div class="form-group col-sm-12 mt-1">
        <input type="submit" value="Ajouter" class="btn btn-success pull-right"/>
    </div>
  {{ form_end(form) }}

    {% for dep_admin in departement.admins %}
        {% if dep_admin == app.currentUser %}
            <button class="btn btn-default btn-sm" disabled>{{ dep_admin.name }}</button>&nbsp;
        {% else %}
            <a
                    href="#"
                    data-toggle="modal"
                    data-target="#modal_{{ dep_admin.id }}">
                <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Retirer les droits à l'amapien">
                    {{ dep_admin.name }} <i class="glyphicon glyphicon-remove"></i>
                </button>
            </a>

            <div class="modal fade text-left" id="modal_{{ dep_admin.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Département "{{ departement.nom }}"</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Voulez-vous vraiment retirer les droits d'administration à "{{ dep_admin.name }}" ?</h5>
                            <p class="text-right">
                                <a href=" {{ url('region_remove_dep_admin', {dep_id: departement.id, dep_adm_id: dep_admin.id}) }}"
                                   class="btn btn-danger btn-sm">OUI</a>&nbsp;
                                <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}

{% endblock %}




