{% extends 'base_connected.html.twig' %}

{% block title %}Les départements de la région {{ region }}{% endblock %}

{% block main %}
    {% if departement_all|length > 0 %}
        <div class="alert alert-info">À l'aide des actions de cette liste, vous pourrez ajouter des administrateurs aux régions ainsi qu'aux départements.</div>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Départements</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>

            {% for departement in departement_all %}
            <tr>
                <th scope="row">
                    {{ departement.nom|capitalize }}
                </th>

                <td>
                    {{ bouton_action('', [
                        [true, url('region_departement_logo', {departement_id: departement.id}), 'picture', 'Icône du département'],
                        [true, url('region_dep_admin', {dep_id: departement.id}), 'education', 'Administrateurs du département'],
                    ]) }}
                </td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
