{% extends 'base_connected.html.twig' %}

{% block title %}Nouveau logo{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ url('region_index') }}">Les régions</a> <i class="glyphicon glyphicon-menu-right"></i> {{ departement.region.nom }} <i class="glyphicon glyphicon-menu-right"></i>
    <a href=" {{ url('region_departement', {region_id: departement.region.id}) }}">Les départements</a> <i class="glyphicon glyphicon-menu-right"></i>{{ departement.nom }}<i class="glyphicon glyphicon-menu-right"></i>Logo</h5>
{% endblock %}

{% block main %}
    <h4>Réseau {{ departement.nom|capitalize }}</h4>

    {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

    <div class="form-group">
        <label class="col-sm-1 control-label" for="url">URL</label>
        <div class="col-sm-4">
            {{ form_widget(form.url) }}
        </div>
    </div>
    {{ form_errors(form.url) }}

    <div class="alert alert-info">
        Si le réseau ne possède pas de site internet, indiquer le site du Miramap http://miramap.org
    </div>

    {% if departement.logo is not null %}
        <div class="form-group">
            <label class="col-sm-1 control-label" for="logo" style="padding-top: 12px">Logo actuel</label>
            <div class="col-sm-4">
                <div class="logo-reseau">
                    <img class="img-responsive" src="{{ base_url(departement.logo.FileRelativePath) }}">
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-1 control-label" for="logo" style="padding-top: 12px">Logo</label>
        <div class="col-sm-4">
            {{ form_widget(form.img) }}
            {{ form_errors(form.img) }}
            <p class="help-block">Si vous modifiez le lien, laissez vide pour garder le logo actuel. Seul les fichier .jpg et .png sont autorisés, avec un poids maximum de 2 Mo et une taille maximale de 1024x1024.</p>
        </div>
    </div>

    <div class="form-group text-right">
      <a class="btn btn-default" href="{{ url('region_departement', {region_id: departement.region.id}) }}">Annuler</a>
      <button type="submit" class="btn btn-success">Sauvegarder</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
