<button class="btn btn-success btn-copy">
    Copier la première ligne partout
</button>

<form method="POST" action="{{ validation_url }}" id="form-simulation">
    <table class="table table-bordered simulation-container">
        <thead>
            <tr class="active">
                <th colspan="2"></th>
                {% for produit in produits %}
                    <th class="text-center">
                        <u>{{ produit.nom }}</u>
                        <br />
                        {{ produit.conditionnement }}
                        <br />
                        <span class="badge">{{ produit.prix.prixTTC|money }} €</span>
                    </th>
                {% endfor %}
            </tr>

            <tr class="active">
                <th class="text-right" style="border-right: 0px;">Total :</th>
                <th>
                    <div class="input-group">
                        <input
                            name="total"
                            class="form-control text-right total"
                            size="4"
                            disabled
                        >
                        <span class="input-group-addon">€</span>
                    </div>
                </th>
                {% for produit in produits %}
                    <th>
                        <div class="input-group">
                            <input
                                disabled
                                class="form-control text-right total-produit"
                                data-produit-id="{{ produit.id }}"
                            />
                            <span class="input-group-addon">€</span>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for date in dates %}
            <tr class="input-row">
                <td class="text-left" style="vertical-align: middle;">{{ date.dateLivraison|date_format_french }}</td>
                <td>
                    <input
                        disabled
                        class="form-control text-right total-date"
                        size="3"
                        data-date="{{ date.dateLivraison|date('Y-m-d') }}"
                    />
                </td>
                {% for produit in produits %}
                    <td>
                        {% if not exclusions[date.id][produit.id] %}
                            {% set field_name = "commande[#{date.id}][#{produit.id}]" %}
                            <input
                                {% if dateInscriptionMin.greaterThan(date.getDateLivraison()) %}readonly{% endif %}
                                name="{{ field_name }}"
                                type="number"
                                class="form-control text-center simulation-input"
                                min="0"
                                step="1"
                                data-produit-id="{{ produit.id }}"
                                data-date="{{ date.dateLivraison|date('Y-m-d') }}"
                                value="{{ app.request.request.all()['commmande'][date.id][produit.id] ?? contrat_cellule_count(existingCommand, date, produit) }}"
                            />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 10px">
        {% if prevalidationMessage is not null %}
            <p><b>{{ prevalidationMessage|raw }}</b></p>
        {% endif %}
        {% if validation_url is not null %}
            <button
                class="btn btn-success pull-right"
                type="submit"
                style="margin-left: 10px;"
            >
                {{ validation_label }}
            </button>
        {% endif %}
        <a class="btn btn-default pull-right" href="{{ site_url(cancel_url) }}">Retour</a>
    </div>
    <div class="clearfix"></div>
</form>

<script>
    function formatNumber(num) {
        return num.toFixed(2).replace('.', ',');
    }

    $(document).ready(function () {
        var priceMap = {
            {% for produit in produits %}
                {{ produit.id }}:{{ produit.prix.prixTTC|money_decimal }},
            {% endfor %}
        };

        // Activate Datatable
        $('.simulation-container').DataTable({
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            scrollY: 600,
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                leftColumns: 2,
            }
        });

        function updateCount() {
            // Calculate sum
            var sumDate = {};
            var sumProduct = {};
            $('.simulation-input').each(function (index, elt) {
                var $elt = $(elt);
                var pId = $elt.data('produit-id');
                var pDate = $elt.data('date');
                var val = $elt.val();
                var price = Math.round(val * priceMap[pId] * 100) / 100;

                if (!(pId in sumProduct)) {
                    sumProduct[pId] = 0.0;
                }
                sumProduct[pId] += price;

                if (!(pDate in sumDate)) {
                    sumDate[pDate] = 0.0;
                }
                sumDate[pDate] += price;
            });

            // Update columns
            Object.keys(sumProduct).forEach(function (pId) {
                var sumRounded = Math.round(sumProduct[pId] * 100) / 100;
                $('.total-produit[data-produit-id=' + pId + ']').val(formatNumber(sumRounded));
            });

            // Update rows
            var total = 0.0;
            Object.keys(sumDate).forEach(function (pDate) {
                var sumRounded = Math.round(sumDate[pDate] * 100) / 100;
                $('.total-date[data-date=' + pDate + ']').val(formatNumber(sumRounded));
                total += sumDate[pDate];
            });

            // Update total
            $('.total').val(formatNumber(Math.round(total * 100) / 100));
        }

        $('.simulation-container').on('change', '.simulation-input', function (e) {
            updateCount();
        });

        // Trigger calc on startup
        updateCount();

        $('.btn-copy').on('click', function (e) {
            e.preventDefault();

            let i = 3;
            while (true) {
                const inputs = document.querySelectorAll(`.simulation-container tbody tr.input-row td:nth-child(${i}) input.simulation-input:not([readonly])`);
                if (inputs.length === 0) {
                    break;
                }

                const firstInput = inputs[0];
                for (const input of inputs) {
                    input.value = firstInput.value;
                }

                i++;
            }
            updateCount();
        });
    });
</script>

<style>
    .simulation-input {
        min-width: 150px;
    }

    .total-date {
        min-width: 100px;
    }
</style>