{% extends 'base_connected.html.twig' %}

{% block title %}Copier un contrat{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ retUrl }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i> Création
        <i class="glyphicon glyphicon-menu-right"></i> Sélection
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            {{ form_widget(form.mc) }}
            {{ form_errors(form.mc) }}
        </div>

        <div class="col-sm-12 mt-1 text-right">
            <a href="{{ retUrl }}" class="btn btn-default">Retour</a>
            <input type="submit" value="Ajouter" class="btn btn-success"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
