{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    Gestion des contrats vierges
{% endblock %}

{% block main %}
    {{ form_start(searchForm, {'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}
        <div class="well">
            <div class="row">
                {% if searchForm.region is defined %}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Région</button>
                            </span>
                            {{ form_widget(searchForm.region) }}
                            {{ form_errors(searchForm.region) }}
                        </div>
                    </div>
                {% endif %}

                {% if searchForm.departement is defined %}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Département</button>
                            </span>
                            {{ form_widget(searchForm.departement) }}
                            {{ form_errors(searchForm.departement) }}
                        </div>
                    </div>
                {% endif %}

                {% if searchForm.reseau is defined %}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Réseau</button>
                            </span>
                            {{ form_widget(searchForm.reseau) }}
                            {{ form_errors(searchForm.reseau) }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">AMAP</button>
                        </span>
                        {% if searchForm.amapFerme is defined %}
                            {{ form_widget(searchForm.amapFerme.amap) }}
                            {{ form_errors(searchForm.amapFerme.amap) }}
                        {% else %}
                            {{ form_widget(searchForm.amap) }}
                            {{ form_errors(searchForm.amap) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Ferme</button>
                        </span>
                        {% if searchForm.amapFerme is defined %}
                            {{ form_widget(searchForm.amapFerme.ferme) }}
                            {{ form_errors(searchForm.amapFerme.ferme) }}
                        {% else %}
                            {{ form_widget(searchForm.ferme) }}
                            {{ form_errors(searchForm.ferme) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-12">
                    <a href="{{ site_url(app.request.pathInfo ~ '?reset_search') }}" class="btn btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(searchForm) }}

    {% if fermeSelected %}
        <p>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-plus"></i> Créer un nouveau contrat
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ site_url('contrat_vierge/v2_contrat_form_1/' ~ fermeSelected.id ~ '/' ~ amapSelected.id) }}">A partir de zéro</a></li>
                    {% if is_granted('ACTION_CONTRACT_MODEL_COPY', mcCopyArgumentDTO) %}
                        <li><a href="{{ site_url('contrat_vierge/v2_contrat_copy/' ~ mcCopyArgumentDTO.ferme.id ~ '/' ~ mcCopyArgumentDTO.amap.id) }}">A partir d'un contrat existant</a></li>
                    {% endif %}
                </ul>
            </div>&nbsp;
            <a href="{{ url('produit_accueil', {ferme_id: fermeSelected.id}) }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-apple"></i> Produits proposés par la ferme
            </a>
        </p>
    {% else %}
        <p><a href="#" class="btn btn-success" disabled><i class="glyphicon glyphicon-plus"></i> Créer un nouveau contrat</a></p>
    {% endif %}

    {% if contrats|length >= 1 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Nom</th>
                        <th>Etat</th>
                        <th>Paniers<br/>obligatoires</th>
                        <th>Choix<br/>identiques</th>
                        <th>Date de fin de souscription</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mc in contrats %}
                        <tr>
                            <th scope="row">{{ mc.nom|ucfirst }}</th>
                            <td>{{ mc.etat.value|trans([], 'modele_contrat_etat') }}</td>
                            <td>{{ mc.informationLivraison.nblivPlancher|ucfirst }}</td>
                            <td>{{ mc.informationLivraison.produitsIdentiqueAmapien ? 'OUI' : 'NON' }}</td>
                            <td>{{ mc.forclusion ? mc.forclusion|date('d/m/Y') : 'Aucune' }}</td>
                            <td>
                                {{ bouton_action('', [
                                    [is_granted('ACTION_CONTRACT_MODEL_SEND', mc), '#modal_activate_' ~ mc.id, 'send', 'Envoyer le contrat au paysan pour validation'],
                                    [is_granted('ACTION_CONTRACT_MODEL_SEND', mc), 'contrat_vierge/v2_simulation/' ~ mc.id, 'ok', 'Tester le contrat'],
                                    [is_granted('ACTION_CONTRACT_MODEL_EDIT', mc), 'contrat_vierge/v2_contrat_edit/' ~ mc.id, 'edit', 'Modifier le contrat'],
                                    [is_granted('ACTION_CONTRACT_MODEL_EDIT', mc), '#modal_remove_' ~ mc.id, 'remove', 'Supprimer le contrat'],
                                    [is_granted('ACTION_CONTRACT_MODEL_PREVIEW_PDF', mc), 'contrat_vierge/v2_preview_pdf/' ~ mc.id, 'file', 'Prévisualiser le contrat']
                                ]) }}
                                {{ modals.modal_oui_non('modal_activate_' ~ mc.id, 'Voulez-vous vraiment envoyer le contrat <strong>' ~ mc.nom ~ '</strong>', 'contrat_vierge/v2_state_to_validate/' ~ mc.id, '<u>Attention :</u> Avez-vous bien testé le contrat ? Une fois validé, vous ne pouvez plus le modifier, sauf si le paysan le refuse !') }}
                                {{ modals.modal_oui_non('modal_remove_' ~ mc.id, 'Voulez-vous vraiment supprimer le contrat <strong>' ~ mc.nom ~ '</strong>', 'contrat_vierge/remove/' ~ mc.id, '') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">Aucun contrat n'a encore été créé.</div>
    {% endif %}
{% endblock %}