{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des contrats vierges
{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-md-5">
            {{ form_start(searchForm, {'method': 'GET', 'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">AMAP</button>
                </span>
                {{ form_widget(searchForm.amap) }}
                {{ form_errors(searchForm.amap) }}
            </div>
            {{ form_end(searchForm) }}
        </div>

        <div class="col-md-12">
            {% if contrats|length == 0 %}
                <div class="alert alert-warning">Vous n'avez pas de contrats en attente de validation :-)</div>
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Etat</th>
                            <th>Date de fin de souscription</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contrat in contrats %}
                            <tr>
                                <td>{{ contrat.nom }}</td>
                                <td>{{ contrat.etat.value|trans([], 'modele_contrat_etat') }}</td>
                                <td>{{ contrat.forclusion|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ site_url('/contrat_vierge/v2_state_paysan_approval/' ~ contrat.id) }}" class="btn btn-success">Voir le contrat</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}