{% extends 'base_connected.html.twig' %}

{% import "macro/_pdf.html.twig" as pdf %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Mes contrats vierges
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url('contrat_vierge/list_to_validate') }}">Mes contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Validation du contrat vierge
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {% include 'contrat_signe/_info_modele_contrat.html.twig' with {modeleContrat: contrat} %}
        </div>
        <div class="col-xs-12">
            <h4 class="mb-2 mt-1">
                <div class="alert alert-danger">
                    Vous vous apprêtez à vous engager dans le cadre d'un partenariat avec des amapiens.<br/>Lisez le contrat ci-dessous, acceptez les conditions puis validez, sinon il ne sera pas pris en compte.
                </div>
            </h4>
        </div>
        <div class="col-xs-12">
            {{ pdf.pdf_embeded(site_url('/contrat_vierge/v2_preview_pdf/' ~ contrat.id)) }}

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.confirmSign) }}
                    {{ form_errors(form.confirmSign) }}

                    {{ form_widget(form.confirmCharter) }}
                    {{ form_errors(form.confirmCharter) }}

                    <p>Une fois <b>validé</b>, ce contrat juridique reste disponible au format PDF : l'impression du contrat n'est pas nécessaire.</p>

                    <button type="submit" class="btn btn-success pull-right" style="margin-left: 10px">Valider</button>
                    <a
                        href="#"
                        class="btn btn-danger pull-right"
                        data-toggle="modal"
                        data-target="#alerte"
                    >Refuser</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="modal fade" id="alerte">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Motif du refus</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ site_url('/contrat_vierge/v2_state_paysan_refuse/' ~ contrat.id) }}">
                        <div class="form-goup" style="margin-bottom: 10px">
                            <textarea
                                class="form-control"
                                name="refus"
                                placeholder="Ecrire votre message"
                                rows="10"
                                required
                            ></textarea>
                        </div>
                        <div class="container-fluid" style="padding-right: 0">
                            <button class="btn btn-success pull-right" >Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}