{% extends 'base_connected.html.twig' %}

{% block title %}
    Simulation
{% endblock %}

{% block main %}
    {% include 'contrat_signe/_info_modele_contrat.html.twig' with {modeleContrat: contrat} %}

    {{ include('contrat_signe/_contrat_commande_form.html.twig', {form: form, url_retour: retUrl, mc: contrat, validation_label: 'Tester', copy_button: true}) }}


{% endblock %}
