{% extends 'base_connected.html.twig' %}

{% block title %}
    {{ contrat.nom }} : Dates et fréquence du contrat
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 2
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin', 'id': 'form-dates'}}) }}

    <div class="well well-sm">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="forclusion" class="control-label pt-0">Date de fin de souscription <span class="text-danger">*</span> :</label>
                <div class="alert alert-info">
                    L'AMAP et le référent pourront créer les contrats après la date de fin de souscription. Si le contrat permet la modification des livraisons, celles-ci sont modifiables jusqu'à la date de livraison diminuée du délai de la ferme du contrat.
                </div>
                {{ form_widget(form.forclusion) }}
                {{ form_errors(form.forclusion) }}
            </div>

            <div class="form-group col-md-12">
                <label for="forclusion" class="control-label pt-0">Délai de la ferme <span class="text-danger">*</span> :</label>
                <div class="alert alert-info mt-1">
                    Le délai de la ferme de ce contrat est défini en accord avec le·a paysan·ne. Il permet de : <br />
                    - mieux préparer la livraison avec des quantités définitives,<br />
                    - avoir une valeur supérieure à 0, 0 étant le jour de la livraison,<br />
                    - rester modifiable sur toute la durée du contrat avec le bouton “délai de la ferme”, en accord avec le·a paysan·ne.<br />
                    <br />
                    Exemple :<br />
                    L'AMAP livre les jeudis et le·a paysan·ne doit connaître les quantités à livrer le mardi matin alors il faut noter 3 sur le délai de la ferme.<br />
                    Donc jusqu’au lundi soir, pour la livraison du jeudi à venir :<br />
                    - L'amapien·ne pourra déplacer et/ou reporter la livraison.<br />
                    - Un·e référent·e pourra ajouter un contrat sur les dates à venir.<br />
                </div>
                {{ form_widget(form.delaiModifContrat) }}
                {{ form_errors(form.delaiModifContrat) }}
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="frequence" class="control-label pt-0">Fréquence des livraisons : </label>
                    {{ form_widget(form.frequence) }}
                    {{ form_errors(form.frequence) }}
                    <p class="help-block">
                        <span class="text-danger">
                            Si vous avez besoin de définir une autre fréquence, utilisez simplement le bouton "+" ci-dessous afin d'ajouter les dates dont vous avez besoin
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="date_livraison_debut" class="control-label pt-0">Date de première livraison :</label>
                <input
                        type="text"
                        data-date-format="yyyy-mm-dd"
                        class="form-control datepicker"
                        name="date_livraison_debut"
                        id="date_livraison_debut"

                />
                <p class="help-block">{{ contraintesLivraisonsString }}</p>
            </div>

            <div class="form-group col-md-3">
                <label for="date_livraison_fin" class="control-label pt-0">Date de dernière livraison :</label>
                <input
                        type="text"
                        data-date-format="yyyy-mm-dd"
                        class="form-control datepicker"
                        name="date_livraison_fin"
                        id="date_livraison_fin"

                />
                <p class="help-block">{{ contraintesLivraisonsString }}</p>
            </div>

            <div class="col-md-3">
                <button id="btn-dategeneration" class="btn btn-default" style="margin-top: 24px;">Générer des dates</button>
                <p class="help-block">Merci de remplir les dates de première et dernière livraison pour que ce bouton fonctionne</p>
            </div>

            <div class="col-md-12">
                <label>Dates de livraison : </label><br />
                {{ form_errors(form) }}
                <div id="dates-list"></div>
            </div>
            <div class="col-md-12">
                <button
                        type="button"
                        id="btn-plus"
                        class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <button id="btn-sort" class="btn btn-default">Trier</button>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
        <a href="{{ site_url('/contrat_vierge/v2_contrat_form_1') }}" class="btn btn-default">Étape précédente</a>
        {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
        <input type="submit" value="Étape suivante" class="btn btn-success"/>
    </div>


    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var lineId = 1;
            var requestCounter = 0;

            $('#btn-plus').click(function (e) {
                e.preventDefault();
                newLine();
            });

            $('#form-dates').on('click', '.btn-remove', function (e) {
                e.preventDefault();
                $(this).closest('.date-row').remove();
                $('input[type=submit]').trigger('set:disabled');
            });

            $('#btn-dategeneration').on('click', function (e) {
                e.preventDefault();

                // Delete all exising lines
                $('.btn-remove').trigger('click');


                var date = moment($('#date_livraison_debut').val());
                var dateFin = moment($('#date_livraison_fin').val());
                var increment = parseInt($('select[name="model_contrat_form2[frequence]"]').val());

                if (!date.isValid() || !dateFin.isValid()) {
                    return;
                }

                while (date.valueOf() <= dateFin.valueOf()) {
                    newLine(date.format('YYYY-MM-DD'));
                    date.add(increment, 'days');
                }
            });

            $('#btn-sort').on('click', function (e) {
                e.preventDefault();

                var dates = [];
                $('.date-input').each(function () {
                    dates.push($(this).val());
                });

                dates.sort();
                $('.date-input').each(function () {
                    $(this).val(dates.shift());
                });

                // Update error messages
                $('.datepicker').trigger('changeDate');
            });

            $('input[type=submit]').on('set:disabled', function () {
                var nbDates = $('.date-input').length;

                if (nbDates === 0 || requestCounter > 0) {
                    $(this).prop('disabled', true);
                } else {
                    $(this).prop('disabled', false);
                }
            }).trigger('set:disabled');

            var datesExistantes = JSON.parse('{{ contratDates|json_encode|raw }}');
            for (const dateKey in datesExistantes) {
                newLine(datesExistantes[dateKey]);
            }

            function newLine(date = null) {
                var input = $("<div class='date-row row'><div class='col-xs-3'><div class='form-group'><input type='text' data-date-format='yyyy-mm-dd' class='form-control datepicker date-input' readonly required /><span class='help-block erreur-livraison'>{{ contraintesLivraisonsString }}</span><span class='help-block erreur-etudiant'></span></div></div><div class='col-xs-2'><button type='button' class='btn btn-danger btn-remove'><i class='glyphicon glyphicon-minus'></i></button></div></div>");
                input
                    .find('input')
                    .prop('name', 'model_contrat_form2[dates][' + lineId + '][dateLivraison]');

                if (date !== null) {
                    input
                    .find('input')
                    .val(date);
                }

                $('#dates-list')
                    .append(input)
                ;
                lineId = lineId + 1;
                input
                    .find('.datepicker')
                    .datepicker()
                    .on('changeDate', function (ev) {
                    var divErrorLivraison = $(this).closest('.form-group').find('.erreur-livraison');
                    var divErrorEtudiant = $(this).closest('.form-group').find('.erreur-etudiant');
                    var divFromGroup = $(this).closest('.form-group');
                    function updateFormError() {
                        if (divErrorLivraison.is(":visible") || divErrorEtudiant.is(":visible")) {
                            divFromGroup.addClass('has-error');
                        } else {
                            divFromGroup.removeClass('has-error');
                        }
                    }

                    // Test des jours autorisés
                    var contraintesJoursAutorises = JSON.parse('{{ contraintesLivraisons|json_encode|raw }}');
                    var date = moment($(this).val());

                    if (!date.isValid()
                    || contraintesJoursAutorises.indexOf(date.day()) === -1 // Date valide
                    ) {
                        divErrorLivraison.show();
                    } else {
                        divErrorLivraison.hide();
                    }

                    {% if contrat.amap.amapEtudiante %}
                        // Test des dates d'absences
                        divErrorEtudiant.hide();
                        requestCounter++;
                        $.ajax('/contrat_vierge/ajax_test_date_absence?amap_id={{ contrat.livraisonLieu.amap.id }}&date=' + $(this).val(), {
                            success: function (res) {
                                requestCounter--;
                                $('input[type=submit]').trigger('set:disabled');
                                if (res.result === true) {
                                    divErrorEtudiant.html('Attention cette date est incluse sur la période d\'absence "' + res.title + '"').show();
                                    updateFormError();
                                }
                            }
                        });
                    {% endif %}
                    updateFormError();
                    $('input[type=submit]').trigger('set:disabled');
                }).trigger('changeDate');
            }

            function manageGenerationButtonActivationState() {
                var valLivFirst = $('#date_livraison_debut').val();
                var valLivLast = $('#date_livraison_fin').val();
                if (valLivFirst === "" || valLivLast === "") {
                    $('#btn-dategeneration').prop('disabled', true);
                } else {
                    $('#btn-dategeneration').prop('disabled', false);
                }
            }
            manageGenerationButtonActivationState();
            $('#date_livraison_debut').on('changeDate', manageGenerationButtonActivationState);
            $('#date_livraison_fin').on('changeDate', manageGenerationButtonActivationState);
        });
    </script>

    <style>
        .datepicker[readonly] {
            background-color: white;
        }
    </style>


{% endblock %}