{% extends 'base_connected.html.twig' %}

{% block title %}
    Article complémentaire au contrat juridique
{% endblock %}

{% block breadcrumb %}
<h5>
    <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    Création
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_2') }}">Étape 2</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_3') }}">Étape 3</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_4') }}">Étape 4</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_5') }}">Étape 5</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ site_url('contrat_vierge/v2_contrat_form_6') }}">Étape 6</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    Étape 7
</h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-12">
                {{ include('contrat_signe/_info_modele_contrat.html.twig', {modeleContrat: contrat}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    Cette étape vous permet de rajouter un article spécifique au contrat tel que "les dates de livraison sont indicatives" (exemple pour les fruits d’été).
                    <br/>Pour information, légalement, un contrat en AMAP ne peut pas indiquer à l'amapien ou au paysan d'être à jour de sa cotisation.
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="pt-0">Article : Autres éléments au contrat</label>
                    {{ form_widget(form.contratAnnexes) }}
                    {{ form_errors(form.contratAnnexes) }}
                </div>
            </div>

            <div class="col-xs-12">
                <p><b>Vous pouvez consulter le contrat juridique (format PDF) après validation. Il restera modifiable jusqu'à envoi au paysan.</b></p>
            </div>
        </div>

        <div class="form-group text-right">
            <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
            <a href="{{ site_url('/contrat_vierge/v2_contrat_form_6') }}" class="btn btn-default">Étape précédente</a>
            {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
            <input type="submit" value="Valider" class="btn btn-success"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
