{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Entête du contrat
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 1
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label for="nom" class="control-label pt-0">Nom du contrat :<span class="text-danger"> *</span></label>
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="form-group">
                    <label for="filiere" class="control-label pt-0">Type de production :<span class="text-danger"> *</span></label>
                    {{ form_widget(form.filiere) }}
                    {{ form_errors(form.filiere) }}
                </div>

                <div class="form-group">
                    <label for="specificite" class="control-label pt-0">Informations complémentaires : </label>
                    {{ form_widget(form.specificite) }}
                    {{ form_errors(form.specificite) }}
                </div>

                <div class="form-group">
                    <label for="livraison_lieu" class="control-label pt-0">Lieu de livraison :<span class="text-danger"> *</span></label>
                    {{ form_widget(form.livraisonLieu) }}
                    {{ form_errors(form.livraisonLieu) }}
                </div>

                {% if contrat.cdp %}
                    <p class="text-danger">Ce contrat est associée à une ferme "Les Champs des Possibles", aussi une interface de paiement sera présentée à l'amapien au moment de la souscription du contrat.</p>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
        {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
        <input type="submit" value="Étape suivante" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}
{% endblock %}