{% form_theme form with ['form/form_theme.html.twig', _self] %}

{% block _model_contrat_form3_produits_row %}
    {% if id is defined %}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
{% endblock %}

{% block _model_contrat_form3_produits_entry_row %}
    {% set htmx_attrs = {
        "hx-post": "",
        "hx-trigger": "change",
        "hx-swap": "outerHTML",
        "hx-disabled-elt": "form select,form input,form  a,form button",
        "hx-target": "closest form",
        "hx-include": "form[name=\"model_contrat_form3\"]"
    } %}
    {% if id is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-3">
                    {{ form_widget(form.typeProduction, {attr: htmx_attrs}) }}
                    {{ form_errors(form.typeProduction) }}
                </div>
                <div class="col-sm-3">
                    {{ form_widget(form.fermeProduit, {attr: htmx_attrs}) }}
                    {{ form_errors(form.fermeProduit) }}
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        {{ form_widget(form.prix.prixTTC) }}
                        <div class="input-group-addon">€</div>
                    </div>
                    {{ form_errors(form.prix.prixTTC) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.regulPds) }}
                    {{ form_errors(form.regulPds) }}
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-danger btn-remove"><i class="glyphicon glyphicon-minus"></i></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{{ form_start(form) }}
    {% if form.produits is defined %}
        {{ form_row(form.produits) }}
    {% else %}
        <div class="alert alert-warning">La ferme n'a aucun produit.</div>
    {% endif %}

    {{ form_errors(form) }}

    <div class="row mb-1">
        <div class="col-xs-12">
            <div class="text-right">
                <button
                        type="button"
                        id="btn-plus"
                        class="btn btn-success pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right mb-1">
                <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
                <a href="{{ site_url('/contrat_vierge/v2_contrat_form_2') }}" class="btn btn-default">Étape précédente</a>
                {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
                <input type="submit" value="Étape suivante" class="btn btn-success"/>
            </div>
        </div>
    </div>
{{ form_end(form) }}
