{% extends 'base_connected.html.twig' %}

{% block title %}
    {{ contrat.nom }} : l'échéancier des règlements
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_2') }}">Étape 2</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_3') }}">Étape 3</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_4') }}">Étape 4</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_5') }}">Étape 5</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 6
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal-no-margin'}}) }}

    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="pt-0">Nombre de règlements maximum : <span class="text-danger">*</span></label>
                    {{ form_widget(form.reglementNbMax, {'attr': {'min': '0', 'step': '1'}}) }}
                    {{ form_errors(form.reglementNbMax) }}
                </div>
            </div>
            <div class="col-xs-12">
                <label class="pt-0">Dates des règlements à effectuer : <span class="text-danger">*</span></label>
                {{ form_errors(form.dateReglements) }}
                {{ form.dateReglements.setRendered() and '' }} {# Disable auto form rendering as done by front-end js #}
            </div>

            <div id="dates-list" class="col-xs-12">
            </div>
            <div class="col-xs-12">
                <button type="button" id="btn-plus" title="Ajouter une date de règlement" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>

            <div class="col-xs-12">
                <div class="form-group" style="margin-top: 30px;">
                    <label class="pt-0">Mode de règlement : <span class="text-danger">*</span></label>
                    {{ form_widget(form.reglementType) }}
                    {{ form_errors(form.reglementType) }}
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="pt-0">Modalités de règlement :</label>
                    <div class="alert alert-info">
                        L'ordre du chèque est à renseigner dans la gestion des fermes, et est repris dans le contrat juridique : veillez à le vérifier avant de l'envoyer au paysan.
                    </div>
                    {{ form_widget(form.reglementModalite) }}
                    {{ form_errors(form.reglementModalite) }}
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
            {% if contrat.informationLivraison.produitsIdentiquePaysan %}
                <a href="{{ site_url('/contrat_vierge/v2_contrat_form_4') }}" class="btn btn-default">Étape précédente</a>
            {% else %}
                <a href="{{ site_url('/contrat_vierge/v2_contrat_form_5') }}" class="btn btn-default">Étape précédente</a>
            {% endif %}
            {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
            <input type="submit" value="Étape suivante" class="btn btn-success"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var lineId = 1;

            $('#btn-plus').click(function (e) {
                e.preventDefault();
                newLine();
            });

            $('form[name="model_contrat_form6"]').on('click', '.btn-remove', function (e) {
                e.preventDefault();
                $(this).closest('.date-row').remove();
            });

            var datesExistantes = JSON.parse('{{ contrat.dateReglements|map(date => date.date|date('Y-m-d'))|json_encode|raw }}');
            for (const date of datesExistantes) {
                newLine(date);
            }

            function newLine(date = null) {
                var input = $("<div class='date-row row'><div class='col-xs-3'><input type='text' data-date-format='yyyy-mm-dd' class='form-control datepicker' required /></div><div class='col-xs-2'><button type='button' title='Supprimer cette date de règlement' class='btn btn-danger btn-remove'><i class='glyphicon glyphicon-minus'></i></button></div></div>");
                input.find('input').prop('name', 'model_contrat_form6[dateReglements][' + lineId + '][date]');
                if (date !== null) {
                    input.find('input').val(date);
                }
                $('#dates-list').append(input);
                lineId = lineId + 1;
                input.find('.datepicker').datepicker();
            }
        });
    </script>
{% endblock %}