{% extends 'base_connected.html.twig' %}

{% form_theme form 'form_div_layout.html.twig' %}

{% block title %}
    {{ contrat.nom }} : Calendrier des livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_2') }}">Étape 2</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_3') }}">Étape 3</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_4') }}">Étape 4</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 5
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    <div class="well well-sm">
        <div class="row">

            <div class="col-xs-12">
                <div class="alert alert-info">
                    Il restera possible de modifier une date de livraison paysan en cas de nécessité (produits non prêts, contrainte producteur, ...).
                </div>
            </div>

            <div class="col-xs-12">
                <table class="table text-center">
                    <tr>
                        <th></th>
                        {% for produit in dto.produits %}
                            <th class="text-center">{{ produit.nom }}</th>
                        {% endfor %}
                    </tr>

                    {% for date in dto.dates %}
                        <tr>
                            <td class='text-left'>{{ date.dateLivraison|date('Y-m-d') }}</td>
                            {% for produit in dto.produits %}
                                <td>
                                   {{ form_widget(form.exclusions[dto.getKeyForProduitDate(produit, date)]) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div class="text-right mb-1">
                    <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
                    <a href="{{ site_url('/contrat_vierge/v2_contrat_form_4') }}" class="btn btn-default">Étape précédente</a>
                    {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
                    <input type="submit" value="Étape suivante" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}


{% endblock %}
