{% extends 'base_connected.html.twig' %}


{% block title %}
    {{ contrat.nom }} : choix des produits et de leurs prix
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_2') }}">Étape 2</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 3
    </h5>
{% endblock %}

{% block main %}
    {{ include('contrat_vierge/v2_form_3_form.html.twig') }}
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script>
        $('body').on('click', 'form[name="model_contrat_form3"] .btn-remove', function(e) {
            $(e.target).closest('.well').remove();
        });
        let childCount = document.getElementById('model_contrat_form3_produits').childElementCount;
        $('body').on('click', 'form[name="model_contrat_form3"] #btn-plus', function() {
            const productContainer = document
                .getElementById('model_contrat_form3_produits') // Reprocess getElement to avoid loosing reference after htmx process
            ;
            productContainer
                .insertAdjacentHTML('beforeend',productContainer.getAttribute('data-prototype').replace(/__name__/g, childCount))
            ;
            childCount++;
            htmx.process(productContainer);
        });
    </script>
{% endblock %}
