{% extends 'base_connected.html.twig' %}



{% block title %}
    {{ contrat.nom }} : modalités du contrat
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des contrats vierges</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Création
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_1') }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_2') }}">Étape 2</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ site_url('contrat_vierge/v2_contrat_form_3') }}">Étape 3</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 4
    </h5>
{% endblock %}

{% block body_attr %}{{ parent() }} hx-ext="morph"{% endblock %}

{% block main %}
    {{ include('contrat_vierge/v2_form_4_form.html.twig', {form: form}) }}
{% endblock %}
