{% import "macro/_form_htmx.html.twig" as form_htmx %}

{% form_theme form with ['form/form_theme_vertical.html.twig', _self] %}

{% block radio_widget -%}
    {% if id is defined %}
        <div class="form-group col-md-1 radio">
            {{- form_label(form, null, {widget: block('radio_widget', 'form_div_layout.html.twig')}) -}}
        </div>
    {% endif %}
{%- endblock radio_widget %}

{{ form_htmx.form_start_htmx(form, {'attr': {"hx-swap": "morph", "hx-trigger": "change, keyup", "hx-disabled-elt": "a, button, input", 'class': 'form-horizontal-no-margin'}}) }}

    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend>Modalités générales</legend>
                    <label class="pt-0">Le paysan propose-t-il des produits identiques à toutes les livraisons ? <span class="text-danger">*</span></label>
                    <div class="form-group row">
                        {{ form_widget(form.produitsIdentiquePaysan) }}
                    </div>
                    {{ form_errors(form.produitsIdentiquePaysan) }}


                    <label class="pt-0">L'amapien choisit-il des produits identiques à chaque livraison ? <span class="text-danger">*</span></label>
                    <div class="form-group row">
                        {{ form_widget(form.produitsIdentiqueAmapien) }}
                    </div>
                    {{ form_errors(form.produitsIdentiqueAmapien) }}


                    <label class="pt-0">Nombre de livraison plafond sur lequel le paysan s’engage :</label>
                    <div class="form-group">
                        <input type="text" id="nb_liv_paysan" class="form-control" disabled readonly value="{{ contrat.dates|length }}">
                    </div>

                    <label class="pt-0">Nombre de livraison plancher sur lequel le paysan accepte que l’amapien s’engage : <span class="text-danger">*</span></label>
                    <div class="btn btn-info"
                         data-container="body"
                         data-toggle="popover"
                         data-placement="top"
                         data-content="Un paysan peut proposer que l'amapien ait la possibilité d'avoir moins de livraisons que le nombre total de livraisons."
                    >
                        <i class="glyphicon glyphicon-info-sign"></i> Bulle info
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.nblivPlancher) }}
                        {{ form_errors(form.nblivPlancher) }}
                    </div>

                    {% if form.nblivPlancherDepassement is defined %}
                        <div class="form-deplacement-vide">
                            <label class="pt-0">L'amapien peut-il dépasser le nombre de livraison plancher ? <span class="text-danger">*</span></label>
                            <div class="form-group row">
                                {{ form_widget(form.nblivPlancherDepassement) }}
                            </div>
                            {{ form_errors(form.nblivPlancherDepassement) }}

                        </div>
                    {% endif %}

                    <div class="form-deplacement-vide">
                        <label class="pt-0">Souhaitez vous gérer les déplacements sur clic'AMAP ? <span class="text-danger">*</span></label>
                        <div class="form-group row">
                            {{ form_widget(form.amapienGestionDeplacement) }}
                        </div>
                        {{ form_errors(form.amapienGestionDeplacement) }}

                    </div>
                </fieldset>


                <fieldset>
                    {% if form.amapienGestionDeplacement[0].vars.data %}
                        <legend>Modalités de déplacement/report des livraisons</legend>
                        <div class="col-xs-12">
                            <dl class="alert alert-info">
                                <dt>Définition des termes :</dt>
                                <dd>Une livraison amapien est déplacée quand elle est affectée sur une date avec une livraison paysan et une livraison amapien vide.</dd>
                                <dd>Une livraison amapien est reportée quand elle est affectée sur une date ayant déjà une livraison.</dd>
                            </dl>
                        </div>
                        <div class="col-xs-12">
                            <dl class="alert alert-info">
                                <dt>Attention</dt>
                                <dd>
                                    Il n'y a pas de contrôle sur le nombre de produits pouvant être récupérés au maximum sur une livraison.
                                    {% if is_granted('ACTION_CONTACT_ADMIN') %}
                                        Pour proposer vos suggestions sur la manière de contrôler automatiquement ce maximum <a href="{{ path('contact_admin') }}" target="_blank">contactez-nous</a> !
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    {% endif %}

                    <div class="form-deplacement">
                        {% if form.amapienPermissionDeplacementLivraison is defined %}
                            <div class="form-deplacement-vide">
                                <label class="pt-0" id="label-deplacements">L'amapien est-il autorisé à déplacer une livraison sur une date sans livraison amapien ? <span class="text-danger">*</span></label>
                                <div class="form-group row">
                                    {{ form_widget(form.amapienPermissionDeplacementLivraison) }}
                                </div>
                                {{ form_errors(form.amapienPermissionDeplacementLivraison) }}

                            </div>
                        {% endif %}

                        {% if form.amapienPermissionReportLivraison is defined %}
                            <label class="pt-0" id="label-report">L'amapien est-il autorisé à reporter une livraison sur une date ayant déjà une livraison ? <span class="text-danger">*</span></label>
                            <div class="form-group row">
                                {{ form_widget(form.amapienPermissionReportLivraison) }}
                            </div>
                            {{ form_errors(form.amapienPermissionReportLivraison) }}

                        {% endif %}

                    </div>
                </fieldset>

                <div class="form-group text-right">
                    <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
                    <a href="{{ site_url('/contrat_vierge/v2_contrat_form_3') }}" class="btn btn-default">Étape précédente</a>
                    {{ include('contrat_vierge/_form_button_draft.html.twig', {contrat: contrat}) }}
                    <input type="submit" value="Étape suivante" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </div>

{{ form_htmx.form_end_htmx(form) }}
