{% extends 'base_connected.html.twig' %}

{% block title %}Ajout d'un regroupement de fermes{% endblock %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.nom, {row_attr: {class: 'col-md-12'}}) }}
                {{ form_row(form.common.siret, {row_attr: {class: 'col-md-12'}}) }}
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
            {{ form_row(form.common.adresseAdmin, {row_attr: {class: 'col-md-6'}}) }}
            {{ form_row(form.common.ville, {row_attr: {class: 'col-md-6'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <a href="{{ url('ferme_regroupement_index') }}" class="btn btn-default">Retour</a>
        <button type="submit" class="btn btn-success">Sauvegarder</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
