{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des regroupements de fermes{% endblock %}

{% import "macro/_modals.html.twig" as modals %}

{% block main %}
        <a
            href="{{ url('ferme_regroupement_ajout') }}"
            class="btn btn-success"
        ><i class="glyphicon glyphicon-plus"></i> Créer un regroupement</a>
        <table class="table table-datatable">
            <thead class="thead-inverse">
            <tr>
                <th>Nom</th>
                <th>Fermes</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for regroupement in regroupements %}
                <tr>
                    <th>
                        {{ regroupement.nom }}
                    </th>
                    <td>
                        {{ regroupement.fermes|join(',') }}
                    </td>
                    <td>
		      {{ bouton_action('', [
			[true, '#modal_remove_' ~ regroupement.id, 'remove', 'Supprimer le regroupement'],
              [true, url('ferme_regroupement_admins', {r_id: regroupement.id}), 'education', 'Administrateurs du regroupement'],
		      ]) }}
                        {{ modals.modal_post(
                                "modal_remove_" ~ regroupement.id,
                                "Supprimer le regroupement",
                                "Êtes-vous sûr de vouloir supprimer ce regroupement ? Cette action est irréversible. Les fermes associés ne seront pas supprimées.",
                                url('ferme_regroupement_supprimer', {r_id: regroupement.id}),
                                "Confirmer la suppression du regroupement"
                            ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
