/* Sticky footer styles
-------------------------------------------------- */
html {
    position:relative;
    min-height:100%;
}

/*HEADER & FOOTER*/

header img {
    width:100%;
}

footer .well {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .well a {
    flex-basis: 20rem;
}

h3 {
    font-size:26px;
    color:#d43100;
}

/* BOUTONS */

/*PRIMARY*/

.btn-primary {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:hover {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #338011;
  border-color: #338011;
}

/*SUCCESS*/

.btn-success {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:hover {
  color: #fff;
  background-color: #94c70a;
  border-color: #95c70b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #95c70b;
  border-color: #95c70b;
}

/* BARRE DE NAVIGATION */

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
  background-color: #f5f5f5;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand {
  color: #338011;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #338011;
}
.navbar-default .navbar-text {
  color: #338011;
}
.navbar-default .navbar-nav > li > a {
  color: #338011;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #338011;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #338011;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #338011;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #338011;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #338011;
}
.navbar-default .navbar-link {
  color: #338011;
}
.navbar-default .navbar-link:hover {
  color: #338011;
}

@media (max-width: 767px) {
  .navbar-nav > .dropdown {
    border: 1px solid #ddd;
    border-radius: 9px;
    margin-bottom: 3px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #338011;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #338011;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #338011;
    background-color: #eeeeee;
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

/* LIENS */

a {
  color: #338011;
  text-decoration: none;
}
a[disabled] {
    pointer-events: none;
}
a[disabled]:not(.btn) {
    color: #95c70b;
    cursor: not-allowed;
    pointer-events: all;
}
a[disabled]:not(.btn):hover {
    color: #95c70b;
}
.btn-link {
  color: #338011;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
a:hover,
a:focus {
  color: #338011;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* HEADER */

.page-header {
    width:100%;
    height:auto;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

/* Slick slider */
.logo-reseau {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}


/* Modal contact */
#contact-modal .row { /* Préserve les marges latérales de la modal */
    margin-left: 0;
    margin-right: 0;
}

/* Datatables */
.dataTables_wrapper {
    margin-bottom: 20px;
}
table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: transparent;
}
table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: rgb(51, 51, 51);
}
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #338011;
}

/* Utils */
.d-inline-block {
    display: inline-block;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 2em;
}
.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 1em;
}
.mr-2 {
    margin-right: 2em;
}
.p-0 {
    padding: 0;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pr-1 {
    padding-right: 1em;
}
.pl-1 {
    padding-left: 1em;
}
.pt-1 {
    padding-top: 1em;
}
.text-left {
    text-align: left !important;
}
h3.small {
    font-size: 20px;
}
.text-bold {
    font-weight: bold;
}
.text-normal {
    font-weight: normal;
}
.text-underline {
    text-decoration: underline;
}
.dropdown-menu > li > button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.border-default {
    border: 1px solid #333;
    border-radius: 4px;
}

/* Calendrier */
.calendrier table {
  text-align: center;
  width: 98%;
}
.calendrier td {
  width: 14%;
}
.calendrier th {
  text-align: center;
  background-color: #f5f5f5;
}

/* Fix bootbox */
.bootbox .modal-footer .bootbox-accept {
    margin-bottom: 5px;
}

.form-inline {
    display: inline;
}

/* Fix CSS */
input[type="text"][readonly]:not(.date-input), input[type="number"][readonly] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

/* Flatpickr */
input.flatpickr-input[readonly] {
    background-color: white;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: #338011;
    border-color: #338011;
}

/* Fix row table border and alignment */
.table > tbody > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

/* Bouton actions */
@media (max-width: 767px) {
    .table-responsive .btn-group-action {
        width: 40px;
    }
    .table-responsive .dropdown-menu {
        /*position: sticky !important;*/
        position: relative;
        transform: translateX(calc(-100% + 40px));
    }
    .table-responsive {
        border: 0;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow-x: visible;
    }
}
.btn-group-action > .dropdown-toggle {
    color: #338011;
    font-weight: bold;
}
.btn-group-action > .dropdown-menu > li > a {
    color: #338011;
}

/** Checkbox switch */
/** Inspired by https://github.com/miladd3/clean-switch */
label.switch {
    cursor: pointer;
}

label.switch input {
    display: none;
}

label.switch .switcher {
    display: inline-block;
    border-radius: 100px;
    width: 35px;
    height: 15px;
    background-color: #ccc;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

label.switch .switcher:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    margin-top: -2.5px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

label.switch .switcher:active:before {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(72, 189, 26, 0.3);
    transition: all, 0.1s;
}

label.switch .switch-label {
    vertical-align: middle;
    margin-right: 1.5rem;
    font-weight: normal;
}

label.switch input[type="checkbox"]:checked + .switcher {
    background-color: #48bd1a;
}

label.switch input[type="checkbox"]:checked + .switcher:before {
    left: 100%;
    margin-left: -20px;
    background-color: #338011;
}


/* Page specific changes */
body.user-profil-edit #user_profil_emails > .form-group > .col-sm-10 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

body.user-profil-edit #user_profil_emails > .form-group > .col-sm-10 > div {
    width: 90%;
}

body.campagne-subscription-form-1 #user_emails_wrapper #campagne_bulletin_form1_amapien_user_emails .form-group > .col-sm-2 {
    display: none;
}
body.campagne-subscription-form-1 #user_emails_wrapper #campagne_bulletin_form1_amapien_user_emails .form-group > .col-sm-10 {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
body.campagne-subscription-form-1 #user_emails_wrapper #campagne_bulletin_form1_amapien_user_emails .form-group.has-error .col-sm-10 {
    flex-wrap: wrap;
}
body.campagne-subscription-form-1 #user_emails_wrapper #campagne_bulletin_form1_amapien_user_emails .form-group .col-xs-11 {
    width: 100%;
    padding-left: 0;
}
body.campagne-subscription-form-1 #user_emails_wrapper {
    margin-bottom: 15px;
}
body.campagne-subscription-form-1 #user_emails_wrapper .form-group {
    margin-bottom: 0;
}

body.page-evenement {
    .badge {
        background-color: #338011;
        padding: 10px 15px;
        border-radius: 999999px;
        font-weight: normal;
    }
    .evenement-lieu {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .block-evenement {
        display: grid;
        grid-template-columns: auto minmax(auto, 25%);
    }

    .block-evenement-header {
        grid-row: 1;
        grid-column: 1;
        font-weight: bold;

        .block-evenement-titre {
            font-weight: bold;
        }
    }

    .block-evenement-action {
        grid-row: 1;
        grid-column: 2;

        font-size: 1.5rem;
    }

    .block-evenement-logo {
        grid-row: 2;
        grid-column: 1;

        margin-bottom: 1em;

    }

    .block-evenement-detail {
        grid-row: 2;
        grid-column: 2;
    }

    .block-evenement-lieu {
        grid-row: 3;
        grid-column: 1;

        margin-bottom: 1em;

        overflow-wrap: anywhere;
    }
    .block-evenement-description {
        grid-row: 5;
        grid-column: 1 / span 2;

        overflow-wrap: anywhere;
    }

    .block-evenement-date {
        grid-row: 4;
        grid-column: 1;

        .badge {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: 768px) {
    body.page-evenement {
        .block-evenement {
            grid-template-columns: 10% auto 20%;
        }

        .block-evenement-logo {
            grid-row: 1;
            grid-column: 1;

            justify-self: left;
            align-self: center;

            img {
                max-width: 65px;
            }
        }
        .block-evenement-header {
            grid-row: 1;
            grid-column: 2;
            font-weight: bold;

            .block-evenement-titre {
                font-weight: bold;
            }
        }
        .block-evenement-action {
            grid-row: 1;
            grid-column: 3;

            font-size: 1.5rem;
        }
        .block-evenement-lieu {
            grid-row: 2;
            grid-column: 1 / span 2;
        }
        .block-evenement-description {
            grid-row: 3;
            grid-column: 1 / span 2;
        }
        .block-evenement-detail {
            grid-row: 3;
            grid-column: 3;
            text-align: center;
        }
        .block-evenement-date {
            grid-row: 4;
            grid-column: 1 / span 2;

            .badge {
                margin-bottom: 0;
                margin-top: 2em;
            }

        }
    }

}

/*Performance optimisation*/
body.user-list table.table {
    table-layout: fixed;
}
body.user-list table.table .w-small{
    width: 60px;
}

/* Form customisation */
.form-group.radio label {
    font-weight: normal;
}

.form-group.radio {
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal.form-horizontal-no-margin .form-group{
    margin-left: 0;
    margin-right: 0;
}

.js-form-search .checkbox {
    margin-top: 0;
    margin-bottom: 0;

    label {
        font-weight: bold;
    }
}

/* Amap logo */
img.amap-logo {
    max-width: 200px;
    max-height: 200px;
}

/* Summernote hide indent buttons */
.summernote-lite + .note-editor .note-list {
    display: none;
}
.summernote-lite + .note-editor .note-toolbar .note-para .note-dropdown-menu {
    min-width: 145px;
}


/* Checkbox custom */
.checkbox.checkbox-lg input[type="checkbox"] {
    transform: scale(1.25);
}

/*
 * @ref https://cssloaders.github.io/
*/
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

/* Form loader */
form.htmx-request {
   position: relative;
}
form.htmx-request .row {
    opacity: 0.5;
}
form.htmx-request .form-group {
    opacity: 0.5;
}
form.htmx-request .loader{
    position: absolute;
    width: 6em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Ui autocomplete loader */
.js-autocomplete-single.ui-autocomplete-loading {
    background: white url("/assets/images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* Contrat commande form */
.table-simulation-container {
    max-height: 700px;
    overflow: auto;

    table {
        position: relative;

        thead {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .form-control {
            z-index: initial; /* Fix Z-index error */
        }

        tbody {
            td {
                min-width: 100px;
                position: relative;

                .form-group {
                    margin-bottom: 0;
                }
            }

            tr.input-row {
                td:nth-child(1) {
                    position: sticky;
                    left: 0;
                    z-index: 1;
                    background-color: white;
                }

            }
        }
    }
}

@media (min-width: 768px) {
    .table-simulation-container {
        table {
            tbody {
                tr.input-row {
                    td:nth-child(2) {
                        position: sticky;
                        left: 100px;
                        z-index: 1;
                        background-color: white;
                    }
                }
            }
        }
    }
}