{% extends 'base_connected.html.twig' %}

{% block title %}Produits proposés{% endblock %}

{% import "macro/_modals.html.twig" as modals %}

{% block breadcrumb %}
    {% set ferme_url = app.currentUser.isPaysan() ? url('ferme_home_paysan', {ferme_id: ferme.id}) : url('ferme_index') %}
    <h5><a href="{{ ferme_url }}">Gestion des fermes</a> <i class="glyphicon glyphicon-menu-right"></i> <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a> <i class="glyphicon glyphicon-menu-right"></i> Produits proposés</h5>
{% endblock %}

{% block main %}
    <div class="list-products-ferme">
        <a href="{{ url('produit_informations', {ferme_id: ferme.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau produit
        </a>
        <a href="{{ ferme.produits is empty ? '#' : url('produit_download', {ferme_id: ferme.id}) }}" class="btn btn-info" {% if ferme.produits is empty %}disabled{% endif %}>
            <i class="glyphicon glyphicon-download"></i> Télécharger la liste des produits
        </a>
    </div>
    <div class="table-responsive">
        <table
                class="table table-hover table-datatable"
                data-order='[[ 0, "asc" ], [ 1, "asc" ]]'
        >
            <thead class="thead-inverse">
            <tr>
                <th>Type de Production</th>
                <th>Nom</th>
                <th>Conditionnement<br/>(Unité de livraison)</th>
                <th>Prix TTC<br/>(Euros)</th>
                <th>TVA</th>
                <th>Label</th>
                <th>Régularisation<br/>de poids ?</th>
                <th>Actif ?</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in ferme.produits %}
                <tr >
                    <th scope="row">
                        {{ product.typeProduction.nomCompletParenthese }}
                    </th>
                    <th scope="row">
                        {{ product.nom|ucfirst }}
                    </th>
                    <td>
                        {{ product.conditionnement|ucfirst }}
                    </td>
                    <td>
                        {{ product.prix.prixTTC|money }}
                    </td>
                    <td>
                        {{ product.prix.tva|vatLabel }}
                    </td>
                    <td>
                        {{ product.certification|trans([], 'ferme_produit_certification') }}
                    </td>
                    <td>
                        {{ product.isRegulPds ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        {{ product.isEnabled ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        {% set edit_permission = is_granted('ACTION_FERME_PRODUCT_EDIT', product) %}
                        {{ bouton_action('', [
                                [edit_permission, url('produit_informations', {ferme_id: ferme.id, produit_id: product.id}), 'edit', 'Modifier le produit'],
                                [is_granted('ACTION_FERME_PRODUCT_DELETE', product), '#modal_remove_' ~ product.id, 'remove', 'Supprimer le produit'],
                            ], not edit_permission) }}
                        {{ modals.modal_post(
                            "modal_remove_" ~ product.id,
                            "Voulez-vous vraiment supprimer le produit \"" ~ product.nom ~ "\" ?",
                            "<u>Attention :</u> ce produit est peut-être fournie à une autre AMAP !",
                            url('produit_remove', {produit_id: product.id}),
                            "Confirmer la suppression du produit"
                        ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
