{% extends 'base_connected.html.twig' %}

{% form_theme form with ['form/form_theme_search.html.twig', _self] %}

{% block checkbox_row %}
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary" type="button">{{ label }}</button>
        </div>
        <div class="col-xs-1">
            <div class="checkbox checkbox-lg">
                <input type="checkbox" name="{{ full_name }}" value="{{ value }}" {% if checked %} checked="checked"{% endif %} {% if disabled %}disabled="disabled"{% endif %}/>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Produits proposés
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_display', {ferme_id: ferme.id}) }}">{{ ferme.nom }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('produit_accueil', {ferme_id: ferme.id}) }}">Produits proposés</a>
        <i class="glyphicon glyphicon-menu-right"></i> Ajouter
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Le catalogue produit est lié à une ferme : toute création ou modification d'un produit sera visible par toutes les AMAP travaillant avec cette ferme.
    </div>

   {{ form_start(form) }}

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.typeProduction) }}
                </div>

                <div class="col-md-5">
                    {{ form_row(form.nom) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.conditionnement) }}
                </div>

                <div class="col-md-2">
                    {{ form_row(form.prix.prixTTC) }}
                </div>

                <div class="col-md-3">
                    {{ form_row(form.prix.tva) }}
                </div>

                <div class="col-md-3">
                    {{ form_row(form.certification) }}
                </div>

                <div class="col-xs-12">
                    {{ form_row(form.regulPds) }}
                </div>

                <div class="col-xs-12">
                    {{ form_row(form.enabled) }}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group text-right">
                <a href="{{ url('produit_accueil', {ferme_id: ferme.id}) }}" class="btn btn-default">Annuler</a>
                <input type="submit" value="Sauvegarder" class="btn btn-success"/>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}
