{% extends 'base_connected.html.twig' %}

{% block title %}Import des bulletns{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('campagne_index') }}">Gestion des campagnes d'adhésions et de dons</a> <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('campagne_bulletin_admin_liste', {amap_id: amap.id}) }}">Bulletins et reçus amapiens</a> <i class="glyphicon glyphicon-menu-right"></i>Import</h5>
{% endblock %}

{% block main %}

    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(searchForm.amap) }}
            </div>
            <div class="col-md-4">
                {{ form_row(searchForm.campagne) }}
            </div>

            <div class="col-md-12 text-right">
                <a
                        href="?reset_search"
                        class="btn btn-primary"
                        style="margin-right:5px;">
                    <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                </a>
            </div>

        </div>
    </div>
    {{ form_end(searchForm) }}


    {% if state.campagne is null %}
       <div class="alert alert-warning">
           Veuillez sélectionner une campagne pour continuer
       </div>
    {% else %}
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ url('campagne_bulletin_import_generate_file', {campagne_id: state.campagne.id}) }}">Télécharger un exemple de fichier</a>

                    {{ form_start(form) }}

                    <div class="row">
                        {% for error in errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="col-md-4">
                            {{ form_widget(form.file) }}
                            {{ form_errors(form.file) }}
                        </div>

                        <div class="col-md-8 text-right">
                            <div class="input-group" style="margin:5px 0;">
                                <button type="submit" class="btn btn-success pull-left ml-1" name="import">Importer</button>
                            </div>
                        </div>

                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
