{% extends 'base_connected.html.twig' %}

{% block title %}Bulletins et reçus amapiens{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block breadcrumb %}
    <h5><a href="{{ url('campagne_index') }}">Gestion des campagnes d'adhésions et de dons</a> <i class="glyphicon glyphicon-menu-right"></i> Bulletins et reçus amapiens</h5>
{% endblock %}


{% block main %}

    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(searchForm.amap) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.annee) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(searchForm.keyword) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(searchForm.campagne) }}
                </div>

                <div class="col-md-4 col-md-offset-4">
                    {{ form_row(searchForm.onlyDraft) }}
                </div>

                <div class="col-md-12 text-right">
                    <a
                        href="?reset_search"
                        class="btn btn-primary"
                        style="margin-right:5px;">
                        <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                    </a>
                </div>

            </div>
        </div>
    {{ form_end(searchForm) }}

    <div class="alert alert-warning">
        {{ bulletins|length == 0 ? 'Aucun' : bulletins|length }} résultat{{ bulletins|length > 1 ? 's' : '' }} pour cette recherche.
    </div>


    <form method="POST" action="{{ url('campagne_bulletin_action', {amap_id: state.amap.id}) }}">
        <div class="col-md-12">

            {% if is_granted('ACTION_CAMPAGNE_BULLETIN_RECU_GENERE_ACTION_HEADER', state.amap) %}
                <button
                    class="btn btn-success js-trigger-modal js-dynamic-disabled"
                    name="action-generate"
                    type="submit"
                    data-title="Êtes-vous sûr ?"
                    data-message="Vous allez générer tous les reçus en brouillon. Cette action est irréversible."
                    data-confirm-class="btn-danger"
                    disabled
                >Générer les reçus</button>
                <!-- Split button -->
                <div class="btn-group">
                    <button
                        type="button"
                        class="btn btn-success dropdown-toggle js-dynamic-disabled"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        disabled
                    >
                        Télécharger <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button type="submit" name="action-download-bulletin">Télécharger les bulletins</button></li>
                        <li><button type="submit" name="action-download-recu">Télécharger les reçus</button></li>
                    </ul>
                </div>
                <button
                        class="btn btn-danger js-trigger-modal js-dynamic-disabled"
                        name="action-delete"
                        type="submit"
                        data-title="Êtes-vous sûr ?"
                        data-message="Vous allez supprimer les reçus sélectionnés. Les amapiens ne seront plus considérés adhérents pour les années d'adhésions considérées."
                        data-confirm-class="btn-danger"
                        disabled
                >Supprimer les reçus</button>
                <button
                        class="btn btn-success js-trigger-modal js-dynamic-disabled"
                        name="action-notification"
                        type="submit"
                        data-title="Êtes-vous sûr ?"
                        data-message="Vous allez envoyer un mail à tous les amapiens concernés. Êtes vous sûr ?."
                        data-confirm-class="btn-danger"
                        disabled
                >Notifier par email</button>
            {% endif %}

            {% for bulletin in bulletins %}
                <input
                    type="checkbox"
                    class="js-input-binded hidden"
                    name="selected[{{ bulletin.id }}]"
                />
            {% endfor %}

            {% if is_granted('ACTION_CAMPAGNE_LIST_ADMIN') %}
                {% set link = url('campagne_bulletin_import', {amap_id: state.amap.id}) %}
                {% if state.campagne is not null %}
                    {% set link = link ~ '/' ~ state.campagne.id %}
                {% endif %}

                <a class="btn btn-success" href="{{ link }}">
                    <i class="glyphicon glyphicon-plus"></i> Importer des bulletins
                </a>
            {% endif %}
        </div>
    </form>

    {% if bulletins|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th data-orderable="false">
                        <input
                            type="checkbox"
                            class="js-tableselect-all"
                        />
                    </th>
                    <th>Campagne</th>
                    <th>Numéro</th>
                    <th>Amapien Nom</th>
                    <th>Amapien Prénom</th>
                    <th>Montant Total</th>
                    <th>Date de règlement</th>
                    <th>Reçus</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for bulletin in bulletins %}
                    <tr>
                        <td>
                            <input
                                type="checkbox"
                                class="js-tableselect-row js-binder"
                                data-target-name="selected[{{ bulletin.id }}]"
                            />
                        </td>
                        <td>{{ bulletin.campagne.nom }}</td>
                        <td>{{ bulletin.recus.numero ?? '' }}</td>
                        <td>{{ bulletin.amapien.user.name.lastName }}</td>
                        <td>{{ bulletin.amapien.user.name.firstName }}</td>
                        <td data-order="{{ bulletin.montantTotal.amount }}">{{ bulletin.montantTotal|money }} €</td>
                        <td data-order="{{ bulletin.paiementDate|date("U") }}">{{ bulletin.paiementDate|date('d/m/Y') }}</td>
                        <td>{{ bulletin.recus is null ? 'Non' : 'Oui' }}</td>
                        <td>
                            {{ modals.modal_post(
                                "modal_remove_" ~ bulletin.id,
                                "Supprimer le reçu",
                                "Êtes-vous sûr de vouloir supprimer le reçu ?",
                                url('campagne_bulletin_recus_supprimer', {bulletin_id: bulletin.id}),
                                "Confirmer la suppression du reçu",
                            ) }}
                            {{ modals.modal_post(
                                "modal_notification_" ~ bulletin.id,
                                "Notifier par email",
                                "Êtes-vous sûr de vouloir notifier l'amapien ?",
                                url('campagne_bulletin_notification', {bulletin_id: bulletin.id}),
                                "Confirmer la notification",
                            ) }}

                            {{ bouton_action('', [
                                [true, url('campagne_download_bulletin_pdf', {bulletin_id: bulletin.id}), 'download', 'Télécharger le bulletin'],
                                [is_granted('ACTION_CAMPAGNE_BULLETIN_RECU_DOWNLOAD', bulletin.recus), url('campagne_download_bulletin_recu_pdf', {recu_id: bulletin.recus.id ?? 0}), 'download', 'Télécharger le reçu'],
                                [is_granted('ACTION_CAMPAGNE_BULLETIN_RECU_GENERE_ACTION', bulletin), '#modal_remove_' ~ bulletin.id, 'remove', 'Supprimer le reçu'],
                                [is_granted('ACTION_CAMPAGNE_BULLETIN_RECU_ACTION', bulletin), '#modal_notification_' ~ bulletin.id, 'envelope', 'Notifier par email'],
                            ]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


{% endblock %}
