{% extends 'base_connected.html.twig' %}

{% import "macro/_pdf.html.twig" as pdf %}

{% block title %}Étape 4 : Prévisualisation{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ retUrl }}">Gestion des adhésions</a> <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 1 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 2 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 3 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 4
    </h5>
{% endblock %}

{% block main %}

    <form method="POST">

    {{ pdf.pdf_embeded(url('campagne_preview_pdf')) }}

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
                <a href="{{ url('campagne_form_3') }}" class="btn btn-success">Retour</a>
                <input type="submit" value="Sauvegarder" class="btn btn-success"/>
            </div>
        </div>

    </form>

{% endblock %}
