{% extends 'base_connected.html.twig' %}

{% block title %}Étape 3 : Champ libre du reçu{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ retUrl }}">Gestion des adhésions</a> <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 1 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 2 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 3
    </h5>
{% endblock %}

{% block main %}

    <div class="alert alert-info">
        Une fois les bulletins signés, vous aurez la possibilité de générer des reçus : le champ ci-dessous vous
        permet d'insérer du texte de votre choix dans le reçu final.
    </div>

    {{ form_start(form) }}

        {{ form_row(form.champLibre) }}

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
                <a href="{{ url('campagne_form_2') }}" class="btn btn-success">Retour</a>
                <input type="submit" value="Étape 4" class="btn btn-success"/>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
