{% extends 'base_connected.html.twig' %}

{% block title %}Étape 1 : paramètres{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ retUrl }}">Gestion des adhésions</a> <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 1
    </h5>
{% endblock %}

{% form_theme form with ['form/form_theme.html.twig', _self] %}

{% block _campagne_form1_montants_entry_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group' ~ ((not compound or force_error|default(false)) and not valid ? ' has-error'))|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{% endblock _campagne_form1_montants_entry_row %}

{% block main %}
    <div class="alert alert-info">
        Une demande automatique du droit à l'image sera intégrée au document final, conformément à la réglementation RGPD en vigueur.
    </div>

    {{ form_start(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.period.startAt) }}
        {{ form_row(form.period.endAt) }}

        {{ form_row(form.anneeAdhesionAmapien) }}

        {{ form_row(form.montants) }}
        {{ form_errors(form) }}

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-primary js-new">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
                <input type="submit" value="Étape 2" class="btn btn-success"/>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascript %}
  {{ parent() }}

    <script>
        const updateMontantOrdre = () => {
            $('#campagne_form1_montants input[type="hidden"]').each(function(index) {
                $(this).val(index);
            });
        };
      $('#campagne_form1_montants').sortable({
        handle: ".js-move",
        update: function( event, ui ) {
          updateMontantOrdre();
        }
      });

      updateMontantHidden = () => {
        $('#campagne_form1_montants input[type="radio"]:checked').each(function(i, elt) {
          $('.js-amount-row').removeClass('hidden');

          if(elt.value === "1") {
            $(elt).parents('.well').find('.js-amount-row').addClass('hidden');
          }
        });
      }
      $('#campagne_form1_montants').on('change', 'input[type="radio"]', function(e) {
        updateMontantHidden();
      });
      updateMontantHidden();

      $('.js-new').click(function() {
        const wrapper = $('#campagne_form1_montants');
        const prototype = wrapper
            .attr('data-prototype')
        ;
        wrapper.append(prototype.replace(/__name__/g, wrapper.children().length));
        updateButtons();
        updateMontantOrdre();
        window.initSummerNote();
      })

      const updateButtons = () => {
        $('.col-sm-2.text-right').remove();

        $('#campagne_form1_montants > .form-group')
            .each(function() {
              const wrapper = $(this);

              const buttons = $(`
                <div class="col-sm-2 text-right">
                  <button type="button" class="btn btn-danger pull-right js-delete"><i class="glyphicon glyphicon-trash"></i></button>
                  <a class="btn btn-default pull-right mr-1 js-move"><i class="glyphicon glyphicon-move"></i></a>
                </div>`);
                wrapper.append(buttons);

              wrapper.find('.js-delete').click(function() {
                wrapper.remove();
                updateButtons();
              });
            })
        ;
      }

      updateButtons();
      updateMontantOrdre();
    </script>
{% endblock %}
