{% extends 'base_connected.html.twig' %}

{% block title %}Étape 2 : Moyen de paiement{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ retUrl }}">Gestion des adhésions</a> <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 1 <i class="glyphicon glyphicon-menu-right"></i>
        Nouvelle campagne étape 2
    </h5>
{% endblock %}

{% block main %}

    {{ form_start(form) }}

        {{ form_row(form.paiementMethode) }}
        {{ form_row(form.paiementDescription) }}

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
                <a href="{{ url('campagne_form_1') }}" class="btn btn-success">Retour</a>
                <input type="submit" value="Étape 3" class="btn btn-success"/>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
