{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des campagnes d'adhésions et de dons{% endblock %}


{% block main %}
    {% if campagnes|length == 0 %}
        <div class="alert alert-warning">
            Aucune campagne d'adhésion active pour le moment
        </div>
    {% endif %}

    {% if campagnes|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Date de fin</th>
                    <th>AMAP</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campagne in campagnes %}
                    <tr>
                        <td>{{ campagne.nom }}</td>
                        <td data-order="{{ campagne.period.endAt|date("U") }}">{{ campagne.period.endAt|date('d/m/Y') }}</td>
                        <td>{{ campagne.amap }}</td>
                        <td>
                            <a
                                class="btn btn-primary btn-sm"
                                href="{{ url('campagne_amapien_souscription', {campagne_id: campagne.id}) }}">
                                Souscrire
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
