{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des campagnes d'adhésions et de dons{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Message d'aide en cours de rédaction
    </div>

    {% if searchForm is not null %}
        {% form_theme searchForm 'form/form_theme_search.html.twig' %}
        {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(searchForm.amap) }}
                    </div>

                    <div class="col-md-8 text-right">
                        <a
                            href="?reset_search"
                            class="btn btn-primary"
                            style="margin-right:5px;">
                            <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                        </a>
                    </div>

                </div>
            </div>
        {{ form_end(searchForm) }}

        <div class="alert alert-warning">
            {{ campagnes|length == 0 ? 'Aucun' : campagnes|length }} résultat{{ campagnes|length > 1 ? 's' : '' }} pour cette recherche.
        </div>
    {% endif %}

    {% if amap is not null %}
        <a class="btn btn-success" href="{{ url('campagne_creation', {amap_id: amap.id}) }}">
            <i class="glyphicon glyphicon-plus"></i> Créer une campagne
        </a>
        <a class="btn btn-success" href="{{ bulletinListUrl }}">
            </i> Liste des bulletins et reçus
        </a>
   {% endif %}

   {% if campagnes|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Date de fin</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for campagne in campagnes %}
                        <tr>
                            <td>{{ campagne.nom }}</td>
                            <td data-order="{{ campagne.period.endAt|date("U") }}">{{ campagne.period.endAt|date('d/m/Y') }}</td>
                            <td>{{ campagne.etat|trans }}</td>
                            <td>
                                {{ bouton_action('', [
                                    [true, url('campagne_edition', {campagne_id: campagne.id}), 'edit', 'Modifier'],
                                    [true, url('campagne_telecharger', {campagne_id: campagne.id}), 'download', 'Télécharger'],
                                ]) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   {% endif %}

{% endblock %}
