{% extends 'base_connected.html.twig' %}

{% block title %}Étape 2 : Paiement et consentement{% endblock %}

{% block breadcrumb %}
    <h5>Mon compte <i class="glyphicon glyphicon-menu-right"></i>
        Adhésions et dons <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 1 <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 2
    </h5>
{% endblock %}

{% form_theme form with ['form/form_theme.html.twig', _self] %}

{% block main %}
    {{ form_start(form) }}

        <h4 class="mt-2">{{ campagne.paiementMethode }}</h4>
        {{ campagne.paiementDescription|purify_summernote_lite }}
        <div class="mb-2"></div>

        {{ form_row(form.payeur) }}
        {{ form_row(form.paiementDate) }}

        {{ form_row(form.chartre) }}
        {{ form_row(form.amapien.user.newsletter) }}
        {{ form_row(form.permissionImage) }}

        <div class="text-right">
            <a href="{{ url('campagne_amapien_liste') }}" class="btn btn-default">Annuler</a>
            <a href="{{ url('campagne_amapien_souscription_1') }}" class="btn btn-primary">Étape 1</a>
            <button type="submit" class="btn btn-primary">Étape 3</button>
        </div>
    {{ form_end(form) }}

{% endblock %}
