{% extends 'base_connected.html.twig' %}

{% block title %}Étape 1 : paramètres{% endblock %}

{% block body_class %}campagne-subscription-form-1{% endblock %}

{% block breadcrumb %}
    <h5>Mon compte <i class="glyphicon glyphicon-menu-right"></i>
        Adhésions et dons <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 1
    </h5>
{% endblock %}

{% form_theme form with ['form/form_theme.html.twig', _self] %}

{% block _campagne_bulletin_form1_montants_entry_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group' ~ ((not compound or force_error|default(false)) and not valid ? ' has-error'))|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{% endblock _campagne_bulletin_form1_montants_entry_row %}

{% block _campagne_bulletin_form1_amapien_user_address_row %}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{% endblock %}

{% block main %}
    {{ form_start(form) }}

        <h4 class="mt-2">{{ campagne.nom }}</h4>
        <h4 class="mb-2">{{ campagne.period.startAt|date('d/m/Y') }} / {{ campagne.period.endAt|date('d/m/Y') }}</h4>

        <p>Veuillez vérifier les coordonnées ci-dessous : en les modifiant votre profil sur clicamap sera mis à jour.</p>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.amapien.user.name.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.amapien.user.numTel1) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.amapien.user.name.lastName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.amapien.user.numTel2) }}
            </div>
        </div>
        <div class="row">
            <div id='user_emails_wrapper' class="col-md-6 user_emails_wrapper">
                {{ form_row(form.amapien.user.emails) }}

                <div class="text-right">
                    <button id="add_email" type="button" class="btn btn-primary d-inline-block">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.amapien.user.address) }}
                </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                {{ form_row(form.amapien.user.ville) }}
            </div>
        </div>


        {% for campagne_montant in campagne.montants %}
            <div class="row mb-2">

                <h4>{{ campagne_montant.titre }}</h4>

                {% if campagne_montant.montantLibre %}
                    {% for form_montant in form.montants %}
                        {% if form_montant.vars.data.campagneMontant == campagne_montant  %}
                            {{ form_row(form_montant) }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Montant :</label>
                                <div class="col-sm-10">
                                    <input class="form-control" readonly="readonly" type="number" value="{{ campagne_montant.montant|money }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-12">
                    <span>{{ campagne_montant.description|purify_summernote_lite }}</span>
                </div>

            </div>
        {% endfor %}


    <div class="text-right">
        <a href="{{ url('campagne_amapien_liste') }}" class="btn btn-default">Annuler</a>
        <button type="submit" class="btn btn-primary">Étape 2</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        initFormUserEmails('campagne_bulletin_form1_amapien_user_emails')
    </script>
{% endblock %}
