{% extends 'base_connected.html.twig' %}

{% import "macro/_pdf.html.twig" as pdf %}

{% block title %}Étape 3 : Prévisualisation{% endblock %}

{% block breadcrumb %}
    <h5>Mon compte <i class="glyphicon glyphicon-menu-right"></i>
        Adhésions et dons <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 1 <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 2 <i class="glyphicon glyphicon-menu-right"></i>
        {{ campagne.nom }} étape 3
    </h5>
{% endblock %}

{% block main %}
    <form method="POST">

        {{ pdf.pdf_embeded(url('campagne_preview_bulletin_pdf')) }}

        <div class="text-right">
            <a href="{{ url('campagne_amapien_liste') }}" class="btn btn-default">Annuler</a>
            <a href="{{ url('campagne_amapien_souscription_2') }}" class="btn btn-primary">Étape 2</a>
            <button type="submit" class="btn btn-primary">Souscrire</button>
        </div>
    </form>

{% endblock %}
