Bonjour, {amap} a rédigé le contrat {contrat} pour les AMAPiens. Merci d'en prendre connaissance et de le valider dans <a href="{lien}">clic'amap</a>. <br /><br />
Ensemble nous sommes le mouvement des AMAP. <br />
<br />
{nom} <br />
{email}

