Bonjour, <br />
<br />
Veuillez cliquer sur le lien ci-dessous afin de vous créer un nouveau mot de passe : <br />
<a href="{lien}">{lien}</a><br />
Merci et bonne journée,<br />
L'équipe Clic'AMAP<br />