{% extends 'portail/login.html.twig' %}

{% block content %}
    <h3 class="text-center">Interface d'authentification - Champ des possibles</h3>

    {{ parent() }}
{% endblock %}

{% block main_footer %}{% endblock %}
