{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <img src="{{ base_url('assets/images/header.jpg') }}" alt="Bannière"/>
    </header>
{% endblock %}

{% block content %}
    <div class="well well-lg text-center">
        <h3>Maintenance</h3>
        <p>Clic'AMAP est en cours de maintenance. Merci de réessayer dans quelques minutes.</p>
    </div>
{% endblock %}