{% extends 'base_connected.html.twig' %}


{% macro form(amapien) %}
    <div
        hx-get="{{ url('contact_admin_form', {id: amapien.id}) }}"
        hx-swap="outerHTML"
        hx-trigger="intersect"
    ></div>
{% endmacro %}

{% block title %}
    Contacter un administrateur
{% endblock %}

{% block main %}

    {% if adminRegions|length > 0 or adminDepartements|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Statut</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone 1</th>
                        <th>Téléphone 2</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in adminRegions %}
                        <tr>
                            <td>Régional</td>
                            <td>{{ admin.name.lastName|upper }}</td>
                            <td>{{ admin.name.firstName|capitalize }}</td>
                            <td>{{ admin.numTel1 ? admin.numTel1|capitalize : 'Aucun' }}</td>
                            <td>{{ admin.numTel2 ? admin.numTel2|capitalize : 'Aucun' }}</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#modal_envoi_{{ admin.id }}">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-envelope glyphicon-lg"></i> Email
                                    </button>
                                </a>
                                <div class="modal fade text-left" id="modal_envoi_{{ admin.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h5 class="modal-title" id="myModalLabel">Envoyer un email à {{ admin.name.firstName|upper }} {{ admin.name.lastName|capitalize }}</h5>
                                            </div>
                                            <div class="modal-body">
                                                {{ _self.form(admin) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for amapien in adminDepartements %}
                        <tr>
                            <td>Départemental</td>
                            <td>{{ amapien.name.firstName|upper }}</td>
                            <td>{{ amapien.name.lastName|capitalize }}</td>
                            <td>{{ amapien.numTel1 ? amapien.numTel1|capitalize : 'Aucun' }}</td>
                            <td>{{ amapien.numTel2 ? amapien.numTel2|capitalize : 'Aucun' }}</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#modal_envoi_{{ amapien.id }}">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-envelope glyphicon-lg"></i> Email
                                    </button>
                                </a>
                                <div class="modal fade text-left" id="modal_envoi_{{ amapien.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h5 class="modal-title" id="myModalLabel">Envoyer un email à {{ amapien.name.firstName|upper }} {{ amapien.name.lastName|capitalize }}</h5>
                                            </div>
                                            <div class="modal-body">
                                                {{ _self.form(amapien) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">Aucun contact.</div>
    {% endif %}
{% endblock %}