{% extends 'base_connected.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block main %}
    <div class="well">
        <p>
            Les données recueillies sur ce site sont enregistrées dans un fichier informatisé du Réseau AMAP Auvergne-Rhône-Alpes pour la gestion des adhérents (AMAP, Amapien-ne, Paysan-ne).<br/>
            Ces données sont conservées pendant 3 ans et sont destinées aux réseaux associatifs suivants :
            <ul>
                <li>Alliance PEC Isère</li>
                <li>Alliance PEC Savoie</li>
                <li>Réseau AMAP Aura</li>
            </ul>
            Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant :<br/>
            <b>Réseau AMAP AuRA - 58 rue Raulin 69007 Lyon</b>
        </p>
    </div>
{% endblock %}