{% extends 'base_connected.html.twig' %}

{% block title %}
    Contacter mon AMAP
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% if amap.email %}
                    <tr>
                        <th>Email contact public :</th>
                        <td>
                            <a href="mailto:{{ amap.email }}">{{ amap.email }}</a>
                            <a href="#" data-toggle="modal" data-target="#modal_envoi">
                                <button type="button" class="btn btn-primary btn-sm pull-right">
                                    <i class="glyphicon glyphicon-envelope glyphicon-lg"></i> Email
                                </button>
                            </a>
                            <div class="modal fade text-left" id="modal_envoi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h5 class="modal-title" id="myModalLabel">Envoyer un email à votre AMAP</h5>
                                        </div>
                                        <div class="modal-body">
                                            {{ form_start(form, {attr: {class: 'form-horizontal-no-margin'}}) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="button">Objet</button>
                                                        </span>
                                                        <div class="form-group mb-0">
                                                            {{ form_widget(form.title) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_widget(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Envoyer" class="pull-right btn btn-success"/>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}

                {% if amap.adresseAdmin and amap.adresseAdminVille %}
                    <tr>
                        <th>Adresse Administrative :</th>
                        <td>{{ amap.adresseAdmin|capitalize }},<br/>{{ amap.adresseAdminVille.cpString }} {{ amap.adresseAdminVille.nom|upper }}</td>
                    </tr>
                {% endif %}

                {% if amap.livraisonLieux|length > 0 %}
                    <tr>
                        <th>{{ amap.livraisonLieux|length > 1 ? 'Adresses de livraison' : 'Adresse de livraison' }} :</th>
                        <td>
                            {% for liv_lieu in amap.livraisonLieux %}
                                <div class="alert alert-success">
                                    <strong>{{ liv_lieu.nom|capitalize }} - {{ liv_lieu.adresse|capitalize }} {{ liv_lieu.ville.cpString }} {{ liv_lieu.ville.nom|upper }}</strong>
                                    {% if liv_lieu.livraisonHoraires|length > 0 %}
                                        <ul>
                                            {% for liv_hor in liv_lieu.livraisonHoraires %}
                                                {% if liv_hor.saison and liv_hor.jour and liv_hor.heureDebut and liv_hor.heureFin %}
                                                    <li>
                                                        {{ liv_hor.saison == constant("PsrLib\\ORM\\Entity\\AmapLivraisonHoraire::SAISON_ETE") ? 'Été' : 'Hiver' }} -> {{ liv_hor.jour|trans([], 'amap_livraison_horaire_jour') }} : {{ liv_hor.heureDebut }} - {{ liv_hor.heureFin }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if amap.livraisonLieux[0].gpsLatitude and amap.livraisonLieux[0].gpsLongitude %}
                        <tr>
                            <th>Coordonnées GPS :</th>
                            <td>
                                <a href="{{ url('map_amap_display', {amap_id: amap.id}) }}">
                                    <i class="glyphicon glyphicon-map-marker"></i>&nbsp;Visualiser le ou les adresse(s) de livraison sur une carte
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}