{% import "macro/_form_htmx.html.twig" as form_htmx %}


{{ form_htmx.form_start_htmx(form, {attr: {class: 'form-horizontal-no-margin', "hx-trigger": "submit", "hx-post": currentPath}}) }}
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary"
                            type="button">Objet</button>
                </span>
                <div class="form-group mb-0">
                    {{ form_widget(form.title) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_widget(form.content) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-0">
                <input type="submit" value="Envoyer" class="pull-right btn btn-success"/>
            </div>
        </div>
    </div>
{{ form_end(form) }}