{% extends 'base_connected.html.twig' %}

{% block title %}
    Contacter un / des référent(s) produit
{% endblock %}

{% macro form(amap, ferme) %}
    <div
            hx-get="{{ url('contact_referent_produit_form', {amap_id: amap.id, ferme_id: ferme.id}) }}"
            hx-swap="outerHTML"
            hx-trigger="intersect"
    ></div>
{% endmacro %}

{% block main %}
    {% if fermes|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Ferme(s)</th>
                        <th>Paysan(s)</th>
                        <th>Référent(s) produit</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ferme in fermes %}
                        <tr>
                            <th scope="row">{{ ferme.nom|capitalize }}</th>
                            <td>{{ ferme.paysans|join('; ') }}</td>
                            <td>{{ refProduits[ferme.id]|join('; ') }}</td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#modal_envoi_{{ ferme.id }}">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <i class="glyphicon glyphicon-envelope glyphicon-lg"></i> Email référents
                                    </button>
                                </a>
                                <div class="modal fade text-left" id="modal_envoi_{{ ferme.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Un email sera envoyé uniquement à tous les référents de cette ferme et copie email de l'AMAP.</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ _self.form(amap, ferme) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">Aucune ferme disponible.</div>
    {% endif %}
{% endblock %}