{% extends 'base_connected.html.twig' %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}


{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block breadcrumb %}
{% endblock %}


{% block main %}
    {{ form_start(searchForm) }}
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(searchForm.period) }}
            </div>
            <div class="col-md-8">
                <a
                        href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) ~ '/?reset_search' }}"
                        class="btn btn-primary"
                        style="margin-right:5px;">
                    <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                </a>
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}

    {% for date in dates %}
        <p><a
                    href="{{ url('ferme_livraison_date', {ferme_id: ferme.id, date: date|date('Y-m-d')}) }}"
            >
                Livraison du {{ date|date('d/m/Y') }}
            </a></p>
    {% endfor %}
{% endblock %}
