{% extends 'base_connected.html.twig' %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) }}">Calendrier des livraisons</a> <i
                class="glyphicon glyphicon-menu-right"></i> {{ date|date('d/m/Y') }}
    </h5>
{% endblock %}

{% block main %}
    <h4>Livraison du {{ date|date('d/m/Y') }}</h4>

    {{ form_start(searchForm) }}
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(searchForm.amap) }}
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}

    {% for mc in mcs %}
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <p>Contrat : {{ mc.nom }}</p>
                    <p>Lieu : {{ mc.livraisonLieu }}</p>
                    <p>Quantités totale à livrer : </p>
                    {% for liv in livs[mc.id] %}
                        {% set product = liv['product'] %}
                        {{ product.nom }} (conditionnement : {{ product.conditionnement }}; prix : {{ product.prix.prixTTC|money }}) : {{ liv['qty'] }}
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 text-right">
            {% set button_activated = mcs|length > 0 and amap is not null %}
            <a
                    class="btn btn-success"
                    {% if button_activated %}href="{{ url('ferme_livraison_export', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"{% endif %}
                    {% if not button_activated %}disabled{% endif %}
            >
                Télécharger l'excel de suivi
            </a>

            <a
                    class="btn btn-success"
                    {% if button_activated %}href="{{ url('ferme_livraison_recherche_amapien', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"{% endif %}
                    {% if not button_activated %}disabled{% endif %}
            >
                Suivi des livraisons en ligne
            </a>
        </div>
    </div>

{% endblock %}
