{% extends 'base_connected.html.twig' %}

{% block title %}
    Mes livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) }}">Calendrier des livraisons</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_livraison_date', {ferme_id: ferme.id, date: date|date('Y-m-d')}) }}">{{ date|date('d/m/Y') }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Suivi des livraisons
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ amapien.user }}
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {% set title_displayed = false %}
    {% for contrat in contrats %}
        {% if contrat.hasNoRegulPds %}
            {% if not title_displayed %}
                <h4 class="text-bold text-underline mt-2">Produits sans régularisation de poids</h4>
                {% set title_displayed = true %}
            {% endif %}

            <p><b>{{ contrat.modeleContrat.nom }}</b></p>
            {% for cellule in contrat.cellulesDate(date) %}
                {% if not cellule.modeleContratProduit.regulPds %}
                    <p>{{ cellule.modeleContratProduit.nom }} - {{ cellule.modeleContratProduit.conditionnement }} - {{ cellule.modeleContratProduit.prix.prixTTC|money }} € : {{ cellule.quantite }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% set title_displayed = false %}
    {% for contrat in contrats %}
        {% if contrat.hasRegulPds %}
            {% if not title_displayed %}
                <h4 class="text-bold text-underline mt-2">Produits avec régularisation de poids</h4>
                {% set title_displayed = true %}
            {% endif %}
            <p><b>{{ contrat.modeleContrat.nom }}</b></p>
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-2">Poids livré</div>
                    </div>
                    {% set displayed_products = [] %}
                    {% for form_cellule in form.cellules %}
                        {% set cellule = form_cellule.vars['value'].contratCellule %}
                        {% if cellule.contrat == contrat %}
                            <div class="row">
                                <div class="col-xs-6">{{ cellule.modeleContratProduit.nom }} : {{ cellule.quantite }}</div>
                                <div class="col-xs-3">
                                    {{ form_widget(form_cellule.quantite) }}
                                    {{ form_errors(form_cellule.quantite) }}
                                </div>
                            </div>
                            {% set displayed_products = displayed_products|merge([cellule.modeleContratProduit]) %}
                        {% endif %}
                    {% endfor %}

                    {# Print remaining products #}
                    {% for cellule in contrat.cellulesDate(date) %}
                        {% set produit = cellule.modeleContratProduit %}
                        {% if produit.regulPds and produit not in displayed_products %}
                            <div class="row products_remaining">
                                <div class="col-xs-6">{{ produit.nom }}</div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                            {% set displayed_products = displayed_products|merge([produit]) %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row mt-2">
        <div class="col-xs-12">
            {{ form_row(form.livre) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <a
                    class="btn btn-default"
                    href="{{ url('ferme_livraison_recherche_amapien', {ferme_id: ferme.id, amap_id: amapien.amap.id, dateRaw: date|date('Y-m-d')}) }}"
            >
                Retour
            </a>
            <button
                    type="submit"
                    class="btn btn-primary"
            >
                Sauvegarder
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
