{% extends 'base_connected.html.twig' %}

{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block breadcrumb %}
{% endblock %}


{% block main %}
    <h4>Cette fonctionnalité est réservée aux adhérents uniquement</h4>
{% endblock %}
