{% extends 'base_connected.html.twig' %}

{% block body_class %}page_ferme_livraison_restantes{% endblock %}


{% block title %}
    Mes livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) }}">Calendrier des livraisons</a> <i
                class="glyphicon glyphicon-menu-right"></i> {{ date|date('d/m/Y') }}
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        {% set livraisons_count = livraisons|length %}
        {% set amapiens_count = amapiens|length %}
        <div class="col-sm-4">
            <div class="well">
                <p class="h2">{{ amapiens_count - livraisons_count }} / {{ amapiens_count }}</p>
                <p class="h4">Amapiens restant à livrer</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                {% set percent = amapiens_count == 0 ? 0 : (amapiens_count - livraisons_count) / amapiens_count * 100 %}
                <p class="h2">{{ percent|round }} %</p>
                <p class="h4">Amapiens restant à livrer</p>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-xs-12">
            <b>Soit</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                {% for livraison_produit in livraisonsProduits %}
                    <p>{{ livraison_produit['qty'] }} {{ livraison_produit['product'].nom }} ({{ livraison_produit['product'].conditionnement }})</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well h3 text-center mt-0">
                <a
                        href="{{ url('ferme_livraison_livraisons_restantes_amapiens', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"
                        class="mt-1 mb-1 d-inline-block"
                >
                    Liste des absents
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <a
                href="{{ url('ferme_livraison_recherche_amapien', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"
                class="btn btn-default"
            >
                Retour
            </a>
        </div>
    </div>

{% endblock %}
