{% extends 'base_connected.html.twig' %}

{% block title %}
    Mes livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) }}">Calendrier des livraisons</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_livraison_date', {ferme_id: ferme.id, date: date|date('Y-m-d')}) }}">{{ date|date('d/m/Y') }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_livraison_livraisons_restantes', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}">Livraisons
            restantes</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Liste des absents
    </h5>
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>

            {% for amapien in amapiens %}
                <tr>
                    <td>{{ amapien.user.name.lastName }}</td>
                    <td>{{ amapien.user.name.firstName }}</td>
                    <td>{{ amapien.user.numTel1 }}</td>
                    <td>{{ amapien.user.emails|join(',') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <a
                    href="{{ url('ferme_livraison_livraisons_restantes', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"
                    class="btn btn-default"
            >
                Retour
            </a>
        </div>
    </div>

{% endblock %}
