{% extends 'base_connected.html.twig' %}

{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('ferme_livraison_accueil', {ferme_id: ferme.id}) }}">Calendrier des livraisons</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('ferme_livraison_date', {ferme_id: ferme.id, date: date|date('Y-m-d')}) }}">{{ date|date('d/m/Y') }}</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Suivi des livraisons
    </h5>
{% endblock %}

{% block main %}
    <h3>Recherche d'amapien</h3>
    <p>Afin de valider une livraison, sélectionnez un AMAPien à l'aide du champs ci-dessous pour démarrer. Veuillez
        cliquez sur l'une d'entre elle puis sur "valider".</p>
    <p>ATTENTION : cet outil fonctionne uniquement si l'AMAP a bien reporté les paniers de chaque amapien sur Clic'AMAP.
        Seuls les amapiens avec un contrat en cours sont listés.</p>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-4">
            {{ form_widget(form.amapien) }}
            {{ form_errors(form.amapien) }}
        </div>
        <div class="col-xs-4 col-sm-1 col-md-1">
            <button
                    type="submit"
                    class="btn btn-primary">
                Valider
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <h3>Livraisons restantes</h3>
    <a
            class="btn btn-primary mb-2"
            href="{{ url('ferme_livraison_livraisons_restantes', {ferme_id: ferme.id, amap_id: amap.id, dateRaw: date|date('Y-m-d')}) }}"
    >
        Livraisons restantes
    </a>
{% endblock %}
