<footer class="text-center">
    <div class="well well-sm">
        <a href=" {{ url('contact_mentions_legales') }}">Mentions légales</a>
        <a href=" {{ url('actualites_user') }}">Les dernières versions</a>
    </div>
</footer>