<script>
  window.sentryOnLoad = function () {
    Sentry.init({
      maxBreadcrumbs: 400,
      initialScope: {
        user: {id: "{{ app.currentUser.id ?? '' }}"},
      },
    });
  };
</script>

<script src="https://js.sentry-cdn.com/4f7d4c44ede5fe6239bf53118e39a57c.min.js" crossorigin="anonymous"></script>
