{% extends 'base.html.twig' %}

{% block header %}
    {{ render_menu() }}
{% endblock %}



{% block content %}
    {% block welcome %}{% endblock %}
    <h3>{{ block('title') }}</h3>
    {% block breadcrumb %}{% endblock %}

    {{ block('main') }}
{% endblock %}


{% block footer %}
    {{ include('_footer.html.twig') }}
{% endblock %}
