<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ app.siteName }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ include('_sentry.html.twig') }}

    <link rel="icon" href="{{ base_url('assets/images/favicon.ico') }}" />

    <link rel="stylesheet" href="{{ base_url(resolve_asset('dist/app.css')) }}">
    <script type="text/javascript" src="{{ base_url(resolve_asset('dist/app.js')) }}"></script>

    <style type="text/css">

        a:focus {
            outline: 0 !important
        }

    </style>




    {{ render_debug_bar_header() }}

</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attr %}{% endblock %}>
<div class="container">
    {% block header %}
    {% endblock %}

    <div class="row">
        <div class="col-md-12">
            {{ block('content') }}
        </div>
    </div>

    {% block footer %}
    {% endblock %}

</div>

{{ render_ci_helper('render_flash_messages') }}
{{ render_debug_bar() }}

{% block javascript %}
    <script>
      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
    });

      $(function () {
      $('.datepicker').datepicker();
    });
    </script>
{% endblock %}

</body>
</html>
