<button class="hidden"></button>  {#  Create empty button to avoid click on "Entry" to trigger delete email button #}

<div class="well">
    <div class="row">
        <div class="col-sm-6 ">
            {{ form_row(form.name.firstName) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.name.lastName) }}
        </div>
    </div>
</div>

<div class="well well-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label for="nom" class="control-label">Nom d’utilisateur unique ClicAMAP :</label>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.address.adress) }}
        </div>

        <div class="col-sm-6">
            {{ form_row(form.address.adressCompl) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.ville) }}
        </div>
    </div>

</div>

<div class="well">
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.emails) }}
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                {{ form_widget(form.emails) }}
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <button id="add_email" type="button" class="btn btn-primary d-inline-block">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
</div>


<div class="well">
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.numTel1) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.numTel2) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(form.newsletter) }}
        </div>
    </div>
</div>
