{% extends 'base_connected.html.twig' %}

{% block title %}Autres documents{% endblock %}

{% block main %}
    <div class="col-md-12">
        <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Année</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for adhesion in adhesions %}
                <tr>
                    <td>Reçu année {{ adhesion.value.year }}</td>
                    <td>{{ adhesion.value.year }}</td>
                    <td>

                        {% set link = [true, url('adhesion_amap_amapien_download', {id: adhesion.id}), 'file', 'Télécharger le reçu'] %}
                        {% if is_granted('ACTION_ADHESION_AMAPIEN_DOWNLOAD', adhesion) %}
                            {% set link = [true, url('adhesion_amapien_download', {id: adhesion.id}), 'file', 'Télécharger le reçu'] %}
                        {% endif %}
                        {{ bouton_action(
                            '',
                            [
                                link,
                            ]
                        ) }}
                    </td>
                </tr>
            {% endfor %}

            {% for bulletin in bulletins %}
                <tr>
                    <td>Bulletin {{ bulletin.campagne.nom }}</td>
                    <td>{{ bulletin.campagne.anneeAdhesionAmapien }}</td>
                    <td>
                        {% set recu_id = bulletin.recus.id ?? null %}
                        {{ bouton_action(
                            '',
                            [
                                [true, url('campagne_download_bulletin_pdf', {bulletin_id: bulletin.id}), 'file', 'Télécharger le bulletin'],
                                [null != recu_id, null == recu_id ? '' : url('campagne_download_bulletin_recu_pdf', {recu_id: recu_id}), 'file', 'Télécharger le reçu']
                            ]
                        ) }}
                    </td>
                </tr>
            {% endfor %}

            {% for du in documentUtilisateur %}
                <tr>
                    <td>{{ du.nom }}</td>
                    <td>{{ du.annee }}</td>
                    <td>
                        {{ bouton_action(
                            '',
                            [
                                [true, url('document_utilisateur_telecharger', {du_id: du.id}), 'file', 'Télécharger le document'],
                            ]
                        ) }}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
