{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block body_class %}user-profil-edit{% endblock %}

{% block title %}Édition de mon profil{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ include('user_profil/_form_base.html.twig') }}

    {% if form.adhesionInfo is defined %}
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.adhesionInfo.nomReseau) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.adhesionInfo.siret) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.adhesionInfo.rna) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.adhesionInfo.villeSignature) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.adhesionInfo.site) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="text-right">
        <a class="btn btn-default mr-1" href="{{ url('user_profil') }}">Annuler</a>
        <button type="submit" class="btn btn-primary" href="{{ url('user_profil') }}">Sauvegarder</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    initFormUserEmails('user_profil_emails')
</script>
{% endblock %}
