{% extends 'base_connected.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <p class="text-right">
        <a href="{{ url('user_profil_edit') }}" title="Éditer mon profil">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </p>

    <div class="well">
        <table class="table">
            <tbody>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.name.firstName }}</td>
            </tr>
            <tr>
                <th>Numéro, rue</th>
                <td>{{ user.address.adress }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ user.address.adressCompl }}</td>
            </tr>
            <tr>
                <th>Code postal - Ville</th>
                <td>{{ user.ville.cp ?? '' }} - {{ user.ville.nom ?? '' }}</td>
            </tr>
            <tr>
                <th>Adresse Email</th>
                <td>{{ user.emails|join(',') }}</td>
            </tr>
            <tr>
                <th>Téléphone 1</th>
                <td>{{ user.numTel1 }}</td>
            </tr>
            <tr>
                <th>Téléphone 2</th>
                <td>{{ user.numTel2 }}</td>
            </tr>
            <tr>
                <th>J'autorise Clic'AMAP à mettre à jour mes coordonnées sur les listes de diffusion email du réseau auquel j'appartiens</th>
                <td>{{ user.newsletter ? 'Oui' : 'Non' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
