{% extends 'base_connected.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ url('portail_index') }}">Accueil</a> <i class="glyphicon glyphicon-menu-right"></i> Nouveau mot de passe </h5>
{% endblock %}

{% block main %}
    <p class="alert alert-info">Utilisez les champs ci-dessous pour créer un nouveau mot de passe. Veuillez confirmer pour qu'il soit bien pris en compte.</p>

    {{ form_start(form) }}
        <div class="form-group">
            <label for="password_1" class="col-sm-3 control-label">Mot de passe <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                {{ form_widget(form.password.first) }}
            </div>
        </div>
    {{ form_errors(form.password.first) }}


    <div class="form-group">
            <label for="lostpassword_email" class="col-sm-3 control-label">Confirmez le mot de passe <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                {{ form_widget(form.password.second) }}
            </div>
        </div>
    {{ form_errors(form.password.second) }}


    <div class="form-group">
            <label class="col-sm-3 control-label">Force du mot de passe</label>
            <div class="col-sm-9">
                {{ render_zxcvbn_progress_bar('user_password[password][first]', url('user_profil_mot_de_passe_test')) }}
                <p class="help-block">Le mot de passe doit avoir au moins une force de 2 sur 4 et au moins 8 caractères</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pull-right">Modifier le mot de passe</button>
            </div>
        </div>


    {{ form_end(form) }}


{% endblock %}
