<html>
<head>
    <style>
        @page {
            sheet-size: A4;
            margin: 12mm 22mm;
            margin-bottom: 30mm;
        }

        h1,h2,h3,p,td,span {
            font-family: sans-serif;
            font-size: 12pt;
        }

        .footer {
            font-family: sans-serif;
            font-size: 8pt;
            text-align: justify;
            margin: 0 -10mm;
        }

        .montant_money {
            text-align: center;
            font-weight: bold;
        }

        h1, h2 {
            font-size: 14pt;
            text-align: center;
            margin: 0;
        }

        h2 {
           margin-bottom: 2cm;
        }

        h3 {
            font-size: 13pt;
            text-decoration: underline;
        }

        table tr td.table-first-col {
            border-right: 10mm solid white;
        }
        table {
            margin-bottom: 1cm;
        }


        .header {
            width: 55%;
            height: 35mm;
            margin-bottom: .5cm;
            margin-left: auto;
            margin-right: auto;
        }

        .logo {
            position: fixed;
            height: 35mm;
            width: 35mm;
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1 {
            padding-top: 1cm;
        }

        .sep {
            width: 100%;
        }
        .sep_int {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid black;
        }
    </style>

</head>

<body>
    {% if campagne.autheurLogo is not null %}
        <div class="logo" style="background-image: url('{{ campagne.autheurLogo.fileFullPath }}')"></div>
    {% endif %}

    <div
        class="header"
    >
        <h1>{{ campagne.nom }}</h1>
        <h2>{{ campagne.period.startAt|date('d/m/Y') }} / {{ campagne.period.endAt|date('d/m/Y') }}</h2>
    </div>

    <p>
        {% block amapien_prenom %}NOM Prénom{% endblock %}<br />
        Téléphone.s : {% block amapien_telephones %}{% endblock %}<br />
        Email.s : {% block amapien_emails %}{% endblock %}<br />
        Complément d'adresse : {% block amapien_adresse_complement %}{% endblock %}<br />
        Adresse : {% block amapien_adresse %}{% endblock %}<br />
        {% block amapien_cp_ville %}{% endblock %}<br />
    </p>


    {% for montant in campagne.montants %}
        <h3>{{ montant.titre }}</h3>

        {% if montant.montantLibre %}
            <p class="montant_money">{{ block('montant_libre_montant') }} €</p>
        {% else %}
            <p class="montant_money">{{ montant.montant|money }} €</p>
        {% endif %}

        <p>{{ montant.description|purify_summernote_lite }}</p>
        <p></p>
    {% endfor %}

    <div class="sep">
        <div class="sep_int"></div>
    </div>

    <p>Je m’engage à verser la somme de <strong>{{ block('campagne_total') }} €</strong> auprès de {{ campagne.autheurInfo.nom }}
        en {{ campagne.paiementMethode }}</p>
    <p>{{ campagne.paiementDescription|purify_summernote_lite }}</p>

    <p>En adhérant, je m’engage à respecter la
        <a
                target="_blank"
                href="https://amapartage.fr/images/imagesCK/files/ressources/cont3/f4_charte-des-amap-mars-2014.pdf">
            charte des AMAP</a>
    </p>

    {% block permission_image %}
        <p>
            J’autorise {{ campagne.autheurInfo.nom }} à utiliser mon image (vidéo, photo) dans un but ,de promouvoir ses activités et évènements (presse flyers, site internet, facebook).
        </p>
    {% endblock %}

    {% block amapien_footer %}{% endblock %}

    {% block amapien_signature %}{% endblock %}

    <htmlpagefooter name="PageFooter">
        <p class="footer">
            Les informations recueillies sont nécessaires pour validation de votre adhésion et pour la diffusion d’informations concernant le fonctionnement et les évènements organisés par {{ campagne.autheurInfo.nom }}. Elles font l’objet d’un traitement informatique et sont destinées au Conseil d’Administration de l’association. En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée et du règlement européen 2016/679 du 27 avril 2016 dit Règlement Général sur la Protection des Données (RGPD), l’adhérent bénéficie d’un droit d’accès et de rectification des informations qui le concernent, qu’il peut exercer à tout moment en envoyant un mail à {{ campagne.amap.email }}.
        </p>
        <p class="footer">
            Les données collectées sont sécurisées, ne sont pas utilisées à des fins commerciales et ne feront pas l’objet d’une communication à des tiers.
        </p>
    </htmlpagefooter>
    <sethtmlpagefooter name="PageFooter" value="ON" />

</body>
