<html>
    <head>
        <style>
            @page {
                sheet-size: A4;
                margin-top: 25mm;
            }

            h1 {
                font-size: 1.5em;
                border: 2px solid black;
                text-align: center;
            }

            p.margin-left {
                margin-left: 3em;
            }

            p.right {
                text-align: right;
            }

            p {
                margin-top: 0;
                margin-bottom: 1em;
            }

            p.footer {
                border: 2px solid black;
                text-align: center;
                padding: 2em;
                margin-top: 1em;
            }

        </style>

    </head>

    <body>
        {% if bulletin.campagne.autheurLogo is not null %}
            <img
                    src="{{ bulletin.campagne.autheurLogo.fileFullPath }}"
                    style="width: 40mm; height: 40mm"
            />
        {% endif %}
        <table style="width: 100%; margin-top: 1em; margin-bottom: 1em" >
            <tr>
                <td style="width: 49%; vertical-align: top">
                    {{ bulletin.campagne.autheurInfo.nom }}<br />
                    {{ bulletin.campagne.autheurInfo.adresse }} <br />
                    {{ bulletin.campagne.autheurInfo.site }}
                </td>
                <td style="width: 49%; vertical-align: top; text-align: right">
                    {{ bulletin.campagne.autheurInfo.emails }} <br />
                    {{ bulletin.campagne.autheurInfo.telephone }}
                </td>
            </tr>
        </table>


        <p class="right">Numéro de reçu : {{ numero }}</p>

        <h1>RECU {{ bulletin.campagne.anneeAdhesionAmapien }} </h1>

        <p>L'association <b>{{ bulletin.campagne.autheurInfo.nom }}</b> atteste avoir reçu</p>
        <p class="margin-left">la somme de {{ bulletin.montantTotal|money }} €</p>
        <p class="margin-left">de l'Amapien <b>{{ bulletin.payeur }}</b></p>
        <p class="margin-left">
            par {{ bulletin.campagne.paiementMethode }}
        </p>
        <p class="margin-left">en date du {{ bulletin.paiementDate|date('d/m/Y') }}</p>

        <p>composée de :</p>

        {% for campagne_montant in bulletin.campagne.montants %}
            {% if campagne_montant.montantLibre %}
                {% for bulletin_montant in bulletin.montants %}
                    {% if bulletin_montant.campagneMontant == campagne_montant %}
                        <p class="margin-left">
                            la somme de {{ bulletin_montant.montant|money }} € au titre de {{ campagne_montant.titre }}
                        </p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="margin-left">
                    la somme de {{ campagne_montant.montant|money }} € au titre de {{ campagne_montant.titre }}
                </p>
            {% endif %}
        {% endfor %}


        <p class="separator">&nbsp;</p>
        {{ bulletin.campagne.champLibre|purify_summernote_lite }}

        <p class="separator">&nbsp;</p>

        <p class="right">
            Fait à {{ bulletin.campagne.autheurInfo.ville }} <br />
            le {{ now|date('d/m/Y') }}
        </p>

        <p class="footer">
            Association soumise à la loi du 1er juillet 1901 et au décret du 16 août 1901 <br />
            {% if bulletin.campagne.autheurInfo.siret is not empty %}N° de SIRET : {{ bulletin.campagne.autheurInfo.siret }}{% endif %}{% if bulletin.campagne.autheurInfo.rna is not empty %} - N° déclaration en préfecture : {{ bulletin.campagne.autheurInfo.rna }}{% endif %}
        </p>
    </body>
</html>
