{% extends 'PDF/campagne_base.html.twig' %}

{% block permission_image %}
    {% if bulletin.permissionImage %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block campagne_total %}{{ bulletin.montantTotal|money }}{% endblock %}

{% block montant_libre_montant %}
    {% for bulletin_montant in bulletin.montants %}
        {% if bulletin_montant.campagneMontant == montant %}
            {{ bulletin_montant.montant|money }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block amapien_signature %}<p>{{ bulletin.amapien.user.name }}</p>{% endblock %}

{% block amapien_prenom %}{{ bulletin.amapien.user.name.fullNameInversed }}{% endblock %}
{% block amapien_telephones %}
    {{ bulletin.amapien.user.numTel1 }}
    {% if bulletin.amapien.user.numTel2 is not empty %}
        / {{ bulletin.amapien.user.numTel2 }}
    {% endif %}
{% endblock %}
{% block amapien_emails %}
    {{ bulletin.amapien.user.emails|join(' / ') }}
{% endblock %}
{% block amapien_adresse_complement %}
    {{ bulletin.amapien.user.address.adressCompl }}
{% endblock %}
{% block amapien_adresse %}
    {{ bulletin.amapien.user.address.adress }}
{% endblock %}
{% block amapien_cp_ville %}
    {{ bulletin.amapien.user.ville.cpString }} {{ bulletin.amapien.user.ville.nom }}
{% endblock %}

{% block amapien_header %}
    <table>
        <tr>
            <td class="table-first-col">{{ bulletin.amapien.user.name.lastName }}</td>
            <td>{{ bulletin.amapien.user.name.firstName }}</td>
        </tr>
        <tr>
            <td class="table-first-col">{{ bulletin.amapien.user.numTel1 }}</td>
            <td>{{ bulletin.amapien.user.numTel2 }}</td>
        </tr>
        <tr>
            <td class="table-first-col">{{ bulletin.amapien.user.emails|first }}</td>
            <td>{{ bulletin.amapien.user.emails[1] ?? '' }}</td>
        </tr>
        <tr>
            <td class="table-first-col">{{ bulletin.amapien.user.address.adress }}</td>
            <td>{{ bulletin.amapien.user.ville }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ bulletin.amapien.user.address.adressCompl }}</td>
        </tr>
    </table>
{% endblock %}

{% block amapien_footer %}
    <p>{{ bulletin.amapien.user.ville.nom ?? '' }}, fait le : {{ now|date("d/m/Y") }}</p>
{% endblock %}
