{% extends 'PDF/campagne_base.html.twig' %}

{% block campagne_total %}{{ campagne.montantTotal|money }}{% endblock %}
{% block montant_libre_montant %}Montant libre{% endblock %}

{% block amapien_signature %}<p>Signature</p>{% endblock %}

{% block amapien_footer %}
    <p>[nom de la ville de l’adresse de l’amapien.ne], fait le : [date du jour]</p>
{% endblock %}
