{# application/views/PDF/contrat_distribution.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <style>
     @page {
       sheet-size: A4;
       margin-top: 25mm;
     }
    </style>
  </head>

  <body style="font-size: 10pt;">
    {# Livraison identique : oui/non #}
    {# Pour chaque date de livraison #}
    {% set mc = dto.getMc() %}
    {% set date_cnt = 0 %}
    {% set date_tot = mc.getFutureDates()|length %}
    {% set page_break_date = '' %}
    {% set page_break_amapien = '' %}
    {% set liv_same = dto.contratAllFutureDateLivSame %}

    {% for date in mc.getFutureDates() %}
        {% set continue = false %}

        {% set date_cnt = date_cnt + 1 %}
        {# Afficher uniquement la dernière date si livraison identique (pour prendre en compte les souscriptions en cours de contrat) #}
        {% if liv_same and date_cnt != date_tot %}
            {% set continue = true %}
        {% endif %}


        {% if not continue %}

            {# Date #}
            {% if not liv_same %}
                {% if date_cnt > 1 %}
                    {% set page_break_date = 'page-break-before:always;' %}
                {% endif %}
                <p style="text-align:center; {{ page_break_date }}"><span style="text-decoration:underline;">Livraison du {{ date.getDateLivraison()|date_format_french }}</span> ({{ date_cnt }}/{{ date_tot }})</p>
            {% else %}
                {% set page_break_amapien = 'page-break-after:always;' %}
            {% endif %}
            {# Info contrat #}
            <p>
                Contrat : <strong>{{ mc.getNom() }}</strong><br/>
                Ferme : <strong>{{ mc.getFerme().getNom() }}</strong><br/>
                Lieu : <strong>{{ mc.getLivraisonLieu().getNom() }}</strong><br/>
                {# Cumul produits #}
            <hr/>
            Quantités totales à livrer :
            <ul>
                {% for produit in mc.getProduits() %}
                    {% set quantites = 0 %}
                    {% for contrat in dto.getContratsValidatedOrderedByAmapien() %}
                        {% for cellule in contrat.getCellules() %}
                            {% if date.getDateLivraison() == cellule.getModeleContratDate().getDateLivraison() and produit.getId() == cellule.getModeleContratProduit().getId() %}
                                {% set quantites = quantites + cellule.getQuantite() %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <li><strong>{{ quantites }}</strong>&nbsp;{{ produit.getNom() }} ({{ produit.getConditionnement() }} / {{ produit.getPrix() }} €)</li>
                {% endfor %}
            </ul>
            </p>
            <hr/>
            {# Dates des livraisons #}
            {% if liv_same %}
                <p>Dates des livraisons :
                <ol>
                    {% for d in mc.getFutureDates() %}
                        <li>{{ d.getDateLivraison()|date_format_french }}</li>
                    {% endfor %}
                </ol>
                <hr/>
                </p>
            {% endif %}
            {# Produits par amapien #}
        <p style="{{ page_break_amapien }}">
            {# Pour chaque contrat amapien (tri alphabétique) #}
            {% for contrat in dto.getContratsValidatedOrderedByAmapien() %}
                {% set amapien = contrat.getAmapien() %}
                <div style="display:inline-block; page-break-inside: avoid">
                    <span style="background-color:gainsboro">
                        <i><strong>{{ amapien.getUser().getName().getFullNameInversed() }}</strong> ({{ amapien.getUser().getNumTel1() }}
                            {% if amapien.getUser().getNumTel2() is not empty %}
                                | {{ amapien.getUser().getNumTel2() }}
                            {% endif %}
                        )</i>
                        {% if liv_same %}
                            <tt>
                                <table style="margin-right:0px; margin-left:auto;">
                                    <tr>
                                        {% for i in mc.getFutureDates()|keys %}
                                            <td style="font-size:smaller; text-align:center; width:2em; border: 1px solid black; border-collapse:collapse;">{{ i }}</td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </tt>
                        {% endif %}
                    </span>
                    {# Pour chaque produit du contrat amapien #}
                    <ul>
                        {% for produit in mc.getProduits() %}
                            {% for cellule in contrat.getCellules() %}
                                {% if amapien.getId() == contrat.getAmapien().getId() and date.getDateLivraison() == cellule.getModeleContratDate().getDateLivraison() and produit.getId() == cellule.getModeleContratProduit().getId() %}
                                    {% if cellule.getQuantite() != 0 %}
                                        <li><strong>{{ cellule.getQuantite() }}</strong>&nbsp;{{ produit.getNom() }} ({{ produit.getConditionnement() }})</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </p>

        {% endif %}
    {% endfor %}
  </body>
</html>