{% extends "PDF/contrat_base.html.twig" %}

{% block amapien_nom_complet %}{{ contrat.amapien.user.name.fullName }}{% endblock %}
{% block amapien_prenom %}{{ contrat.amapien.user.name.firstName }}{% endblock %}
{% block amapien_nom %}{{ contrat.amapien.user.name.lastName }}{% endblock %}
{% block amapien_adresse %}{{ contrat.amapien.user.adresseComplete }}{% endblock %}
{% block amapien_commandes %}
    {% set cellules = contrat.cellules.toArray() %}
    <tr>
        <th></th>
        {% for produit in mc.produits %}
            {% if contrat_cellule_count_by_product(cellules, produit) > 0 %}
                <th>{{ produit.nom }} / {{ produit.conditionnement }}</th>
            {% endif %}
        {% endfor %}
    </tr>

    {% for date in mc.datesOrderedAsc %}
        {% if contrat_cellule_count_by_date(cellules, date) > 0 %}
            <tr>
                <td>{{ date.dateLivraison|date_format_french }}</td>
                {% for produit in mc.produits %}
                    {% if contrat_cellule_count_by_product(cellules, produit) > 0 %}
                        <td
                            class="{{ exclusions[produit.id][date.id] is defined ? 'disabled' : '' }}"
                        >
                            {{ contrat_cellule_count(contrat.cellules.toArray(), date, produit) }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block dates_reglements %}
    {% for date_reglement in contrat.datesReglements %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ date_reglement.modeleContratDatesReglement.date|date_format_french }}</td>
            <td>{{ date_reglement.montant|money }} €</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block mc_date %}{{ contrat.dateModification is same as(null) ? contrat.dateCreation|date_format_french : contrat.dateModification|date_format_french }}{% endblock %}
