{% extends "PDF/contrat_base.html.twig" %}

{% block amapien_nom_complet %}[AMAPIEN]{% endblock %}
{% block amapien_prenom %}[PRENOM AMAPIEN]{% endblock %}
{% block amapien_nom %}[NOM AMAPIEN]{% endblock %}
{% block amapien_adresse %}[ADRESSE]{% endblock %}
{% block amapien_commandes %}
    <tr>
        <th></th>
        {% for produit in mc.produits %}
            <th>{{ produit.nom }} / {{ produit.conditionnement }}</th>
        {% endfor %}
    </tr>

    {% for date in mc.datesOrderedAsc %}
        <tr>
            <td>{{ date.dateLivraison|date_format_french }}</td>
            {% for produit in mc.produits %}
                <td
                    class="{{ exclusions[produit.id][date.id] is defined ? 'disabled' : '' }}"
                >
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}
{% block dates_reglements %}
    {% for date_reglement in mc.dateReglements %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ date_reglement.date|date_format_french }}</td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}
{% block mc_date %}[DATE DE SIGNATURE]{% endblock %}
