<div class="modal fade text-left" id="modal_actualite" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title text-danger" id="myModalLabel">
                    {{ actualite.titre }}
                </h4>
            </div>
            <div class="modal-body">
                {{ actualite.description|purify_summernote }}
            </div>
            <div class="modal-footer text-right">
                {% if notReadCount > 1 %}
                    <button class="btn btn-default"
                            data-target="{{ url('actualites_user_read_all') }}"
                            data-redirect="{{ url('actualites_user') }}"
                    >Voir les {{ notReadCount - 1 }} autres versions</button>
                {% endif %}
                <button class="btn btn-success" data-target="{{ url('actualites_user_read_last') }}">J'ai compris, merci</button>
            </div>
        </div>
    </div>
</div>