{% form_theme form with ['form/form_theme_vertical.html.twig', _self] %}

{%- block form_errors -%}
    {%- if errors is defined and errors|length > 0 -%}
        {%- for error in errors -%}
            {# Allow raw message here as no one is generated with user content #}
            <div class="alert alert-danger">{{ error.message|raw }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors %}

<div id="order-form-container">
    <div class="">
        {{ form_errors(form) }}
    </div>

    <div class="well well-sm">
            {# Use separate div with config for htmx as we change only items and not main form #}
            <div
                id="order-form-htmx"
                hx-post=""
                hx-trigger="keyup from:form.js-form delay:500ms, change from:form.js-form delay:500ms, load"
                hx-include="form.js-form"
                hx-swap="none"
            >
            </div>

            {{ form_start(form, {attr: {class: 'js-form'}}) }}

                {% if copy_button is defined and copy_button == 'true' %}
                    <button class="btn btn-success btn-copy">
                        Copier la première ligne partout
                    </button>
                {% endif %}

                <div class="table-simulation-container">
                    <table
                            class="table table-bordered"
                    >
                        <thead>
                        <tr class="active">
                            <th colspan="2"></th>
                            {% for produit in form.vars.value.getSubscribableMcp %}
                                <th class="text-center">
                                    <u>{{ produit.nom }}</u>
                                    <br />
                                    {{ produit.conditionnement }}
                                    <br />
                                    <span class="badge">{{ produit.prix.prixTTC|money }} €</span>
                                </th>
                            {% endfor %}
                        </tr>

                        <tr class="active">
                            <th class="text-right" style="border-right: 0px;">Total :</th>
                            <th>
                                <input
                                    id="js-total"
                                    class="form-control text-right"
                                    disabled
                                    value=""
                                >
                            </th>
                            {% for produit in form.vars.value.getSubscribableMcp %}
                                <th>
                                    <input
                                        id="js-total-produit-{{ produit.id }}"
                                        disabled
                                        class="form-control text-right"
                                        value=""
                                    />
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for date in mc.getDatesOrderedAsc %}
                            <tr class="input-row">
                                <td class="text-left" style="vertical-align: middle;">{{ date.dateLivraison|date_format_french }}</td>
                                <td>
                                    <input
                                        id="js-total-date-{{ date.id }}"
                                        disabled
                                        class="form-control text-right"
                                        value=""
                                    />
                                </td>
                                {% for produit in form.vars.value.getSubscribableMcp %}
                                    <td>
                                        {% set item = form.items[form.vars.data.getKey(produit, date)] %}
                                        {% if item.qty is defined %}
                                            {{ form_widget(item.qty) }}
                                            {{ form_errors(item.qty) }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>


                <div style="margin-top: 10px">
                    {% if prevalidationMessage is defined and prevalidationMessage is not null %}
                        <p><b>{{ prevalidationMessage|raw }}</b></p>
                    {% endif %}
                    <button
                            class="btn btn-success pull-right"
                            type="submit"
                            style="margin-left: 10px;"
                    >
                        {{ validation_label }}
                    </button>
                    <a class="btn btn-default pull-right" href="{{ site_url(url_retour) }}">Retour</a>
                </div>
                <div class="clearfix"></div>
            {{ form_end(form) }}

        </div>
</div>

