<input
        id="js-total"
        hx-swap-oob="outerHTML"
        class="form-control text-right"
        disabled
        value="{{ commande.total|money }} €"
>

{% for produit in commande.mc.produits %}
    <input
        id="js-total-produit-{{ produit.id }}"
        hx-swap-oob="outerHTML"
        disabled
        class="form-control text-right"
        value="{{ commande.totalByMcp(produit)|money }} €"
    >
{% endfor %}

{% for date in commande.mc.getDatesOrderedAsc %}
    <input
        id="js-total-date-{{ date.id }}"
        hx-swap-oob="outerHTML"
        disabled
        class="form-control text-right"
        size="3"
        value="{{ commande.totalByMcd(date)|money }} €"
    />
{% endfor %}