{% import "macro/_modals.html.twig" as modal %}


{%- macro action_label(contrat) -%}
    {% if contrat.state is constant('PsrLib\\Workflow\\ContratStatusWorkflow::STATE_AMAPIEN_TO_VALIDATE') %}
        {% if contrat.isNowBeforeOrEqualFirstLivraisonDateWithFermeDelai %}
            Contrat en cours de validation
        {% else %}
            Validation échouée
        {% endif %}
    {% endif %}
{%- endmacro -%}

{% if searchContratState.empty %}
    <div class="alert alert-warning">Aucun contrat sélectionné.</div>
{% else %}
    <p>
        {% set mc = searchContratState.mc %}
    <div class="clearfix">
        {% include 'contrat_signe/_info_modele_contrat.html.twig' with {modeleContrat: mc} %}

        {% if is_granted('ACTION_CONTRACT_MODEL_SUBSCRIBE_FORCE', mc) %}
            <a href="{{ url('contrat_signe_contrat_new_force', {modele_contrat_id: mc.id}) }}" class="btn btn-success" title="Ajouter le contrat">
                <i class="glyphicon glyphicon-plus"></i> Ajouter le contrat d'un amapien
            </a>&nbsp;
        {% endif %}

        {% if is_granted('ACTION_CONTRACT_MODEL_REMOVE', mc) %}
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal_remove_mc">
                <i class="glyphicon glyphicon-remove-sign"></i> Supprimer le contrat vierge
            </a>&nbsp;
        {% else %}
            <a href="#" class="btn btn-danger" disabled>
                <i class="glyphicon glyphicon-remove-sign"></i> Supprimer le contrat vierge
            </a>&nbsp;
        {% endif %}

        {% if contrats|length > 0 %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_download">
                <i class="glyphicon glyphicon-download"></i> Télécharger
            </a>&nbsp;

            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_email">
                <i class="glyphicon glyphicon-envelope"></i> Emails de la liste
            </a>&nbsp;

            {% if is_granted('ACTION_CONTRACT_MODEL_MANAGE_PAYMENT', mc) %}
                <a href="#" class="btn btn-primary js-tableselect-button" data-toggle="modal" data-target="#modal_rappel">
                    <i class="glyphicon glyphicon-envelope"></i> Envoyer un rappel
                </a>&nbsp;
                <a href="#" class="btn btn-primary js-tableselect-button js-tableselect-link" data-base-href="{{ site_url("contrat_signe/paiement_statut") }}">
                    <i class="glyphicon glyphicon-euro"></i> Gérer les paiements
                </a>&nbsp;
            {% endif %}
        {% else %}
            <a href="#" class="btn btn-primary" disabled>
                <i class="glyphicon glyphicon-download"></i> Télécharger
            </a>&nbsp;

            <a href="#" class="btn btn-primary" disabled>
                <i class="glyphicon glyphicon-envelope"></i> Emails de la liste
            </a>&nbsp;
        {% endif %}

        {% if showOtherButton is defined and showOtherButton == true %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_autre">
                <i class="glyphicon glyphicon-cog"></i> Autre
            </a>
        {% endif %}
    </div>
    </p>

    <!-- Modal remove -->
    <div class="modal fade text-left" id="modal_remove_mc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer le contrat vierge ?</h5>
                </div>
                <div class="modal-body">
                    <p class="text-right">
                        <a href="{{ url('contrat_signe_mc_remove', {mc_id: mc.id}) }}" class="btn btn-danger btn-sm">OUI</a>
                        <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal autre -->
    <div class="modal fade" id="modal_autre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Autres actions sur les contrats signés</h4>
                </div>
                <div class="modal-body">
                    <h5>Veuillez indiquer ce que vous souhaitez modifier :</h5>
                    <p>
                        {% if is_granted('ACTION_CONTRACT_MODEL_CHANGE_DELAY', mc) %}
                            <a href="{{ url('contrat_signe_delai', {mc_id: mc.id}) }}">Délai de la ferme</a>&nbsp;
                        {% else %}
                            <a href="#" disabled>Délai de la ferme</a>&nbsp;
                        {% endif %}
                    </p>

                    <p>
                        {% if is_granted('ACTION_CONTRACT_MODEL_MOVE_DATE', mc) %}
                            <a href="{{ url('contrat_signe_move', {mc_id: mc.id}) }}">Déplacer une date de livraison</a>&nbsp;
                        {% else %}
                            <a href="#" disabled>Déplacer une date de livraison</a>&nbsp;
                        {% endif %}
                    </p>

                    <p><a href="{{ url('contrat_signe_counter', {mc_id: mc.id}) }}">Mettre à zéro les quantités commandées sur une ou plusieurs dates de livraison</a></p>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ACTION_CONTRACT_MODEL_MANAGE_PAYMENT', mc) %}
        {{ modal.modal_oui_non(
            'modal_rappel',
            'Voulez-vous vraiment envoyer un rappel de paiement aux amapiens sélectionnés',
            url('contrat_signe_paiement_rappel'),
            '',
            'js-tableselect-modal-form-update-action'
        ) }}
    {% endif %}

    <!-- Modal email -->
    <div class="modal fade" id="modal_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les amapiens de ce contrat ?</h4>
                </div>
                <div class="modal-body">
                    <h5>Pour envoyer un email à tous les adhérents de ce contrat, vous devez :</h5>
                    <ul>
                        <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit + Copier sur la zone bleue ci dessous</li>
                        <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook...)</li>
                        <li>Faire nouveau message</li>
                        <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit + Coller dans la liste des destinataires du message.</li>
                    </ul>

                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5">{{ contrats|map(c => c.amapien.user ?? null)|users_emails_list }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal download -->
    <div class="modal fade" id="modal_download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Télécharger</h4>
                </div>
                <div class="modal-body">
                    <h5>Veuillez cliquer sur le lien du fichier que vous souhaitez télécharger :</h5>

                    <p><a target="_blank" href="{{ url('contrat_signe_telecharger_fiche_distribution', {mc_id: mc.id}) }}">Les fiches de livraisons par date</a> (pdf)</p>
                    <p><a href="{{ url('contrat_signe_telecharger_feuilles_distribution', {mc_id: mc.id}) }}">Toutes les feuilles de livraisons</a> (excel)</p>
                    <p><a href="{{ url('contrat_signe_telecharger_liasse_contrats', {mc_id: mc.id}) }}">La liasse des contrats signés</a> (excel)</p>

                    <p><a href="{{ url('contrat_signe_telecharger_souscripteurs', {mc_id: mc.id}) }}">La liste des souscripteurs de ce contrat, avec leur email et téléphone</a> (excel)</p>

                    {% if is_granted('ACTION_CONTRACT_MODEL_PAYMENT_SUMMARY', mc) %}
                        <p><a href="{{ url('contrat_signe_telecharger_synthese_contrat', {mc_id: mc.id}) }}">La synthèse des règlements</a> (excel)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if contrats|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover table-datatable">
                <thead class="thead-inverse">
                <tr>
                    <th>
                        {% if is_granted('ACTION_CONTRACT_MODEL_MANAGE_PAYMENT', mc) %}
                            <input
                                type="checkbox"
                                class="js-tableselect-all"
                            />
                        {% endif %}
                    </th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Statut du paiement</th>
                    <th>Date de dernière mise à jour</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% set contrat_all_nbr = contrats|length %}
                {% if contrat_all_nbr == 1 %}
                    <div class="alert alert-success">1 contrat signé :</div>
                {% else %}
                    <div class="alert alert-success">{{ contrat_all_nbr }} contrats signés pour cette recherche :</div>
                {% endif %}

                {% for contrat in contrats %}
                    <tr>
                        <td>
                            {% if is_granted('ACTION_CONTRACT_MODEL_MANAGE_PAYMENT', mc) %}
                                <input class="js-tableselect-row" type="checkbox" name="contrats_selected[]" value="{{ contrat.id }}">
                            {% endif %}
                        </td>
                        <th scope="row">
                            {{ contrat.amapien.user.name.lastName|upper }}
                        </th>
                        <td>
                            {{ contrat.amapien.user.name.firstName|ucfirst }}
                        </td>
                        <td>
                            {{ contrat.contratPaiementStatut.value|trans([], 'contrat_paiement_statut') }}
                        </td>
                        {% set contrat_date = contrat.dateModification ?? contrat.dateCreation %}
                        <td data-order="{{ contrat_date ? contrat_date|date('U') : '' }}">
                            {{ contrat_date|date_format_french_hour }}
                        </td>
                        <td>
                            {{ bouton_action(
                                _self.action_label(contrat),
                                [
                                    [is_granted('ACTION_CONTRACT_SIGNED_EXPORT_XLS', contrat), url('contrat_signe_telecharger_contrat', {c_id: contrat.id}), 'list-alt', 'Télécharger le contrat (excel)'],
                                    [is_granted('ACTION_CONTRACT_SIGNED_EXPORT_PDF', contrat), url('contrat_signe_contrat_pdf', {contrat_id: contrat.id}), 'file', 'Télécharger le contrat juridique (pdf)'],
                                    [is_granted('ACTION_CONTRACT_SIGNED_MOVE_DATE', contrat), path('contrat_signe_contrat_deplacement', {contrat_id: contrat.id}), 'calendar', 'Déplacer des dates de livraison'],
                                    [is_granted('ACTION_CONTRACT_SIGNED_EDIT_FORCE', contrat), url('contrat_signe_contrat_edit', {contrat_id: contrat.id}) ~ '?force', 'edit', 'Modifier le contrat'],
                                    [is_granted('ACTION_CONTRACT_SIGNED_REMOVE', contrat), '#modal_remove_' ~ contrat.id, 'remove', 'Supprimer le contrat']
                                ]
                            ) }}

                            {{ modal.modal_oui_non(
                                'modal_remove_' ~ contrat.id,
                                'Voulez-vous vraiment supprimer le contrat de <strong>' ~ contrat.amapien.user ~ '</strong>',
                                url('contrat_signe_remove', {c_id: contrat.id}),
                                ''
                            ) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">Aucun contrat n'a encore été créé.</div>
    {% endif %}


{% endif %}
