<div class="alert alert-info">
    <table style="width: 100%">
        <tr>
            <td>
                Contrat : <strong>{{ modeleContrat.nom }}</strong>
            </td>
            <td>
                Ferme : <strong>{{ modeleContrat.ferme.nom }}</strong>
            </td>
        </tr>
        <tr>
            <td>
                Lieu de livraison : <strong>{{ modeleContrat.livraisonLieu.nom }}</strong>
            </td>
            <td>
                Délai de la ferme : <strong>{{ modeleContrat.delaiModifContrat }} jour(s)</strong>
            </td>
        </tr>
        <tr>
            <td>
                Nombre de livraisons plancher/plafond : <strong>{{ modeleContrat.informationLivraison.nblivPlancher }}/{{ modeleContrat.nbLivPlafond }}</strong>
            </td>
            <td>
                Date de fin de souscription : <strong>{{ modeleContrat.forclusion|date_format_french }}</strong>
            </td>
        </tr>
        <tr>
            <td>
                Produits identiques toutes les livraisons amapien : <strong>{{ modeleContrat.informationLivraison.produitsIdentiqueAmapien ? 'OUI' : 'NON' }}</strong>
            </td>
            <td>
                Produits identiques toutes les livraisons paysan : <strong>{{ modeleContrat.informationLivraison.produitsIdentiquePaysan ? 'OUI' : 'NON' }}</strong>
            </td>
        </tr>
        <tr>
            <td>
                Déplacement amapien sur date avec/sans livraison : <strong>{{ modeleContrat|modele_contrat_deplacement_report_formater }}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Informations complémentaires : <strong>{{ modeleContrat.specificite|nl2br }}</strong>
            </td>
        </tr>
    </table>
</div>