{% extends 'base_connected.html.twig' %}

{% block title %}
    Déplacer des dates de livraison
{% endblock %}


{% block main %}
    <div class="row">

        <div class="col-md-12">
            <div class="well well-sm">
                <p class="h4">{{ contrat_signe.amapien }} - {{ contrat_signe.modeleContrat }}</p>

                {{ include('contrat_signe/_contrat_commande_form.html.twig', {
                    form: form,
                    url_retour: url_retour,
                    mc: mc,
                    validation_label: 'Valider',
                    prevalidationMessage: null,
                    copy_button: false
                }) }}
            </div>
        </div>
    </div>
{% endblock %}