{% extends 'base_connected.html.twig' %}

{% block title %}
    Exports comptable
{% endblock %}


{% block main %}
    <div class="alert alert-success">
        Cette fonctionnalité a été mise en ligne en octobre 2022. Si vous êtes assujettis à la TVA, le calcul des montants de TVA
        ne sera disponible que pour les contrats mis en ligne après cette date. Vous pouvez tout de même télécharger les
        fichiers pour tous vos contrats Clic'Amap.
    </div>
    {{ form_start(searchForm, {'method': 'GET', 'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">AMAP</button>
                    </span>
                    {{ form_widget(searchForm.amap) }}
                    {{ form_errors(searchForm.amap) }}
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Contrat</button>
                    </span>
                    {{ form_widget(searchForm.mc) }}
                    {{ form_errors(searchForm.mc) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}

    {% if searchContratState.amap is not null %}
        <div class="dropdown d-inline-block">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDownload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Télécharger
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu mt-0" aria-labelledby="dropdownMenuDownload">
                <li><a href="{{ url('contrat_signe_contrat_paysan_export_product_delivred') ~ '?' ~ app.request.queryString }}">Synthèse financière des contrats par produits livrés</a></li>
                <li><a href="{{ url('contrat_signe_contrat_paysan_export_product_ordered') ~ '?' ~ app.request.queryString }}">Synthèse financière des contrats par produits commandés</a></li>
                <li><a href="{{ url('contrat_signe_contrat_paysan_export_date') ~ '?' ~ app.request.queryString }}">Synthèse financière des contrats par date de règlement</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}