{% extends 'base_connected.html.twig' %}

{% block title %}
    Étape 2 - Mode et fréquence de règlement
{% endblock %}

{% block breadcrumb %}
    <h5>
        {% if '/contrat_signe/contrat_own_new/' == url_retour %}
            <a href="{{ url('contrat_signe_contrat_own_new') }}">Les nouveaux contrats disponibles</a>
        {% elseif 'contrat_signe' in url_retour %}
            <a href="{{ url_retour }}">Contrats signés</a>
        {% else %}
            <a href="{{ url_retour }}">Mes contrats existants</a>
        {% endif %}
        <i class="glyphicon glyphicon-menu-right"></i>
        Souscription
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ path('contrat_signe_contrat_subscribe_1', {modele_contrat_id: 0}) }}">Étape 1</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 2
    </h5>
{% endblock %}

{% block main %}
    <p class="h4">{{ contrat.amapien }}</p>

    <div class="well well-sm">
        {{ include('contrat_signe/contrat_subscribe_2_form.html.twig', {form: form}) }}
    </div>
{% endblock %}
