{% extends 'form/form_theme_vertical.html.twig' %}

{% block radio_widget -%}
    <div class="form-group checkbox">
        {{- form_label(form, null, {widget: block('radio_widget', 'form_div_layout.html.twig')}) -}}
    </div>
{%- endblock radio_widget %}
