{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    Mes contrats existants
{% endblock %}


{% block main %}
    <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de souscription</th>
                <th>Date de modification</th>
                <th>Livraisons obligatoires</th>
                <th>{{ app.currentUser.amapsAsAmapien|length > 1 ? 'Amap' : 'Choix identiques' }}</th>
                {% if contratCdp %}
                    <th>Status</th>
                {% endif %}
                <th>Montant total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contrat in contrats %}
                {% set mc = contrat.modeleContrat %}
                <tr>
                    <td>{{ mc.nom }}</td>
                    <td data-order="{{ contrat.dateCreation|date('U') }}">{{ contrat.dateCreation|date_format_french_hour }}</td>
                    <td data-order="{{ contrat.dateModification is null ? '' : contrat.dateModification|date('U') }}">
                        {{ contrat.dateModification|date_format_french_hour }}
                    </td>
                    <td>{{ mc.informationLivraison.nblivPlancher }}</td>
                    <td><span>
                        {% if app.currentUser.amapsAsAmapien|length > 1 %}
                            {{ mc.livraisonLieu.amap }}
                        {% else %}
                            {{ mc.informationLivraison.produitsIdentiqueAmapien ? 'OUI' : 'NON' }}
                        {% endif %}
                        </span>
                    </td>
                    {% if contratCdp %}
                        <td>
                            {% if contrat.cdp and contrat.cdpPaid %}
                                Payé
                            {% elseif contrat.cdp and not contrat.cdpPaid %}
                                En attente de règlement
                            {% else %}
                                Sans objet
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ contrat_total_TTC(contrat)|money }}</td>
                    <td>
                        {{ bouton_action('', [
                            [is_granted('ACTION_CONTRACT_SIGNED_REDIRECT_CDP', contrat) and contrat.cdpPaid, url('contrat_signe_redirection_cdp_echeances', {contrat_id: contrat.id}), 'calendar', 'Voir les échéances'],
                            [is_granted('ACTION_CONTRACT_SIGNED_REDIRECT_CDP', contrat) and not contrat.cdpPaid, url('contrat_signe_redirection_cdp_reglement', {contrat_id: contrat.id}), 'eur', 'Effectuer le règlement'],
                            [is_granted('ACTION_CONTRACT_SIGNED_MOVE_DATE', contrat), path('contrat_signe_contrat_deplacement', {contrat_id: contrat.id}) ~ '?ret=' ~ app.request.uri, 'calendar', 'Déplacer des livraisons'],
                            [is_granted('ACTION_CONTRACT_SIGNED_EDIT', contrat), url('contrat_signe_contrat_edit', {contrat_id: contrat.id}), 'edit', 'Modifier le contrat'],
                            [is_granted('ACTION_CONTRACT_SIGNED_EDIT', contrat), '#modal_remove_' ~ contrat.id, 'remove', 'Supprimer le contrat'],
                            [mc.version == 1, url('contrat_signe_telecharger_contrat', {c_id: contrat.id}), 'list-alt', 'Télécharger le contrat'],
                            [is_granted('ACTION_CONTRACT_SIGNED_EXPORT_PDF', contrat), url('contrat_signe_contrat_pdf', {contrat_id: contrat.id}), 'file', 'Télécharger le contrat'],
                            [is_granted('ACTION_CONTRACT_SIGNED_EXPORT_XLS', contrat), url('contrat_signe_telecharger_contrat', {c_id: contrat.id}), 'list-alt', 'Télécharger le contrat (excel)'],
                        ]) }}

                        {{ modals.modal_oui_non('modal_remove_' ~ contrat.id, 'Voulez-vous vraiment supprimer le contrat <strong>' ~ mc.nom ~ '</strong>', url('contrat_signe_remove', {c_id: contrat.id}), '') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}