{% extends 'base_connected.html.twig' %}

{% block title %}
    Mes contrats archivés
{% endblock %}

{% set current_user_has_multiple_amaps = app.currentUser.amapsAsAmapien|length > 1 %}

{% block main %}
    <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de souscription</th>
                <th>Date de modification</th>
                <th>{{ current_user_has_multiple_amaps ? 'Amap' : 'Choix identiques' }}</th>
                <th>Date de fin de souscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contrat in contrats %}
                {% set mc = contrat.modeleContrat %}
                <tr>
                    <td>{{ mc.nom }}</td>
                    <td data-order="{{ contrat.dateCreation|date('U') }}">{{ contrat.dateCreation|date_format_french_hour }}</td>
                    <td data-order="{{ contrat.dateModification is null ? '' : contrat.dateModification|date('U') }}">
                        {{ contrat.dateModification|date_format_french_hour }}
                    </td>
                    <td>
                        <span>
                            {% if current_user_has_multiple_amaps %}
                                {{ mc.livraisonLieu.amap }}
                            {% else %}
                                {{ mc.informationLivraison.produitsIdentiqueAmapien ? 'OUI' : 'NON' }}
                            {% endif %}
                        </span>
                    </td>
                    <td>{{ mc.forclusion|date_format_french }}</td>
                    <td>
                        {{ bouton_action('', [
                            [is_granted('ACTION_CONTRACT_SIGNED_EDIT', contrat), url('contrat_signe_contrat_edit', {contrat_id: contrat.id}), 'edit', 'Modifier le contrat'],
                            [mc.version == 1, url('contrat_signe_telecharger_contrat', {c_id: contrat.id}), 'list-alt', 'Télécharger le contrat'],
                            [mc.version == 2, url('contrat_signe_contrat_pdf', {contrat_id: contrat.id}), 'file', 'Télécharger le contrat']
                        ]) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}