{% form_theme form 'contrat_signe/contrat_subscribe_2_form_theme.html.twig' %}

{% import "macro/_form_htmx.html.twig" as form_htmx %}

{% set trigger = ['change', 'keyup']|map(e => "#{e} delay:0.5s from:input#contrat_souscription_form2_reglementNb")|join(', ') %}

{{ form_htmx.form_start_htmx(form, {attr: {"hx-trigger": trigger}}) }}
    <div class="row">
        <div class="col-xs-6">
            {{ form_row(form.reglementNb) }}
        </div>

        <div class="col-xs-8">
            {{ form_row(form.reglementType) }}
        </div>

        <div class="col-xs-4">
            <label>Modalités de règlement :</label> <br/>
            {{ mc.reglementModalite|nl2br }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <table id="dates" class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Montant à régler</th>
                </tr>
                </thead>
                <tbody>
                {% for date in form.datesReglements %}
                    <tr>
                        <td>{{ form_row(date.modeleContratDatesReglement) }}</td>
                        <td>
                            <div class="form-group">
                                <div class='input-group'><input class='form-control text-right'
                                                                value="{{ date.vars['data'].montant|money }}" disabled/>
                                    <div class='input-group-addon'>€</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_errors(form.datesReglements) }}

        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Montant total :</label>
                <div class="input-group">
                    <input
                            class="form-control text-right"
                            name="amount_total"
                            disabled
                            value="{{ total|money }}"
                    />
                    <div class="input-group-addon">€</div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <button
                    style="margin-left: 10px"
                    type="submit"
                    class="btn btn-success pull-right"
            >
                Suivant
            </button>

            <a
                    href="{{ path('contrat_signe_contrat_subscribe_1', {modele_contrat_id: 0}) }}"
                    class="btn btn-default pull-right"
            >
                Étape précédente
            </a>
        </div>
    </div>
{{ form_htmx.form_end_htmx(form) }}
