{% extends 'base_connected.html.twig' %}

{% block title %}
    Étape 1 - Sélection des quantités
{% endblock %}

{% block breadcrumb %}
    <h5>
        {% if url_retour == '/contrat_signe/contrat_own_new/' %}
            <a href="{{ url('contrat_signe_contrat_own_new') }}">Les nouveaux contrats disponibles</a>
        {% elseif 'contrat_signe' in url_retour %}
            <a href="{{ url_retour }}">Contrats signés</a>
        {% else %}
            <a href="{{ url_retour }}">Mes contrats existants</a>
        {% endif %}
        <i class="glyphicon glyphicon-menu-right"></i>
        Souscription
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 1
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            {% include 'contrat_signe/_info_modele_contrat.html.twig' with {'modeleContrat': contrat} %}
        </div>


        <div class="col-md-12">
            <div class="well well-sm">
                <p class="h4">{{ contrat_signe.amapien }}</p>

                {{ include('contrat_signe/_contrat_commande_form.html.twig', {
                    form: form,
                    url_retour: url_retour,
                    mc: contrat,
                    validation_label: 'Suivant',
                    prevalidationMessage: bypassNbLivCheck ? '<div class="alert alert-danger">Attention, avec ce module de gestion des contrats signés, les contrôles cités dans le bandeau bleu ne s\'appliquent pas lors de la souscription d\'un contrat.<br /></div>' : null,
                    copy_button: true
                }) }}
            </div>
        </div>
    </div>
{% endblock %}