{% extends 'base_connected.html.twig' %}

{% import "macro/_pdf.html.twig" as pdf %}

{% form_theme form "form/form_theme_vertical.html.twig" %}

{% block title %}Validation juridique de mon contrat{% endblock %}

{% block breadcrumb %}
<h5>
    {% if url_retour == '/contrat_signe/contrat_own_new/' %}
        <a href="{{ url('contrat_signe_contrat_own_new') }}">Les nouveaux contrats disponibles</a>
    {% elseif 'contrat_signe' in url_retour %}
        <a href="{{ url_retour }}">Contrats signés</a>
    {% else %}
        <a href="{{ url_retour }}">Mes contrats existants</a>
    {% endif %}
    <i class="glyphicon glyphicon-menu-right"></i>
    Souscription
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ path('contrat_signe_contrat_subscribe_1', {modele_contrat_id: 0}) }}">Étape 1</a>
    <i class="glyphicon glyphicon-menu-right"></i>
    <a href="{{ url('contrat_signe_contrat_subscribe_2') }}">Étape 2</a>
    Validation juridique de mon contrat
</h5>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12">
        <h4 class="mb-2 mt-1">
            <div class="alert alert-danger">
              Vous vous apprêtez à vous engager dans le cadre d'un partenariat avec la ferme.<br/>Lisez le contrat ci-dessous, acceptez les conditions puis validez, sinon il ne sera pas pris en compte.
            </div>
        </h4>
    </div>
    {% block warning %}
        {% if wizard.contrat.state == constant('PsrLib\\Workflow\\ContratStatusWorkflow::STATE_AMAPIEN_TO_VALIDATE') %}
            <div class="col-xs-12">
                <h4 class="mb-2 mt-0">
                    <div class="alert alert-danger">
                        <p>Attention : le contrat nécessite une validation de l'amapien. Celui-ci sera notifié à {{ wizard.contrat.amapien.user.emails|join(',') }}.</p>
                    </div>
                </h4>
            </div>
        {% endif %}
    {% endblock %}
    <div class="col-xs-12">
         {% block pdf %}
            {{ pdf.pdf_embeded(url('contrat_signe_preview_pdf')) }}
        {% endblock %}
    </div>

    <div class="col-xs-12">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.confirmSign) }}
                {{ form_errors(form.confirmSign) }}

                {{ form_widget(form.confirmCharter) }}
                {{ form_errors(form.confirmCharter) }}

                <p>Une fois <b>validé</b>, ce contrat juridique reste disponible au format PDF dans "Mes contrats existants" : l'impression du contrat n'est pas nécessaire.</p>

                <button type="submit" class="btn btn-success pull-right" style="margin-left: 10px">Valider</button>
                <a href="{% block url_previous %}{{ url('contrat_signe_contrat_subscribe_2') }}{% endblock %}" class="btn btn-default pull-right">Étape précédente</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        var alertOnExitEnabled = true;
        function alertOnExit(event) {
            if(!alertOnExitEnabled) {
                return;
            }

            event.preventDefault();
            event.returnValue = '';
        }
        window.addEventListener('beforeunload', alertOnExit);

        $('button[type="submit"]').click(function (e) {
          alertOnExitEnabled = false;
        });
    </script>
{% endblock %}