{% extends 'contrat_signe/contrat_subscribe_3.html.twig' %}

{% import "macro/_pdf.html.twig" as pdf %}


{% block breadcrumb %}
    <h5>
        <a href="{{ url('contrat_signe_contrat_own_new') }}">Les nouveaux contrats disponibles</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Validation juridique de mon contrat
    </h5>
{% endblock %}

{% block warning %}{% endblock %}

 {% block pdf %}
     {{ pdf.pdf_embeded(url('contrat_signe_contrat_pdf', {contrat_id: contrat.id})) }}
 {% endblock %}

{% block url_previous %}
    {{ url('contrat_signe_contrat_own_new') }}
{% endblock %}