{% extends 'base_connected.html.twig' %}

{% block title %}
    Les nouveaux contrats disponibles
{% endblock %}

{% set current_user_has_multiple_amaps = app.currentUser.amapsAsAmapien|length > 1 %}

{% macro mc_row(mc, context) %}
    <td>{{ mc.nom }}</td>
    <td>{{ mc.informationLivraison.nblivPlancher }}</td>
    <td>
        {% if context.current_user_has_multiple_amaps %}
            {{ mc.livraisonLieu.amap }}
        {% else %}
            {{ mc.informationLivraison.produitsIdentiqueAmapien ? 'OUI' : 'NON' }}
        {% endif %}
    </td>
    <td data-order="{{ mc.forclusion|date('U') }}">{{ mc.forclusion|date_format_french }}</td>
    <td>{{ mc.livraisonLieu }}</td>
{% endmacro %}

{% block main %}
    <table class="table table-datatable" data-order='[[ 3, "desc" ]]' data-paging="false" data-info="false">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Livraisons obligatoires</th>
                <th>{{ current_user_has_multiple_amaps ? 'Amap' : 'Choix identiques' }}</th>
                <th>Date de fin de souscription</th>
                <th>Lieu de livraison</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for mc in mc_all %}
                <tr>
                    {{ _self.mc_row(mc, _context) }}
                    <td>
                        {% if is_granted('ACTION_CONTRACT_MODEL_SUBSCRIBE', mc) %}
                            <a href="{{ path('contrat_signe_contrat_subscribe_1', {modele_contrat_id: mc.id}) }}" class="btn btn-success">Souscrire</a>
                        {% elseif attente[mc.id] %}
                            <a href="#" class="btn btn-default" disabled>Liste d'attente</a>
                        {% else %}
                            <a href="#" class="btn btn-default" disabled>Fin de souscription</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for c in contratValidation %}
                <tr>
                    {{ _self.mc_row(c.modeleContrat, _context) }}
                    <td>
                        {% if is_granted('ACTION_CONTRACT_SIGNED_AMAPIEN_VALIDATION', c) %}
                            <a href="{{ url('contrat_signe_amapien_validation', {contrat_id: c.id}) }}" class="btn btn-success">Valider</a>
                        {% else %}
                            <a href="#" class="btn btn-default" disabled>Validation échouée</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}