{% extends 'base_connected.html.twig' %}

{% block title %}
    Informations générales
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retPath) }}">Gestion des contrats signés</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ mc.nom }}
        <i class="glyphicon glyphicon-menu-right"></i>
        Mise à zéro des quantités commandées sur une ou plusieurs dates de livraison
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 1
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <p>Cette fonctionnalité sera à nouveau bientôt disponible</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}