{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}Modifier le délai de la ferme{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ retUrl }}">Gestion des contrats signés</a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ mc.nom }}
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        <div class="row ">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
                    Concerne uniquement ce contrat. <br />
                    Le délai de la ferme de ce contrat est défini en accord avec le·a paysan·ne. Il permet de :<br />
                    <ul>
                        <li>mieux préparer la livraison avec des quantités définitives,</li>
                        <li>avoir une valeur supérieure à 0, 0 étant le jour de la livraison,</li>
                        <li>rester modifiable sur toute la durée du contrat avec le bouton “délai de la ferme”, en accord avec le·a paysan·ne.</li>
                    </ul>
                    Exemple : L'AMAP livre les jeudis et le·a paysan·ne doit connaître les quantités à livrer le mardi matin alors il faut noter 3 sur le délai de la ferme. Donc jusqu’au lundi soir, pour la livraison du jeudi à venir :<br />
                    <ul>
                        <li>L'amapien·ne pourra déplacer et/ou reporter la livraison.</li>
                        <li>Un·e référent·e pourra ajouter un contrat sur les dates à venir.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 well ">
                {{ form_row(form.delaiModifContrat) }}

                <div class="mt-1 text-right">
                    <a href="{{ retUrl }}" class="btn btn-default">Retour</a>
                    <input type="submit" value="Valider" class="btn btn-success"/>
                </div>
            </div>


        </div>

    {{ form_end(form) }}
{% endblock %}
