{% extends 'base_connected.html.twig' %}

{% block title %}
    Gestion des contrats signés
{% endblock %}

{% block main %}
    {{ form_start(searchForm, {'attr': {'class': 'js-form-search form-horizontal-no-margin'}}) }}
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">AMAP</button>
                        </span>
                        {{ form_widget(searchForm.amap) }}
                        {{ form_errors(searchForm.amap) }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Contrat</button>
                        </span>
                        {{ form_widget(searchForm.mc) }}
                        {{ form_errors(searchForm.mc) }}
                    </div>
                </div>

                {% if searchForm.contratPaiementStatut is defined %}
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Paiement</button>
                            </span>
                            {{ form_widget(searchForm.contratPaiementStatut) }}
                            {{ form_errors(searchForm.contratPaiementStatut) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {{ form_end(searchForm) }}

    {% include 'contrat_signe/_display_all_list.html.twig' %}
{% endblock %}