{% extends 'base_connected.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block main %}
    <form method="GET" action="" class="js-form-search form-horizontal-no-margin">
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Région</button>
                        </span>
                        {{ form_widget(searchForm.region) }}
                        {{ form_errors(searchForm.region) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Département</button>
                        </span>
                        {{ form_widget(searchForm.departement) }}
                        {{ form_errors(searchForm.departement) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Réseau</button>
                        </span>
                        {{ form_widget(searchForm.reseau) }}
                        {{ form_errors(searchForm.reseau) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">AMAP</button>
                        </span>
                        {{ form_widget(searchForm.amapFerme.amap) }}
                        {{ form_errors(searchForm.amapFerme.amap) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Ferme</button>
                        </span>
                        {{ form_widget(searchForm.amapFerme.ferme) }}
                        {{ form_errors(searchForm.amapFerme.ferme) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Contrat</button>
                        </span>
                        {{ form_widget(searchForm.mc) }}
                        {{ form_errors(searchForm.mc) }}
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-12">
                    <a href="{{ site_url(homePath ~ '?reset_search') }}" class="btn btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                    </a>
                </div>
            </div>
        </div><!-- well -->
    </form>

    {% include 'contrat_signe/_display_all_list.html.twig' %}
{% endblock %}