{% extends 'base_connected.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}


{% block main %}
    <form method="GET" action="" class="js-form-search form-horizontal-no-margin">
        <div class="well">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">AMAP</button>
                        </span>
                        {{ form_widget(searchForm.amap) }}
                        {{ form_errors(searchForm.amap) }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Ferme</button>
                        </span>
                        {{ form_widget(searchForm.ferme) }}
                        {{ form_errors(searchForm.ferme) }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Contrat</button>
                        </span>
                        {{ form_widget(searchForm.mc) }}
                        {{ form_errors(searchForm.mc) }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Paiement</button>
                        </span>
                        {{ form_widget(searchForm.contratPaiementStatut) }}
                        {{ form_errors(searchForm.contratPaiementStatut) }}
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <a href="{{ site_url(homePath ~ '?reset_search') }}" class="btn btn-primary" style="margin-right:5px;">
                    <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                </a>
            </div>
        </div><!-- well -->
    </form>

    {% include 'contrat_signe/_display_all_list.html.twig' %}
{% endblock %}