{% extends 'base_connected.html.twig' %}

{% form_theme form "form/form_theme_vertical.html.twig" %}

{% block title %}
    Déplacer une date de livraison
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retPath) }}">Gestion des contrats signés</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ mc.nom }}
        <i class="glyphicon glyphicon-menu-right"></i>
        Déplacer une date de livraison
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 1
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        <div class="alert alert-info">
            <p>Cette page vous permet de déplacer une date de livraison pour tous les adhérents à ce contrat, en gardant à l'identique les quantités commandées.</p>
            <p>La liste des emails des personnes impactées sera affichée, vous pourrez alors les avertir.</p>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="date_a_deplacer" class="col-md-12 control-label pt-0">La date à déplacer (année-mois-jour)</label>
                <div class="col-md-12">
                    {{ form_widget(form.src) }}
                    {{ form_errors(form.src) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="nouvelle_date" class="col-md-12 control-label pt-0">La nouvelle date (année-mois-jour)</label>
                <div class="col-md-12">
                    {{ form_widget(form.dst) }}
                    {{ form_errors(form.dst) }}
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ retPath }}" class="btn btn-default">Annuler</a>
                    <input type="submit" value="Étape suivante" class="btn btn-success"/>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}