{% extends 'base_connected.html.twig' %}

{% block title %}
    Confirmation avant déplacement
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retPath) }}">Gestion des contrats signés</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ mc.nom }}
        <i class="glyphicon glyphicon-menu-right"></i>
        Déplacer une date de livraison
        <i class="glyphicon glyphicon-menu-right"></i>
        Étape 2
    </h5>
{% endblock %}

{% block main %}
    <form method="POST">

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <p class="alert alert-danger">
                    La livraison du <strong>{{ date_a_deplacer.dateLivraison|date_format_french }}</strong> va être déplacée au <strong>{{ nouvelle_date|date_format_french }}</strong>.
                </p>

                {% set nbr_amapiens = mc_amapiens_deplacement|length %}
                <p>Les {{ nbr_amapiens }} utilisateurs suivants sont impactés par cette suppression :</p>

                {% if nbr_amapiens != 0 %}
                    <div class="alert alert-warning">
                        {{ mc_amapiens_deplacement|map(amapien => amapien.user.name.fullNameInversed)|join(' ; ') }}
                    </div>
                {% endif %}

                <p>Pour les prévenir de ce changement, voici la liste de leurs adresses email :</p>

                {% if nbr_amapiens != 0 %}
                    <div class="alert alert-warning">
                        {{ mc_amapiens_deplacement|map(amapien => amapien.user.emails|join(';'))|join(' ; ') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group text-right">
            <div class="col-md-12">
                <a href="{{ site_url(retPath) }}" class="btn btn-default">Annuler</a>
                <input type="submit" value="Sauvegarder" class="btn btn-success"/>
            </div>
            </div>
    </div>

    </form>
{% endblock %}