{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}


{% block title %}
    Sélection de l'amapien
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="pt-0">Amapien</label>
                {{ form_errors(form.amapien) }}

                {{ form_widget(form.amapien) }}
            </div>
        </div>

        <div class="col-xs-12">
            <button class="btn btn-success pull-right" style="margin-left: 10px;">Étape suivante</button>
            <a class="btn btn-default pull-right" href="{{ site_url(retUrl) }}">Retour</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}