{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}Modifier le paiement{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ retUrl }}">Gestion des contrats signés</a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ mc.nom }}
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        <div class="row ">

            <div class="col-sm-4 col-sm-offset-4 well ">
                {{ form_row(form.contratPaiementStatut) }}

                <div class="mt-1 text-right">
                    <a href="{{ retUrl }}" class="btn btn-default">Retour</a>
                    <input type="submit" value="Valider" class="btn btn-success"/>
                </div>
            </div>


        </div>

    {{ form_end(form) }}
{% endblock %}
