{% extends 'base_connected.html.twig' %}

{% block title %}
    Règlement du contrat
{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-xs-12">
            Votre contrat a bien été créé. Cliquez sur le bouton ci-dessous pour être redirigé sur l'interface de paiement.
        </div>
        <div class="col-xs-12 text-center">
            {{ form_start(form) }}
                {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
