{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Le planning des absences
{% endblock %}

{% block breadcrumb %}
    <h5>
        Gestionnaire <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('amap_index') }}">Gestion de mon AMAP </a><i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('amap_absence_liste', {amapId: absence.amap.id}) }}">Le planning des absences </a><i class="glyphicon glyphicon-menu-right"></i>
       Nouvelle absence
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.absenceDebut) }}
    {{ form_row(form.absenceFin) }}

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pull-right">Sauvegarder</button>
                <a href="{{ url('amap_absence_liste', {amapId: absence.amap.id}) }}" class="btn btn-default pull-right" style="margin-right:5px;">Annuler</a>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}
