{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    La planning des absences
{% endblock %}

{% block breadcrumb %}
    <h5>
        Gestionnaire <i class="glyphicon glyphicon-menu-right"></i>
        <a href="/amap">Gestion de mon AMAP </a><i class="glyphicon glyphicon-menu-right"></i>
        Le planning des absences  <i class="glyphicon glyphicon-menu-right"></i>
    </h5>
{% endblock %}


{% block main %}
    <p>
        <a href="{{ url('amap_absence_form', {amapId: amap.id}) }}" class="btn btn-success" style="margin-right:5px;"><i
                    class="glyphicon glyphicon-plus"></i> Ajouter une nouvelle période d'absence
        </a>
    </p>

    <table class="table table-datatable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
                <tr>
                    <td>
                        {{ absence.titre }}
                    </td>
                    <td>
                        {{ absence.absenceDebut|date_format_french }}
                    </td>
                    <td>
                        {{ absence.absenceFin|date_format_french }}
                    </td>
                    <td>
                        {{ bouton_action('', [
                            [true, '#modal_remove_' ~ absence.id, 'remove', "Supprimer la période d'absence"],
                        ]) }}
                        {{ modals.modal_oui_non(
                            'modal_remove_' ~ absence.id,
                            "Voulez-vous vraiment supprimer la période d'absence <strong>" ~ absence.titre ~ '</strong>',
                            url('amap_absence_supprimer', {absenceId: absence.id}),
                            ''
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
