{% macro render_menu(item) %}
    {% for child in item %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ child.name }}&nbsp;<span class="caret"></span>&nbsp;</a>
            <ul class="dropdown-menu">
                {% for child2 in child %}
                    {% if child2.extra('add_separator_before') ?? false %}
                        <hr />
                    {% endif %}
                    <li><a href="{{ site_url(child2.uri) }}" {% if child2.extras.target is defined %}target="{{ child2.extras.target }}"{% endif %}>{{ child2.name }}</a></li>
                    {% if child2.extra('add_separator_after') ?? false %}
                        <hr />
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img alt=" {{ SITE_NAME }}" src="{{ base_url('assets/images/logo-clicamap.png') }}" style="height:3.5em;"/></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ _self.render_menu(item.left) }}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{ _self.render_menu(item.right) }}
            </ul>
        </div>

    </div>
</nav>
