{% extends 'base_connected.html.twig' %}

{% block title %}Les administrateurs de la région "{{ region.nom }}"{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('region_index') }}">Les régions</a>
        <i class="glyphicon glyphicon-menu-right"></i> {{ region.nom }}
        <i class="glyphicon glyphicon-menu-right"></i> Administrateurs</h5>
{% endblock %}

{% block main %}


    <div class="alert alert-info">
        Si vous voulez ajouter un administrateur à la région, utilisez le champ ci-dessous <strong>en vous aidant des
            suggestions proposées en cours de frappe</strong>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form.user) }}
        {{ form_errors(form.user) }}

        <div class="form-group col-sm-12 mt-1">
            <input type="submit" value="Ajouter" class="btn btn-success pull-right"/>
        </div>

    {{ form_end(form) }}

    {% for reg_admin in region.admins %}
        {% if reg_admin == app.currentUser %}
            <button class="btn btn-default btn-sm" disabled>{{ reg_admin.name }}</button>&nbsp;
        {% else %}
            <a
                    href="#"
                    data-toggle="modal"
                    data-target="#modal_{{ reg_admin.id }}">
                <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Retirer les droits à l'amapien">
                    {{ reg_admin.name }} <i class="glyphicon glyphicon-remove"></i>
                </button>
            </a>

            <div class="modal fade text-left" id="modal_{{ reg_admin.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Région "{{ region.nom }}"</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Voulez-vous vraiment retirer les droits d'administration à "{{ reg_admin.name }}" ?</h5>
                            <p class="text-right">
                                <a href=" {{ url('region_remove_reg_admin', {region_id: region.id, reg_adm_id: reg_admin.id}) }}"
                                   class="btn btn-danger btn-sm">OUI</a>&nbsp;
                                <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}


{% endblock %}
