{% extends 'base_connected.html.twig' %}

{% block title %}Les régions de France{% endblock %}

{% block main %}
    {% if region_all|length > 0 %}
        <div class="alert alert-info">À l'aide des actions de cette liste, vous pourrez ajouter des administrateurs aux régions ainsi qu'aux départements.</div>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Régions</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>

            {% for region in region_all %}
            <tr>
                <th scope="row">
                    {{ region.nom|capitalize }}
                </th>

                <td>
                    {{ bouton_action('', [
                        [true, url('region_region_logo', {region_id: region.id}), 'picture', 'Icône du réseau'],
                        [true, url('region_departement', {region_id: region.id}), 'cloud', 'Départements de la région'],
                        [true, url('region_reg_admin', {region_id: region.id}), 'education', 'Administrateurs de la région'],
                    ]) }}
                </td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
