{% extends 'base_connected.html.twig' %}


{% block title %}
    Nouveau document
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('portail_index') }}">Accueil</a>
        <i class="glyphicon glyphicon-menu-right"></i> Communication
        <i class="glyphicon glyphicon-menu-right"></i> <a href="{{ url('documentation_list_documents') }}">Gestion des guides</a>
        <i class="glyphicon glyphicon-menu-right"></i> Nouveau document
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.nom) }}

    <div class="form-group">
        <label for="permission" class="col-sm-2 control-label">Type d'utilisateur</label>
        <div class="col-sm-5">
            {{ form_widget(form.permissionAnonyme) }}
            {{ form_widget(form.permissionAdmin) }}
            {{ form_widget(form.permissionPaysan) }}
            {{ form_widget(form.permissionAmap) }}
            {{ form_widget(form.permissionAmapienref) }}
            {{ form_widget(form.permissionAmapien) }}
        </div>
    </div>

    {{ form_row(form.lien) }}

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right">Sauvegarder</button>
            <a href="{{ url('documentation_list_documents') }}" class="btn btn-default pull-right" style="margin-right:5px;">Annuler</a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
