{% extends 'base_connected.html.twig' %}

{% block title %}
    Documentation
{% endblock %}

{% block main %}
    <div class="well well-lg">
        <div class="panel-group" id="accordion">
            {% for document in documents %}
                <p><a href="{{ document.lien }}" target="_blank">{{ document.nom }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
