{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block title %}
    Gestion des guides
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('portail_index') }}">Accueil</a>
        <i class="glyphicon glyphicon-menu-right"></i> Communication
        <i class="glyphicon glyphicon-menu-right"></i> Gestion des guides
    </h5>
{% endblock %}

{% block main %}
    <p><a href="{{ url('documentation_form') }}" class="btn btn-success" style="margin-right:5px;"><i class="glyphicon glyphicon-plus"></i> Créer un nouveau document</a></p>

    <table class="table table-datatable" id="table-documents">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type d'utilisateur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.nom }}</td>
                    <td>{{ document|formatPermission }}</td>
                    <td>
                        {{ bouton_action('', [
                            [true, document.lien, 'eye-open', 'Voir le document'],
                            [true, url('documentation_form', {document_id: document.id}), 'edit', 'Modifier le document'],
                            [true, '#modal-remove', 'remove', 'Supprimer le document'],
                        ]) }}

                        {{ modals.modal_oui_non(
                            'modal-remove',
                            'Voulez-vous vraiment supprimer le document <strong>' ~ document.nom ~ '</strong>',
                            url('documentation_supprimer', {document_id: document.id}),
                            ''
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
