{% extends 'base_connected.html.twig' %}

{% set title = actu.id is null ? 'Nouvelle version' : 'Modification version' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumb %}
    <h5>
        Communication
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('actualites') }}">Gestion des versions</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ title }}
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

        {{ form_row(form.titre) }}
        {{ form_row(form.date) }}
        {{ form_row(form.description) }}

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a href="{{ url('actualites') }}" class="btn btn-default">Annuler</a>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
