{% extends 'base_connected.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}


{% block title %}
    Gestion des versions
{% endblock %}

{% block breadcrumb %}
    <h5>
        Communication
        <i class="glyphicon glyphicon-menu-right"></i>
        <a href="{{ url('actualites') }}">Gestion des versions</a>
    </h5>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="{{ url('actualites_form') }}">Ajouter</a>
            <button class="btn btn-danger js-tableselect-button" disabled data-toggle="modal" data-target="#modal_remove_multiple">Supprimer</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 1, "desc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th>
                        <input
                            type="checkbox"
                            class="js-tableselect-all"
                        />
                    </th>
                    <th>Date</th>
                    <th>Titre de la nouvelle version</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for actualite in actualites %}
                        <tr>
                            <td>
                                <input class="js-tableselect-row" type="checkbox" name="actus_selected[]" value="{{ actualite.id }}" />
                            </td>
                            <td data-order="{{ actualite.date|date("U") }}">
                                {{ actualite.date|date('d/m/Y') }}
                            </td>
                            <td>
                                {{ actualite.titre }}
                            </td>
                            <td>
                                {{ bouton_action('', [
                                    [true, url('actualites_form', {id: actualite.id}), 'edit', 'Modifier'],
                                    [true, "#modal_remove_" ~ actualite.id, 'remove', 'Supprimer'],
                                ]) }}

                                {{ modals.modal_post(
                                    "modal_remove_" ~ actualite.id,
                                    "Supprimer la version",
                                    "Êtes-vous sûr de vouloir supprimer la version ?",
                                    url('actualites_supprimer', {selected: actualite.id}),
                                    "Confirmer la suppression de l'actualité"
                                ) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ modals.modal_post(
        "modal_remove_multiple",
        "Supprimer les versions",
        "Êtes-vous sûr de vouloir supprimer les versions selectionnées ?",
        url('actualites_supprimer'),
        "Confirmer la suppression des actualités",
        'js-tableselect-modal-form-update-action'
    ) }}
{% endblock %}
