{% extends 'base_connected.html.twig' %}

{% block title %}
    Les dernières versions
{% endblock %}

{% block main %}
    {% for actu in actualites %}
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {{ actu.date|date('d.m.Y') }}
            </div>
            <div class="col-xs-12 col-sm-9">
                <h4>{{ actu.titre }}</h4>
                {{ actu.description|purify_summernote }}
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
    {% endfor %}
{% endblock %}
