{% extends 'base_connected.html.twig' %}

{% block title %}
    Calendrier des livraisons
{% endblock %}

{% block main %}
    <div class="alert alert-info">Une date en vert indique une livraison, cliquer dessus pour voir le détail.</div>

    <div class="table-responsive calendrier">
        {{ calendrier|raw }}
    </div>

    {% if livraisons is defined %}
        {% for key, jour in livraisons %}
            <div class="modal fade" id="modal_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Livraisons du {{ key }}/{{ mois }}/{{ an }}</h4>
                        </div>
                        <div class="modal-body">
                            {% if jour.mc %}
                                {% for mc in jour.mc %}
                                    <div class="well">
                                        <h3>{{ mc.nom|ucfirst }}</h3>
                                        {% set mc_date = jour.cellules.getMcDateFromMcCellules(mc) %}
                                        {% if mc_date is not null %}
                                            <h4>Livraisons <strong>{{ mc.getDatePosition(mc_date) }} / {{ mc.dates|length }}</strong></h4>
                                        {% endif %}
                                        <h4>Lieu : <strong>{{ mc.livraisonLieu.nom|capitalize }} - {{ mc.livraisonLieu.adresse }}, {{ mc.livraisonLieu.ville.cpString }} {{ mc.livraisonLieu.ville.nom }}</strong></h4>
                                        <ul>
                                            {% set cellules = jour.cellules.getByMcAmapien(mc, amapien) %}
                                            {% for cellule in cellules %}
                                                {% set produit = cellule.modeleContratProduit %}
                                                {% if cellule.quantite != 0 %}
                                                    <li><strong>{{ cellule.quantite }}</strong> {{ produit.nom|capitalize }} ({{ produit.conditionnement }})</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h5>Il n'y a pas encore de commande pour cette date.</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
