{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Informations générales
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ retUrl }}">Gestion des amapiens</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Vérification
    </h5>
{% endblock %}

{% block main %}

   {{ form_start(form) }}

        <label>Veuillez renseigner l'email ou l'identifiant de l'amapien ci-dessous. Si l'email existe déjà sur clic'amap,
        l'amapien recevra un email l'invitant à rejoindre votre AMAP.
        </label>
        {{ form_row(form.user) }}

        {% if warning_not_found %}
            <div class="alert alert-danger">
                Aucun amapien n'a été trouvé avec cet email ou cet identifiant. Pour créer un nouvel amapien,

                <a href="{{ url('amapien_informations_generales_creation', {amap_id: amap.id}) }}">cliquez ici</a>
            </div>
        {% endif %}

        <div class="text-right">
            <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
            <button type="submit" class="btn btn-primary">Vérifier</button>
        </div>
    {{ form_end(form) }}

{% endblock %}
