{% extends 'base_connected.html.twig' %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block title %}Liste des amapiens{% endblock %}

{% import "macro/_modals.html.twig" as modals %}


{% macro amapienCreationBouton(amapienSearchState) %}
    {# Un amapien ne peut-être créé qu'en lien avec une AMAP#}
    {% if null != amapienSearchState and null != amapienSearchState.amap  %}
        <a href="{{ url('amapien_creation_verification', {amap_id: amapienSearchState.amap.id}) }}" class="btn btn-success"><i
                class="glyphicon glyphicon-plus"></i> Créer un nouvel amapien</a>
    {% else %}
        <a href="#" class="btn btn-success" disabled><i class="glyphicon glyphicon-plus"></i> Créer un nouvel amapien</a>
    {% endif %}
{% endmacro %}

{% block main %}
    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}

        <div class="well">
            <div class="row">
                {% if searchForm.region is defined %}
                    <div class="col-md-4">
                        {{ form_row(searchForm.region) }}
                    </div>
                {% endif %}

                {% if searchForm.departement is defined %}
                    <div class="col-md-4">
                        {{ form_row(searchForm.departement) }}
                    </div>
                {% endif %}

                {% if searchForm.reseau is defined %}
                    <div class="col-md-4">
                        {{ form_row(searchForm.reseau) }}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(searchForm.amap) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.adhesion) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(searchForm.keyword) }}
                </div>

            </div>


            <div class="row">
                <div class="col-md-4">
                    {{ form_row(searchForm.filter) }}
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-12">
                    <a href="?reset_search" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>
                        Réinitialiser les critères de recherche</a>
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-list"></i> Générer la liste
                    </button>
                </div>
            </div>

        </div>

    {{ form_end(searchForm) }}

    {% if amapiens|length > 0 %}
        <p>
            {{ _self.amapienCreationBouton(amapienSearchState) }}
            {% if is_granted('ACTION_IMPORT') %}
                <a class="btn btn-success" href="{{ url('import_index') }}">
                    <i class="glyphicon glyphicon-upload"></i>
                    Importer une liste
                </a>
                <a href="{{ site_url(downloadPath) }}" class="btn btn-primary"><i
                            class="glyphicon glyphicon-download"></i> Télécharger la liste</a>
            {% endif %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_email" data-dismiss="modal"
               aria-hidden="true"><i class="glyphicon glyphicon-envelope"></i> Emails de la liste</a>
            <a
                href="#"
                class="btn btn-primary js-tableselect-button"
                data-toggle="modal"
                data-target="#modal_activation"
                data-dismiss="modal"
               aria-hidden="true">
                <i class="glyphicon glyphicon-play"></i> Activer la sélection
            </a>
        </p>

        {{ modals.modal_oui_non(
            'modal_activation',
            'Voulez-vous vraiment activer les comptes des amapiens sélectionnés (seul les amapiens inactifs sont concernés et un email leur est envoyé)',
            url('amapien_activation_multiple'),
            '',
            'js-tableselect-modal-form-update-action'
        ) }}

        <!-- Modal email -->
        <div class="modal fade" id="modal_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Comment envoyer un email à tous les amapiens de cette liste
                            ?</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Pour envoyer un email à tous ces amapiens , vous devez :</h5>
                        <ul>
                            <li>Faire un copier de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit +
                                Copier sur la zone bleue ci dessous
                            </li>
                            <li>Ouvrir votre outil favori pour l'envoi des mails (Thunderbird, Gmail, Outlook, ...)</li>
                            <li>Faire nouveau message</li>
                            <li>Faire un coller de toutes les adresses e-mail en faisant Ctrl+C ou en faisant clic droit +
                                Coller dans la liste des destinataires du message.
                            </li>
                        </ul>

                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="5">{{ amapiens|map(a => a.user)|users_emails_list }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if amapiens|length == 1 %}
            <div class="alert alert-success">1 résultat pour cette recherche :</div>
        {% else %}
            <div class="alert alert-success">{{ amapiens|length }} résultats pour cette recherche :</div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            <input
                                    type="checkbox"
                                    class="js-tableselect-all"
                            />
                        </th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        {% if app.currentUser.isAdmin %}
                            <th>AMAP</th>
                        {% endif %}
                        <th>Liste d'attente</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for amapien in amapiens %}
                        <tr>
                            <td><input class="js-tableselect-row" type="checkbox" name="amapien_selected[]" value="{{ amapien.id }}"></td>
                            <th scope="row">
                                {{ (amapien.user.name.lastName ?? '')|upper }}
                            </th>
                            <td>
                                {{ (amapien.user.name.firstName ?? '')|ucfirst }}
                            </td>
                            <td>
                                {% set user_emails = amapien.user.emails|join(';') %}
                                <a
                                    href="mailto:{{ user_emails }}">
                                    {{ user_emails }}
                                </a>
                            </td>

                            {% if app.currentUser.isAdmin %}
                                {% set amapien_amap = amapien.amap %}
                                <td>
                                    {% if null != amapien_amap %}
                                        <a href="{{ url('amap_display', {amap_id: amapien_amap.id}) }}">{{ amapien_amap.nom }}</a>
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td>
                                {% if not amapien.fermeAttentes.isEmpty() %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </td>

                            <td>

                                {% set icon = 'play' %}
                                {% set text = "Activer le compte de l'amapien" %}

                                {% if amapien.etat == constant('PsrLib\\ORM\\Entity\\ActivableUserInterface::ETAT_ACTIF') %}
                                    {% set icon = 'pause' %}
                                    {% set text = "Désactiver le compte de l'amapien" %}
                                {% endif %}

                                {{ bouton_action('',
                                        [
                                        [true, url('amapien_display', {amapien_id: amapien.id}), 'eye-open', "Profil de l'amapien"],
                                        [true, url('amapien_informations_generales_edition', {amapien_id: amapien.id}), 'edit', "Modifier le profil de l'amapien"],
                                        [true, url('amapien_liste_attente', {amapien_id: amapien.id}), 'list', "Modifier la liste d'attente de l'amapien"],
                                        [true, url('amapien_de_activate', {amapien_id: amapien.id, etat: amapien.etat}), icon, text],
                                        [true, '#modal_key_' ~ amapien.id, 'lock', "Envoyer un mot de passe à l'amapien"],
                                        [is_granted('ACTION_AMAPIEN_REMOVE', amapien), '#modal_delete_' ~ amapien.id, 'trash', "Supprimer l'amapien"],
                                    ]) }}

                                {{ modals.modal_oui_non('modal_key_' ~ amapien.id,
                                        "Voulez-vous vraiment envoyer un mot de passe à l'amapien(ne) <strong>" ~ amapien.user ~ '</strong>',
                                        url('amapien_password', {amapien_id: amapien.id}),
                                        "<u>Attention :</u> cette action créera un mot de passe à l'amapien (même s'il en a déjà un) qui lui sera envoyé par email ; de plus, son profil sera activé !") }}

                                {{ modals.modal_oui_non('modal_delete_' ~ amapien.id,
                                        "Voulez-vous vraiment supprimer l'amapien(ne) <strong>" ~ amapien.user ~ '</strong>',
                                        url('amapien_suppression', {amapien_id: amapien.id}),
                                        "<u>Attention :</u> cette action est irréversible !<br />Pour que l'amapien soit supprimé du suivi de livraison veuillez mettre ses livraisons futures à zéro") }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    {% else %}
        <p>
            {{ _self.amapienCreationBouton(amapienSearchState) }}&nbsp;
            <a href="#" class="btn btn-primary" disabled><i class="glyphicon glyphicon-download"></i> Télécharger la liste</a>&nbsp;
            <a href="#" class="btn btn-primary" disabled><i class="glyphicon glyphicon-envelope"></i> Emails de la liste</a>&nbsp;
            <a href="#" class="btn btn-primary" disabled><i class="glyphicon glyphicon-lock"></i></a>
        </p>

    {% endif %}
{% endblock %}
