{% extends 'base_connected.html.twig' %}

{% block title %}Détails du profil{% endblock %}

{% block breadcrumb %}
    <h5><a href="{{ retUrl }}">Gestion des amapiens</a> <i class="glyphicon glyphicon-menu-right"></i> {{ amapien.user }}</h5>
{% endblock %}

{% block main %}
    <p class="text-right">
        {% set edit_url = url('amapien_informations_generales_edition', {amapien_id: amapien.id}) %}
        <a href="{{ edit_url }}" class="btn btn-success"><span class="glyphicon glyphicon-edit">&nbsp;</span>Éditer le profil</a>
    </p>

    <div class="table-responsive well">
        <h3 style="font-size:20px;">{{ amapien.user }}</h3>
        <table class="table">
            <tbody>
                {% set sup_adm = amapien.user.isSuperAdmin %}
                {% set gest_amap = amapien.isGestionnaire %}
                {% set ref_pro = amapien.isRefProduit %}
                {% set ref_res = amapien.amap.amapienRefReseau == amapien %}
                {% set ref_res_sec = amapien.amap.amapienRefReseauSecondaire == amapien %}

                <tr>
                    {% if sup_adm or gest_amap or ref_pro or ref_res or ref_res_sec %}
                        <th>Rôle</th>
                        <td>
                            {% if sup_adm %}
                            <div><strong>Super Administrateur</strong>.</div>
                            {% endif %}

                            {% if gest_amap %}
                            <div><strong>Correspondant Clic'AMAP</strong> de {{ amapien.amap }}.</div>
                            {% endif %}

                            {% if ref_res %}
                            <div><strong>Correspondant réseau AMAP</strong> de {{ amapien.amap }}.</div>
                            {% endif %}

                            {% if ref_res_sec %}
                            <div><strong>Second Correspondant réseau AMAP</strong> de {{ amapien.amap }}.</div>
                            {% endif %}

                            {% if ref_pro %}
                                <div>
                                    <strong>Référent produit</strong> auprès de :
                                    <ul>
                                        {% for ferme in amapien.refProdFermes.toArray %}
                                            <li>{{ ferme }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <td>{{ amapien.user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{ amapien.user.emails|join(';') }}">{{ amapien.user.emails|join(';') }}</a>
                    </td>
                </tr>
                {% if amapien.user.numTel1 %}
                    <tr>
                        <th>Numéro de téléphone n°1</th>
                        <td>{{ amapien.user.numTel1 }}</td>
                    </tr>
                    {% endif %}
                {% if amapien.user.numTel2 %}
                    <tr>
                        <th>Numéro de téléphone n°2</th>
                        <td>{{ amapien.user.numTel2 }}</td>
                    </tr>
                {% endif %}
                {% if amapien.user.ville %}
                    <tr>
                        <th>Adresse</th>
                        <td>
                            {% set address = '' %}
                            {% if amapien.user.address.adress %}
                                {% set address = amapien.user.address.adress|capitalize %}
                            {% elseif amapien.user.address.adressCompl %}
                                {% set address = amapien.user.address.adressCompl|capitalize %}
                            {% endif %}

                            {{ address ~ ', ' ~ amapien.user.ville.cpString ~ ' ' ~ amapien.user.ville.nom|upper }}
                        </td>
                    </tr>
                {% endif %}
                {% set adhesions = amapien.anneeAdhesionsOrdered %}
                {% if adhesions|length > 0 %}
                    <tr>
                        <th>Année(s) d'adhésion :</th>
                        <td>{{ adhesions|join(' ; ') }}</td>
                    </tr>
                {% endif %}
                {% if amapien.fermeAttentes is not empty %}
                    <tr>
                        <th>Liste d'attente</th>
                        <td>{{ amapien.fermeAttentes.toArray|join(' ; ') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Autorisation liste de diffusion</th>
                    <td>
                        {{ amapien.user.newsletter ? 'Oui' : 'Non' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-right">
        <a href="{{ retUrl }}" class="btn btn-default">Retour</a>
    </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}

  <script type="text/javascript">
    /*ALERTES*/
    $(document).ready(function () {
        $('#alerte').modal('show');

        setTimeout(function () {
            $('#alerte').modal('hide')
        }, 2500);
    });
</script>
{% endblock %}
