{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}

{% block title %}
    Informations générales
{% endblock %}

{% block breadcrumb %}
    <h5>
        <a href="{{ retUrl }}">Gestion des amapiens</a>
        <i class="glyphicon glyphicon-menu-right"></i>

        {% if amapien.id is not null %}
            {{ amapien.user }} <i class="glyphicon glyphicon-menu-right"></i> Édition
        {% else %}
            Création
        {% endif %}
    </h5>
{% endblock %}

{% block main %}

    <script type="text/javascript">

      /* AUTOCOMPLÉTION CP / VILLE */
      $(document).ready(function () {

        $(function () {
          $("#code_postal_ville").autocomplete({
            source: "{{ url('ajax_get_cp_ville_suggestion') }}",
            dataType: "json",
            minLength: 4,
            appendTo: "#container"
          });
        });

        initFormUsernameAutoFill(
          document.getElementById("{{ form.user.username.vars.id }}"),
          document.getElementById("{{ form.user.name.firstName.vars.id }}"),
          document.getElementById("{{ form.user.name.lastName.vars.id }}"),
        );
      });

    </script>
    {{ form_start(form) }}


    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group col-md-6">
                    <label for="nom" class="control-label">Nom : </label>
                    {{ form_widget(form.user.name.lastName) }}
                    {{ form_errors(form.user.name.lastName) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="prenom" class="control-label">Prénom : </label>
                    {{ form_widget(form.user.name.firstName) }}
                    {{ form_errors(form.user.name.firstName) }}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="form-group col-md-4">
                    <label for="num_tel_1" class="control-label">Téléphone n°1 : </label>
                    {{ form_widget(form.user.numTel1) }}
                    {{ form_errors(form.user.numTel1) }}
                </div>

                <div class="form-group col-md-4">
                    <label for="num_tel_2" class="control-label">Téléphone n°2 : </label>
                    {{ form_widget(form.user.numTel2) }}
                    {{ form_errors(form.user.numTel2) }}
                </div>

            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="nom" class="control-label">Nom d’utilisateur unique ClicAMAP :</label>
                    {{ form_widget(form.user.username) }}
                    {{ form_errors(form.user.username) }}
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        Attention l'email n'est pas un champ obligatoire ici afin de vous permettre d'enregistrer dans votre liste
        d'amapien des personnes qui n'ont pas accès à Internet. Vous êtes cependant fortement encouragé à le
        renseigner, afin de faciliter la communication avec vos amapien.nes.
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">

                {{ form_row(form.user.emails) }}

            </div>

            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button id="add_email" type="button" class="btn btn-primary d-inline-block">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">

                {{ form_widget(form.user.newsletter) }}
                {{ form_errors(form.user.newsletter) }}

            </div>
        </div>
    </div>


    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group <?= $form->offsetExists('libAdr1Complement') ? 'col-md-12' : 'col-md-6'; ?>">
                    <label for="lib_adr_1" class="control-label">Adresse : </label>
                    {{ form_widget(form.user.address.adress) }}
                    {{ form_errors(form.user.address.adress) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="lib_adr_1" class="control-label">Complément d'adresse : </label>
                    {{ form_widget(form.user.address.adressCompl) }}
                    {{ form_errors(form.user.address.adressCompl) }}
                </div>

                <div class="form-group col-md-6">
                    <label for="code_postal_ville" class="control-label">Code postal, Ville (à remplir à l'aide des
                        suggestions) : </label>
                    {{ form_widget(form.user.ville) }}
                    {{ form_errors(form.user.ville) }}

                    <div id="container" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>

                </div>

            </div>
        </div>
    </div>

    {% if form.adhesionInfo is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label">Nom du réseau</label>
                        {{ form_widget(form.adhesionInfo.nomReseau) }}
                        {{ form_errors(form.adhesionInfo.nomReseau) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ville mentionnée dans la signature (Fait à )</label>
                        {{ form_widget(form.adhesionInfo.villeSignature) }}
                        {{ form_errors(form.adhesionInfo.villeSignature) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">SIRET</label>
                        {{ form_widget(form.adhesionInfo.siret) }}
                        {{ form_errors(form.adhesionInfo.siret) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">RNA</label>
                        {{ form_widget(form.adhesionInfo.rna) }}
                        {{ form_errors(form.adhesionInfo.rna) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Site internet</label>
                        {{ form_widget(form.adhesionInfo.site) }}
                        {{ form_errors(form.adhesionInfo.site) }}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    {% if form.anneeAdhesions is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="annee_adhesion" class="control-label">Années d'adhésion (Liste à choix multiples
                            (maintenez Shift ou Ctrl enfoncés pour sélectionner / désélectionner plusieurs années))
                            :</label>
                        {{ form_widget(form.anneeAdhesions) }}
                        {{ form_errors(form.anneeAdhesions) }}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

    {% if form.needWaiting is defined %}
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">

                    <label for="liste_attente" class="col-lg-12 control-label">L'amapien doit-il être mis sur la liste
                        d'attente de certaines fermes ?</label>

                    {{ form_widget(form.needWaiting) }}
                    {{ form_errors(form.needWaiting) }}

                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group text-right">
        <a href="{{ retUrl }}" class="btn btn-default">Annuler</a>
        <input type="submit" value="Sauvegarder" class="btn btn-success"/>
    </div>

    {{ form_end(form) }}

    <script>
      initFormUserEmails("{{ form.user.emails.vars.id }}")

    </script>

{% endblock %}
