{% extends 'base_connected.html.twig' %}

{% block title %}
    Liste d'attente
{% endblock %}

{% form_theme form with ['form_div_layout.html.twig'] %}

{% block breadcrumb %}
    <h5>
        <a href="{{ site_url(retUrl) }}">Gestion des amapiens</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        {{ amapien.user }}
        <i class="glyphicon glyphicon-menu-right"></i> Liste d'attente
    </h5>
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Cocher les fermes où vous souhaitez que l'amapien soit mis en liste d'attente puis sauvegarder
    </div>

    {% if amapFermes|length > 0 %}
        {{ form_start(form) }}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Ferme</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in form.fermeAttentes %}
                        <tr>
                            <td>{{ field.vars.label }}</td>
                            <td>{{ form_widget(field) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group text-right">
            <a href="{{ site_url(retUrl) }}" class="btn btn-default">Annuler</a>
            <button type="submit" class="btn btn-success">Sauvegarder</button>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-warning">
            Il n'y a pas encore de ferme en lien avec l'AMAP
            <a href="{{ url('ferme_index') }}">Gestion des fermes</a>
        </div>
    {% endif %}
{% endblock %}