{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_vertical.html.twig' %}


{% block title %}Créer un nouvel utilisateur{% endblock %}


{% block main %}
    {{ form_start(form) }}
    {{ include('user_profil/_form_base.html.twig') }}

    <div class="text-right">
        <a class="btn btn-default mr-1" href="{{ url('user_index') }}">Annuler</a>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}

    <script>

        /* AUTOCOMPLÉTION CP / VILLE */
          $(document).ready(function () {

            $(function () {
              $("#code_postal_ville").autocomplete({
                source: "{{ url('ajax_get_cp_ville_suggestion') }}",
                dataType: "json",
                minLength: 4,
                appendTo: "#container"
              });
            });

            initFormUserEmails('user_profil_emails')

            initFormUsernameAutoFill(
              document.getElementById("{{ form.username.vars.id }}"),
              document.getElementById("{{ form.name.firstName.vars.id }}"),
              document.getElementById("{{ form.name.lastName.vars.id }}"),
            );
          });

    </script>
{% endblock %}
