{% extends 'base_connected.html.twig' %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block body_class %}user-list{% endblock %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% import "macro/_modals.html.twig" as modals %}

{% macro fieldBoolDisplay(user, field) %}
    {{ attribute(user, field) ? 'O' : 'N' }}
{% endmacro %}

{% block main %}

    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.region) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(searchForm.departement) }}
                </div>

                <div class="col-md-3">
                    {{ form_row(searchForm.superAdmin) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(searchForm.admin) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(searchForm.paysan) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(searchForm.amap) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(searchForm.amapien) }}
                </div>

            </div>
        </div>
    {{ form_end(searchForm) }}

    <div>
        <a
            class="btn btn-success mb-1"
            href="{{ url('user_creation') }}">Ajouter un nouvel utilisateur</a>
    </div>

    {% if users|length == 1 %}
        <div class="alert alert-success">1 résultat pour cette recherche</div>
    {% else %}
        <div class="alert alert-success">{{ users|length }} résultats pour cette recherche</div>
    {% endif %}

    <div class="">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th class="w-small">Super admin</th>
                <th class="w-small">Admin</th>
                <th class="w-small">Paysan</th>
                <th class="w-small">Amap</th>
                <th class="w-small">Amapien</th>
                <th class="w-small">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name.lastName }}</td>
                    <td>{{ user.name.firstName }}</td>
                    <td class="w-small">{{ _self.fieldBoolDisplay(user, 'superAdmin') }}</td>
                    <td class="w-small">{{ _self.fieldBoolDisplay(user, 'admin') }}</td>
                    <td class="w-small">{{ _self.fieldBoolDisplay(user, 'paysan') }}</td>
                    <td class="w-small">{{ _self.fieldBoolDisplay(user, 'amapAdmin') }}</td>
                    <td class="w-small">{{ _self.fieldBoolDisplay(user, 'amapien') }}</td>
                    <td>
                        {{ modals.modal_post(
                            "modal_mdp_" ~ user.id,
                            "Envoyer un mot de passe",
                            "Êtes-vous sûr envoyer un mot de passe à \"" ~ user.name ~ "\"",
                            url('user_mdp', {userId: user.id}),
                            "Confirmer l'envoi du mot de passe"
                        ) }}

                        {{ bouton_action('', [
                            [true, url('user_modification', {userId: user.id}), 'edit', 'Modifier le profil'],
                            [true, '#modal_mdp_' ~ user.id, 'lock', 'Envoyer un mot de passe à l\'utilisateur'],
                        ]) }}
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}
