{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des abonnements{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block breadcrumb %}
    <h5>
        <a href="{{ url('evenements') }}">Fil d'actualités</a>
        <i class="glyphicon glyphicon-menu-right"></i>
        Je veux suivre +
    </h5>
{% endblock %}

{% block main %}
    {{ form_start(searchForm, {attr: {class: 'js-form-search'}}) }}
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(searchForm.region) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.departement) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(searchForm.type) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(searchForm.keyword) }}
                </div>

                <div class="col-md-8">
                    <div class="col-sm-12"> {# Hack for mobile #}
                        {{ form_row(searchForm.subscriptionOnly) }}
                    </div>

                </div>

                <div class="col-md-12 text-right">
                    <a
                            href="?reset_search"
                            class="btn btn-primary"
                            style="margin-right:5px;">
                        <i class="glyphicon glyphicon-refresh"></i> Réinitialiser les critères de recherche
                    </a>
                </div>

            </div>
        </div>
    {{ form_end(searchForm) }}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                Il existe des abonnements par défaut qui sont liés aux partenariats mis en place par l'AMAP
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table
            class="table table-datatable"
            data-ajax="{{ url('evenement_abonnement_search') }}?{{ app.request.queryString }}"
            data-processing="true"
            data-server-side="true"
        >
            <thead class="thead-inverse">
                <tr>
                    <th data-orderable="true" data-data="nom">Nom</th>
                    <th data-orderable="true" data-data="type">Profil</th>
                    <th data-orderable="false" data-data="action">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

{% endblock %}