<p>Bienvenue sur Clic'AMAP !,</p>

{% set link = url('portail_mdp_oublie') %}

<p>
    Lors de votre première connexion, veuillez utiliser la fonction mot de passe oublié pour créer votre mot de passe : <a href="{{ link }}">{{ link }}</a>
</p>
<p>Merci et belle journée,</p>
<p>clic'AMAP</p>
