<p>Bonjour,</p>

<p>{{ invitation.amap.nom }} souhaite vous ajouter à ses amapiens sur clic'AMAP. Pour valider votre inscription cliquez sur ce lien :
    {% set link = url('amapien_verification_validation', {token_id: invitation.token.token}) %}
    <a href="{{ link }}" target="_blank">{{ link }}</a>
</p>
<p>Merci et belle journée,</p>
<p>clic'AMAP</p>
