{% set mc = contrat.modeleContrat %}

<p>Bonjour,</p>

{% set link = url('contrat_signe_amapien_validation', {contrat_id: contrat.id}) %}
<p>Le contrat {{ mc.nom }} est disponible pour validation à ce lien <a href="{{ link }}">{{ link }}</a>.</p>

<p>
    Attention, tant que vous ne validez pas votre contrat, celui-ci ne sera pas actif. Par ailleurs, il est impératif de le valider avant le {{ contrat.firstLivraisonDateWithFermeDelai|date('d/m/Y') }}.
    Passé ce délai, l'AMAP ne peut plus garantir la première livraison et doit modifier le contrat. Le lien ci-dessus ne fonctionnera plus.
</p>

<p>
    Merci d’avance pour votre implication.<br />
    Amapiennement,<br />
    {{ mc.amap.nom }}<br />
    {{ mc.amap.email }}<br />
    <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
