Bonjour, <br />
Le contrat {{ contrat.nom }} a été refusé par le paysan {{ currentUser }}. <br />
Son motif est : <br />
{{ motif|nl2br }} <br />
<br />
Ensemble nous sommes le mouvement des AMAP. <br />
<br />
{% for paysan in paysans %}
{{ paysan.user }}<br />
{{ paysan.user.emails|join(';') }}<br />
<br />
{% endfor %}