<p>Bonjour, un {{ statut }} vous a envoyé un message depuis {{ app.siteName }} :</p>
<div style="padding:15px; margin:10px 0px; background-color:#fcf8e3;">
    <p>Objet : {{ title }}</p>
    <p>{{ content|nl2br }}</p>
    <p>--<br/>
        {{ nom|upper }} {{ prenom|lower|ucfirst }} <br/>
        {{ amap.nom }}<br/>
        {{ email_from }}<br/>
        {{ currentUser.departement.nom ?? '' }}</p></div>
<p><a href="https://www.clicamap.org/">Cliquez ici pour accéder à l'application</a></p>