<p>Bonjour,</p>

<p>Vous avez pris  le contrat {{ mc.nom }}.</p>

<p>A ce jour, nous sommes en attente d'un ou plusieurs règlements pour ce contrat.</p>

<p>Merci par avance de régulariser la situation au plus vite.</p>

<p>
    Merci d’avance pour votre implication.<br />
    Amapiennement,<br />
    {{ amap.nom }}<br />
    {{ amap.email }}<br />
    <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
