<p>Bonjour,</p>

<p>
    {% set premiere_distribition = distributions|first %}
    Pour la distribution du {{ premiere_distribition.date|date }}, il manque : <br />
    {% for distribution in distributions %}
        - {{ distribution.placesRestantes }} personne(s) de {{ distribution.detail.heureDebut }} à {{ distribution.detail.heureFin }} pour {{ distribution.detail.tache }}<br />
    {% endfor %}
</p>

<p>
    Merci d’avance pour votre implication.<br />
    Amapiennement,<br />
    {{ premiere_distribition.amapLivraisonLieu.amap.nom }}<br />
    {{ premiere_distribition.amapLivraisonLieu.amap.email }}<br />
  <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
