<p>Bonjour,</p>

<p>Vos créneaux de gestion des distrib'AMAP de Clic'AMAP arrivent bientôt à leur fin : pensez à les mettre à jour ou à les prolonger !</p>

<p>Belle journée,<br />
  <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
