<p>Bonjour,</p>

<p>Pour la distrib'AMAP du {{ distribution.date|date }}, vous êtes inscrit.e par l'AMAP à la tâche suivante : <br />
    - {{ distribution.detail.tache }} de {{ distribution.detail.heureDebut }} à {{ distribution.detail.heureFin }}<br />
</p>

<p>
    Merci d’avance pour votre implication.<br />
    Amapiennement,<br />
    {{ distribution.amapLivraisonLieu.amap.nom }}<br />
    {{ distribution.amapLivraisonLieu.amap.email }}<br />
  <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
