<p>Bonjour,</p>

<p>Vous avez été désinscrit.e par l'AMAP de la distrib'AMAP du {{ distribution.date|date }}.</p>

<p>
    Amapiennement,<br />
    {{ distribution.amapLivraisonLieu.amap.nom }}<br />
    {{ distribution.amapLivraisonLieu.amap.email }}<br />
  <a href="https://www.clicamap.org/">clic'AMAP</a>
</p>
