<p>Bonjour,</p>

<p>Le contrat <b>{{ mc.nom }}</b> ne possède pas de délai en jours permettant de suspendre les modifications du contrat
    avant le jour de la livraison.
    Merci de renseigner cette information sur {{ SITE_NAME }} afin que les paysans de cette ferme soient tenus au
    courant par email des futures livraisons.</p>
<p><a href="{{ url('portail_index', [], true) }}">Cliquez ici pour accéder à l'application</a></p>

<p>Merci de ne pas répondre à cet email qui a été généré automatiquement.<br/>
    Cordialement.<br/>
    Ensemble nous sommes le mouvement des AMAP
</p>
