<p>
    Bonjour, voici vos identifiants pour vous connecter à {{ siteName }} :<br/>
    Identifiant : {{ user.username }}<br/>
    Mot de passe : {{ password }}
</p>
<a href="{{ url('portail_index') }}">Cliquez ici pour accéder à l'application</a>
