{% macro form_start_htmx(form, attr) %}
    {% set attr_htmx = {attr: {
        "hx-post": "",
        "hx-trigger": "change",
        "hx-swap": "outerHTML",
        "hx-disabled-elt": "select, input, a, button",
    }}|array_replace_recursive(attr) %}

        {{ form_start(form, attr_htmx) }}
{% endmacro %}

{% macro form_end_htmx(form) %}
    <span class="loader"></span>

    {{ form_end(form) }}
{% endmacro %}