{% macro modal_post(id, title, body, link, linkConfirmTitle, class) %}
    <div class="modal fade text-left {{ class }}" id="{{ id }}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">{{ body|purify_modal }}</div>
                    <form class="text-right" method="POST" action="{{ link }}">
                        <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                        <button type="submit"
                           class="btn btn-danger btn-sm"
                                title="{{ linkConfirmTitle }}"
                        >OUI</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro modal(id, title, body) %}
    <div class="modal fade text-left" id="{{ id }}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    {{ body|raw }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro modal_oui_non(id, question, url, alert, class) %}
    <!-- Modal : {{ id }} -->
    <div class="modal fade text-left {{ class }}" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="myModalLabel">{{ question|purify_modal }} ?</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ site_url(url) }}">
                        {% if alert %}
                            <div class="alert alert-danger">{{ alert|purify_modal }}</div>
                        {% endif %}
                        <p class="text-right">
                            <a href="#" class="btn btn-default btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;NON</a>
                            <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ok"></span>&nbsp;OUI</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
