{% macro pdf_embeded(src) %}
    <object data='{{ src }}'
            type='application/pdf'
            width='100%'
            height='500px'>
        <p>Votre navigateur ne supporte pas la pré-visualisation des PDFs. <a href='{{ src }}'>Télécharger le PDF</a></p>
    </object>
{% endmacro %}
